old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_ActivityAppointmentService/src/oracle/demo/pts/fusionservices/ActivityAppointment/ActivityAppointmentService.xsd

<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/transient/types/"
     xmlns:ns0="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" xmlns:ns3="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/transient/types/"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="ActivityAssignee.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" schemaLocation="Note.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="TransientAppointment.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="AppointmentDeleteException.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/" schemaLocation="CommonAttachments.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="ActivityCategory.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="ActivityContact.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
         schemaLocation="Appointment.xsd"/>
    <element name="getActivityAssignee">
        <complexType>
            <sequence>
                <element name="activityAssigneeId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityAssigneeResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityAssignee">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityAssigneeResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityAssignee">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityAssigneeResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityAssignee">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityAssigneeResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getActivityCategories">
        <complexType>
            <sequence>
                <element name="activityCategoryId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityCategoriesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityCategories">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityCategoriesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityCategories">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityCategoriesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityCategories">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityCategoriesResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getActivityContact">
        <complexType>
            <sequence>
                <element name="activityContactId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityContactResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityContact">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityContactResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityContact">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityContactResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityContact">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityContactResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="deleteNotes">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteNotesResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="createAppointment">
        <complexType>
            <sequence>
                <element name="appointment" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointment">
        <complexType>
            <sequence>
                <element name="activityId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeAppointment">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeAppointmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointment">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointment">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="createAppointmentDeleteException">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentDeleteExceptionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentDeleteException">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentDeleteExceptionResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findActivityAssignee">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityAssigneeResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityCategories">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityCategoriesResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityContact">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityContactResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="getNotes">
        <complexType>
            <sequence>
                <element name="noteId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getNotesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="createNotes">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="createNotesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateNotes">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateNotesResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="findNotes">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findNotesResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointment">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="deleteParams" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="getParameters" type="ns1:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAttachmentResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentDeleteException">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentDeleteExceptionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityCategoriesAsync">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityCategoriesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentDeleteExceptionAsync">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentDeleteExceptionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentAsync">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentAsync">
        <complexType>
            <sequence>
                <element name="appointment" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAppointmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityContactAsync">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityContactAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findNotesAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findNotesAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateNotesAsync">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateNotesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="getParameters" type="ns1:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityContactAsync">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityContactAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityCategoriesAsync">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityCategoriesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityContactAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityContactAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityCategoriesAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityCategoriesAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeAppointmentAsync">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeAppointmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentDeleteExceptionAsync">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentDeleteExceptionAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="createActivityAssigneeAsync">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityAssigneeAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="deleteParams" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentDeleteExceptionAsync">
        <complexType>
            <sequence>
                <element name="appointmentDeleteException" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateAppointmentDeleteExceptionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityCategoriesAsync">
        <complexType>
            <sequence>
                <element name="activityCategories" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityCategoriesAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="deleteActivityAssigneeAsync">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteActivityAssigneeAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="createActivityContactAsync">
        <complexType>
            <sequence>
                <element name="activityContact" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="createActivityContactAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityAssigneeAsync">
        <complexType>
            <sequence>
                <element name="activityAssigneeId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityAssigneeAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityAssigneeAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findActivityAssigneeAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentAsync">
        <complexType>
            <sequence>
                <element name="activityId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteNotesAsync">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteNotesAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="deleteAppointmentAsync">
        <complexType>
            <sequence>
                <element name="appointmentRow" type="ns0:TransientAppointment"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteAppointmentAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getActivityCategoriesAsync">
        <complexType>
            <sequence>
                <element name="activityCategoryId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityCategoriesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityCategory"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityContactAsync">
        <complexType>
            <sequence>
                <element name="activityContactId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getActivityContactAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityContact"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns1:CommonAttachments"/>
                <element name="commitData" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getNotesAsync">
        <complexType>
            <sequence>
                <element name="noteId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getNotesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="createNotesAsync">
        <complexType>
            <sequence>
                <element name="notes" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="createNotesAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns2:Note"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityAssigneeAsync">
        <complexType>
            <sequence>
                <element name="activityAssignee" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateActivityAssigneeAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:ActivityAssignee"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentDeleteException">
        <complexType>
            <sequence>
                <element name="activityChildId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentDeleteExceptionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentDeleteException">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentDeleteExceptionResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentDeleteExceptionAsync">
        <complexType>
            <sequence>
                <element name="activityChildId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getAppointmentDeleteExceptionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentDeleteExceptionAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns3:FindCriteria"/>
                <element name="findControl" type="ns3:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findAppointmentDeleteExceptionAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:AppointmentDeleteException"/>
            </sequence>
        </complexType>
    </element>
</schema>
