PaaS-SaaS_DataSync/DataSync/DataSync/DataSync/src/com/oracle/pts/salesparty/wsclient/ContactPreference.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.contactPointService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java"
     xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Trading Community Contact Preference</name>
            <description>A contact preference associated with a trading community member.
                For example, do not call Joe Smith between 10 a.m. and 12 noon
                on weekdays.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for the contact preference" name="ContactPreferenceId"/>
                <oer:attribute description="Table that stores the contact level of the contact preference. Uses the SUBJECT_TABLE lookup. Value can be HZ_PARTIES, HZ_PARTIES_SITES, or HZ_CONTACT_POINTS."
                     name="ContactLevelTable"/>
                <oer:attribute description="Foreign key to the table specified in CONTACT_LEVEL_TABLE column. Can be PARTY_ID from HZ_PARTIES table, CONTACT_POINT_ID from HZ_CONTACT_POINTS table, or PARTY_SITE_ID from HZ_PARTY_SITES table"
                     name="ContactLevelTableId"/>
                <oer:attribute description="Type of contact that should or should not be made with the party. Uses the CONTACT_TYPE lookup."
                     name="ContactType"/>
                <oer:attribute description="Permission to use or not to use a particular contact method. Uses the PREFERENCE_CODE lookup."
                     name="PreferenceCode"/>
                <oer:attribute description="Appropriate subjects to send or not to send to the party that the preference is created for. Uses the PREFERENCE_TOPIC_TYPE lookup."
                     name="PreferenceTopicType"/>
                <oer:attribute description="Reduced LOV depending on the preference topic table selected. The PREFERENCE_TOPIC_TYPE_ID column and PREFERENCE_TOPIC_TYPE_CODE column are mutually exclusive."
                     name="PreferenceTopicTypeId"/>
                <oer:attribute description="Reduced LOV depending on the preference topic table selected. The PREFERENCE_TOPIC_TYPE_ID column and PREFERENCE_TOPIC_TYPE_CODE column are mutually exclusive."
                     name="PreferenceTopicTypeCode"/>
                <oer:attribute description="Starting date of the period during which a party should or should not be contacted."
                     name="PreferenceStartDate"/>
                <oer:attribute description="Ending date of the period during which a party should or should not be contacted."
                     name="PreferenceEndDate"/>
                <oer:attribute description="Starting hour of the time range during which a party should or should not be contacted. 0-23 hour format."
                     name="PreferenceStartTimeHR"/>
                <oer:attribute description="Ending hour of the time range during which a party should or should not be contacted. 0-23 hour format."
                     name="PreferenceEndTimeHR"/>
                <oer:attribute description="Starting minute of the time range during which a party should or should not be contacted. 0-59 minute format."
                     name="PreferenceStartTimeMi"/>
                <oer:attribute description="Ending minute of the time range during which a party should or should not be contacted. 0-59 minute format."
                     name="PreferenceEndTimeMi"/>
                <oer:attribute description="The number of times you can use this contact point. The period of time that this number applies is stored in the MAX_NO_OF_INTERACT_UOM_CODE column."
                     name="MaximumNoOfInteractions"/>
                <oer:attribute description="The period of time during which the maximum number of interactions applies. Uses the MAX_NO_OF_INTERACT_UOM_CODE lookup."
                     name="MaximumNoOfInteractUOMCode"/>
                <oer:attribute description="Indicates if the permission or restriction was created internally or requested by the party. Uses the REQUESTED_BY lookup. Value can be Internal or Party."
                     name="RequestedBy"/>
                <oer:attribute description="Reason that this type of contact should or should not be made. Uses the REASON_CODE lookup."
                     name="ReasonCode"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="TCA Who Column" name="CreatedByModule"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="ContactPreference">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ContactPreferenceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ContactPreferenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ContactLevelTable" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ContactLevelTableId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ContactType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferenceCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferenceTopicType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferenceTopicTypeId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PreferenceTopicTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferenceStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PreferenceEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PreferenceStartTimeHR" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="PreferenceEndTimeHR" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="PreferenceStartTimeMi" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="PreferenceEndTimeMi" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="MaximumNoOfInteractions" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="MaximumNoOfInteractUOMCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="ns1:OriginalSystemReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="contactPreference" type="ContactPreference"/>
</xsd:schema>
