old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/UserDetailsServiceReference/UserPersonDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" sdoJava:package="oracle.apps.hcm.people.roles.userDetailsServiceV2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">User Personal Details Version 2</name>
      <description xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">This object represents personal details for the requesting
                reference.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop : HcmPeopleTop-People</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleCore-Personal
                    Information</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources : PER_PERSON-Person</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the person." name="PersonId" />
        <oer:attribute description="Identifier of the person name." name="PersonNameId" />
        <oer:attribute description="Title." name="Title" />
        <oer:attribute description="Last name." name="LastName" />
        <oer:attribute description="First name." name="FirstName" />
        <oer:attribute description="Middle names." name="MiddleNames" />
        <oer:attribute description="Display names." name="DisplayName" />
        <oer:attribute description="Suffix." name="Suffix" />
        <oer:attribute description="Honors." name="Honors" />
        <oer:attribute description="Person name adjunct." name="PreNameAdjunct" />
        <oer:attribute description="Known as." name="KnownAs" />
        <oer:attribute description="Name type." name="NameType" />
        <oer:attribute description="Identifier of the email address." name="EmailAddressId" />
        <oer:attribute description="Email address." name="EmailAddress" />
        <oer:attribute description="Identifier of the phone number." name="PhoneId" />
        <oer:attribute description="Phone area code." name="PhoneAreaCode" />
        <oer:attribute description="Country code for the phone number." name="PhoneCountryCodeNumber" />
        <oer:attribute description="Phone number." name="PhoneNumber" />
        <oer:attribute description="Identifier of the fax." name="FaxId" />
        <oer:attribute description="Fax area code." name="FaxAreaCode" />
        <oer:attribute description="Country code for the fax number." name="FaxCountryCodeNumber" />
        <oer:attribute description="Fax number." name="FaxNumber" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="UserPersonDetails">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PersonId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonNameId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Title" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastName" type="xsd:string" />
      <xsd:element minOccurs="0" name="FirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MiddleNames" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DisplayName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Suffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Honors" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreNameAdjunct" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="KnownAs" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NameType" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="EmailAddressId" type="xsd:long" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PhoneId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PhoneAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneCountryCodeNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="FaxId" type="xsd:long" />
      <xsd:element minOccurs="0" name="FaxAreaCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxCountryCodeNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FaxNumber" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UserPersonDetailsResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="UserPersonDetails" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="userPersonDetailsResult" type="UserPersonDetailsResult" />
  <xsd:element name="userPersonDetails" type="UserPersonDetails" />
</xsd:schema>