old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ServiceCatalogServiceReference/CatalogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" xmlns:sdoJava="commonj.sdo/java" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" sdoJava:package="oracle.apps.fnd.applcore.webservices" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation>
      <name xmlns="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/">Catalog Service Vo</name>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="CatalogService">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>lbo</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="qName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="lbo" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="lifecycle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="xsdLocation" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="wsdlAddress" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="catalogService" type="CatalogService" />
</xsd:schema>