old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ServiceCatalogServiceReference/ServiceCatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" xmlns:types="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/types/" name="ServiceCatalogService" targetNamespace="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_saml_or_username_token_service_policy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SamlToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssSamlV11Token10 />
              </wsp:Policy>
            </sp:SamlToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
      <wsp:All>
        <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SupportingTokens>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService?WSDL=/META-INF/wsdl/ServiceException.wsdl" />
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import schemaLocation="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService?XSD=/oracle/apps/fnd/applcore/webservices/ServiceCatalogService.xsd" namespace="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/types/" />
    </schema>
  </wsdl:types>
  <wsdl:message name="ServiceCatalogService_getAllServiceEndPoints">
    <wsdl:part name="parameters" element="types:getAllServiceEndPoints" />
  </wsdl:message>
  <wsdl:message name="ServiceCatalogService_getAllServiceEndPointsResponse">
    <wsdl:part name="parameters" element="types:getAllServiceEndPointsResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCatalogService_getServiceEndPoint">
    <wsdl:part name="parameters" element="types:getServiceEndPoint" />
  </wsdl:message>
  <wsdl:message name="ServiceCatalogService_getServiceEndPointResponse">
    <wsdl:part name="parameters" element="types:getServiceEndPointResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceCatalogService">
    <wsdl:documentation />
    <wsdl:operation name="getAllServiceEndPoints">
      <wsdl:input message="tns:ServiceCatalogService_getAllServiceEndPoints" />
      <wsdl:output message="tns:ServiceCatalogService_getAllServiceEndPointsResponse" />
      <wsdl:fault name="ServiceException" message="errors:ServiceException" />
    </wsdl:operation>
    <wsdl:operation name="getServiceEndPoint">
      <wsdl:input message="tns:ServiceCatalogService_getServiceEndPoint" />
      <wsdl:output message="tns:ServiceCatalogService_getServiceEndPointResponse" />
      <wsdl:fault name="ServiceException" message="errors:ServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceCatalogServiceSoapHttp" type="tns:ServiceCatalogService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_saml_or_username_token_service_policy" wsdl:required="false" />
    <wsdl:operation name="getAllServiceEndPoints">
      <soap:operation soapAction="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/getAllServiceEndPoints" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getServiceEndPoint">
      <soap:operation soapAction="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/getServiceEndPoint" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault use="literal" name="ServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceCatalogService">
    <wsdl:port name="ServiceCatalogServiceSoapHttpPort" binding="tns:ServiceCatalogServiceSoapHttp">
      <soap:address location="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>