old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ServiceCatalogServiceReference/ServiceCatalogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns0="http://xmlns.oracle.com/adf/svc/errors/" xmlns:tns="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/types/" xmlns:ns1="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService?XSD=/oracle/apps/fnd/applcore/webservices/CatalogService.xsd" namespace="http://xmlns.oracle.com/oracle/apps/fnd/applcore/webservices/" />
  <import schemaLocation="https://cafd-test.fs.us2.oraclecloud.com:443/fndAppCoreServices/ServiceCatalogService?XSD=/META-INF/wsdl/ServiceException.xsd" namespace="http://xmlns.oracle.com/adf/svc/errors/" />
  <element name="getAllServiceEndPoints">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getAllServiceEndPointsResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:CatalogService" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceEndPoint">
    <complexType>
      <sequence>
        <element name="qname" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceEndPointResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:CatalogService" />
      </sequence>
    </complexType>
  </element>
</schema>