PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/pharmacyload/wsclient/HealthCareLoadService.wsdl

<definitions
     name="HealthCareLoadService"
     targetNamespace="http://ws.healthcare.ptsdemo.oracle.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://ws.healthcare.ptsdemo.oracle.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.healthcare.ptsdemo.oracle.com/" schemaLocation="HealthCareLoadPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="createMedication">
        <part name="parameters" element="tns:createMedication"/>
    </message>
    <message name="createPrescription">
        <part name="parameters" element="tns:createPrescription"/>
    </message>
    <message name="createPrescriptionResponse">
        <part name="parameters" element="tns:createPrescriptionResponse"/>
    </message>
    <message name="getMedicationList">
        <part name="parameters" element="tns:getMedicationList"/>
    </message>
    <message name="getMedicationListResponse">
        <part name="parameters" element="tns:getMedicationListResponse"/>
    </message>
    <message name="getMedicationDetailList">
        <part name="parameters" element="tns:getMedicationDetailList"/>
    </message>
    <message name="getMedicationDetailListResponse">
        <part name="parameters" element="tns:getMedicationDetailListResponse"/>
    </message>
    <portType name="HealthCareLoad">
        <operation name="createMedication">
            <input message="tns:createMedication"/>
        </operation>
        <operation name="createPrescription">
            <input message="tns:createPrescription"/>
            <output message="tns:createPrescriptionResponse"/>
        </operation>
        <operation name="getMedicationList">
            <input message="tns:getMedicationList"/>
            <output message="tns:getMedicationListResponse"/>
        </operation>
        <operation name="getMedicationDetailList">
            <input message="tns:getMedicationDetailList"/>
            <output message="tns:getMedicationDetailListResponse"/>
        </operation>
    </portType>
    <binding name="HealthCareLoadPortBinding" type="tns:HealthCareLoad">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createMedication">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="createPrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMedicationList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getMedicationDetailList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HealthCareLoadService">
        <port name="HealthCareLoadPort" binding="tns:HealthCareLoadPortBinding">
            <soap:address location="https://jcs.my-oraclecloudapps.com:443/HealthCare/HealthCareLoadPort"/>
        </port>
    </service>
</definitions>
