paas4saas/PaaS-SaaS_DataSync/DataSync/DataSync/DataSync/classes/com/oracle/pts/custom/wsclient/CustomerCenterCustomObjectService.wsdl

<wsdl:definitions
     name="CustomerCenterCustomObjectService"
     targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/"
     xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:types="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/types/"
    >
    <wsdl:documentation xmlns:oer="http://xmlns.oracle.com/oer">
        <name>Customer Custom Business Object</name>
        <description>A service used to create, update, get, or find custom Oracle Fusion
            Customer Center business objects. Some examples of custom objects
            could be a customer trouble ticket to track customer complaints or a
            customer tracking event to keep track of customer participation in
            marketing events.</description>
        <docCategories>
            <category>External</category>
            <category>Other</category>
        </docCategories>
        <oer:lifecycle>Active</oer:lifecycle>
        <oer:compatibility>Supported - Backward Compatibility Assured</oer:compatibility>
        <keywords>
            <value>SalesAccount</value>
            <value>Customer</value>
            <value>CustomObject</value>
        </keywords>
        <oer:category name="lba">
            <value>CrmCommonComponent-CRM Common Components :
                CrmCommonSalesParties-Sales Parties</value>
        </oer:category>
        <oer:operation name="createEntity">
            <description>A Web service method that creates records of an Oracle Fusion
                Customer custom object.</description>
            <oer:parameters>
                <oer:parameter name="object" description="A required input parameter of the createEntity Web service method. Includes the attribute values that the records will be created with."/>
                <oer:parameter name="objectName" description="A required input parameter of the createEntity Web service method. Use the API name of the custom object you want to create."/>
                <oer:return description="The return value of the createEntity Web service method. Includes the full set of attributes and child entities of the record."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="getEntity">
            <description>A Web service method that queries by ID a single record of an
                Oracle Fusion Customer custom object.</description>
            <oer:parameters>
                <oer:parameter name="keyValue" description="A required input parameter of the getEntity Web service method. Includes the row ID of the record you want to query for."/>
                <oer:parameter name="objectName" description="A required input parameter of the getEntity Web service method. Use the API name of the custom object you want to query for."/>
                <oer:return description="The return value of the getEntity Web service method. Includes the full set of attributes and child entities of the record."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="updateEntity">
            <description>A Web service method that updates a set of records of an Oracle
                Fusion Customer custom object.</description>
            <oer:parameters>
                <oer:parameter name="object" description="A required input parameter of the updateEntity method. The object includes only the IDs and the attribute values you want to update. Records with the matching Ids will be updated with the attribute values in the object."/>
                <oer:parameter name="objectName" description="A required input parameter of the updateEntity Web service method. Use the API name of the custom object you want to update."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="deleteEntity">
            <description>A Web service method that deletes a set of records of an Oracle
                Fusion Customer custom object.</description>
            <oer:parameters>
                <oer:parameter name="object" description="A required input parameter of the deleteEntity Web service method. All records matching the input attribute values specified in this input object are deleted."/>
                <oer:parameter name="objectName" description="A required input parameter of the deleteEntity Web service method. Use the API name of the custom object you want to delete."/>
            </oer:parameters>
        </oer:operation>
        <oer:operation name="findEntity">
            <description>A Web service method that queries for a set of records of an
                Oracle Fusion Customer custom object.</description>
            <oer:parameters>
                <oer:parameter name="findCriteria" description="A required input parameter of the findEntity Web service method. Includes optional search criteria, sort filter, and attributes to be excluded when returning the set of records. Also includes the option to return any of the custom object&apos;s child entities, as well as the set of search criteria to use on the child entities."/>
                <oer:parameter name="findControl" description="The parameter is not used."/>
                <oer:parameter name="objectName" description="A required input parameter of the findEntity Web service method. Use the API name of the custom object you want to query for."/>
                <oer:return description="The return value of the findEntity Web service method. Includes the full set of attributes and child entities of the records."/>
            </oer:parameters>
        </oer:operation>
    </wsdl:documentation>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All/>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                    <sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0"/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0"/>
                </sp:EncryptedParts>
            </wsp:All>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Namespace="http://www.w3.org/2005/08/addressing"/>
                    <sp:Header Namespace="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
                    <sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0"/>
                    <sp:Header Name="SignatureConfirmation" Namespace="http://docs.oasis-open.org/wss/oasis-wss-wssecurity-secext-1.1.xsd"/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                    <sp:Header Name="fmw-context" Namespace="http://xmlns.oracle.com/fmw/context/1.0"/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
            <wsp:All>
                <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:SignedParts>
                <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <sp:Body/>
                </sp:EncryptedParts>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
         wsu:Id="wss11_saml_or_username_token_with_message_protection_service_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference/>
                                        <sp:WssX509V3Token11/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:ProtectTokens/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:SamlToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV11Token11/>
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
                <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssX509V3Token11/>
                            </wsp:Policy>
                        </sp:X509Token>
                    </wsp:Policy>
                </sp:EndorsingSupportingTokens>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:RequireSignatureConfirmation/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
            </wsp:All>
            <wsp:All>
                <sp:SymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                                    <wsp:Policy>
                                        <sp:RequireThumbprintReference/>
                                        <sp:WssX509V3Token11/>
                                    </wsp:Policy>
                                </sp:X509Token>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
                <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:RequireSignatureConfirmation/>
                        <sp:MustSupportRefEncryptedKey/>
                    </wsp:Policy>
                </sp:Wss11>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false">
                                    <wsp:Policy/>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:SamlToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssSamlV11Token10/>
                            </wsp:Policy>
                        </sp:SamlToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false">
                                    <wsp:Policy/>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                            <wsp:Policy>
                                <sp:WssUsernameToken10/>
                            </wsp:Policy>
                        </sp:UsernameToken>
                    </wsp:Policy>
                </sp:SupportingTokens>
            </wsp:All>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false">
                                    <wsp:Policy/>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
            <wsp:All/>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/types/"
                 schemaLocation="CustomerCenterCustomObjectService.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="CustomerCenterCustomObjectService_createEntity">
        <wsdl:part name="parameters" element="types:createEntity"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_createEntityResponse">
        <wsdl:part name="parameters" element="types:createEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_getEntity">
        <wsdl:part name="parameters" element="types:getEntity"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_getEntityResponse">
        <wsdl:part name="parameters" element="types:getEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_updateEntity">
        <wsdl:part name="parameters" element="types:updateEntity"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_updateEntityResponse">
        <wsdl:part name="parameters" element="types:updateEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_deleteEntity">
        <wsdl:part name="parameters" element="types:deleteEntity"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_deleteEntityResponse">
        <wsdl:part name="parameters" element="types:deleteEntityResponse"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_findEntity">
        <wsdl:part name="parameters" element="types:findEntity"/>
    </wsdl:message>
    <wsdl:message name="CustomerCenterCustomObjectService_findEntityResponse">
        <wsdl:part name="parameters" element="types:findEntityResponse"/>
    </wsdl:message>
    <wsdl:portType name="CustomerCenterCustomObjectService">
        <wsdl:documentation/>
        <wsdl:operation name="createEntity">
            <wsdl:input message="tns:CustomerCenterCustomObjectService_createEntity"/>
            <wsdl:output message="tns:CustomerCenterCustomObjectService_createEntityResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="getEntity">
            <wsdl:input message="tns:CustomerCenterCustomObjectService_getEntity"/>
            <wsdl:output message="tns:CustomerCenterCustomObjectService_getEntityResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="updateEntity">
            <wsdl:input message="tns:CustomerCenterCustomObjectService_updateEntity"/>
            <wsdl:output message="tns:CustomerCenterCustomObjectService_updateEntityResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="deleteEntity">
            <wsdl:input message="tns:CustomerCenterCustomObjectService_deleteEntity"/>
            <wsdl:output message="tns:CustomerCenterCustomObjectService_deleteEntityResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
        <wsdl:operation name="findEntity">
            <wsdl:input message="tns:CustomerCenterCustomObjectService_findEntity"/>
            <wsdl:output message="tns:CustomerCenterCustomObjectService_findEntityResponse"/>
            <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerCenterCustomObjectServiceSoapHttp" type="tns:CustomerCenterCustomObjectService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss11_saml_or_username_token_with_message_protection_service_policy"
             wsdl:required="false"/>
        <wsdl:operation name="createEntity">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/createEntity"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy"
                     wsdl:required="false"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy"
                     wsdl:required="false"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy"
                     wsdl:required="false"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getEntity">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/getEntity"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy"
                     wsdl:required="false"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy"
                     wsdl:required="false"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy"
                     wsdl:required="false"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="updateEntity">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/updateEntity"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy"
                     wsdl:required="false"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy"
                     wsdl:required="false"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy"
                     wsdl:required="false"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteEntity">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/deleteEntity"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy"
                     wsdl:required="false"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy"
                     wsdl:required="false"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy"
                     wsdl:required="false"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findEntity">
            <soap:operation soapAction="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/findEntity"/>
            <wsdl:input>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Input_Policy"
                     wsdl:required="false"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Output_Policy"
                     wsdl:required="false"/>
            </wsdl:output>
            <wsdl:fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal" encodingStyle=""/>
                <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#CustomerCenterCustomObjectServiceSoapHttpPort_Fault_Policy"
                     wsdl:required="false"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerCenterCustomObjectService">
        <wsdl:port name="CustomerCenterCustomObjectServiceSoapHttpPort" binding="tns:CustomerCenterCustomObjectServiceSoapHttp">
            <soap:address location="https://isv2-crm-crm-ext.oracle.com:443/crmCommonCustExtn/CustomerCenterCustomObjectService"/>
            <wsa:EndpointReference xmlns:wsa="http://www.w3.org/2005/08/addressing">
                <wsa:Address xmlns:wsa="http://www.w3.org/2005/08/addressing">https://isv2-crm-crm-ext.oracle.com:443/crmCommonCustExtn/CustomerCenterCustomObjectService</wsa:Address>
                <wsid:Identity xmlns:wsid="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
                    <dsig:KeyInfo xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
                        <dsig:X509Data>
                            <dsig:X509Certificate>MIICCzCCAXSgAwIBAgIEUgXqFzANBgkqhkiG9w0BAQUFADBKMRMwEQYKCZImiZPyLGQBGRYDY29tMSEwHwYKCZImiZPyLGQBGRYRb3JhY2xlb3V0c291cmNpbmcxEDAOBgNVBAMTB3NlcnZpY2UwHhcNMTMwODEwMDcyMTU5WhcNMTYwODEwMDcyMTU5WjBKMRMwEQYKCZImiZPyLGQBGRYDY29tMSEwHwYKCZImiZPyLGQBGRYRb3JhY2xlb3V0c291cmNpbmcxEDAOBgNVBAMTB3NlcnZpY2UwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAIwwJxN+lZcxofSpjLD83O4JqO4XW5MrJD/GyUr4MuEQ/K1xYLr8a3qD+p38ld/Bs1ydFr2toCALmJ/vH8vqrcf3+6WQUQwotOrRbctUirs37rF5EUNJS6mCy2LrJz2OjEIc50TCvz4T3krl8r9/AL9ZV4tfthz350Cgw1aU+V3HAgMBAAEwDQYJKoZIhvcNAQEFBQADgYEAM9f1nGbsHbO8iT5qgQpFvzX5Lreqk1D1fT7mI07LQ4YydjnIjCJQ8QY635iFW1+GrJeFFgae95N8c3chMdpH4EUnxmahfJMnoX0xAkijIXwvui6QVkKY/XcBwpFFoJVxA8gZRTIU7K9C2E7BBFJquANsPvpuPwEdet3qXj2Ai1g=</dsig:X509Certificate>
                            <dsig:X509IssuerSerial>
                                <dsig:X509IssuerName>CN=service, DC=oracleoutsourcing, DC=com</dsig:X509IssuerName>
                                <dsig:X509SerialNumber>1376119319</dsig:X509SerialNumber>
                            </dsig:X509IssuerSerial>
                            <dsig:X509SubjectName>CN=service, DC=oracleoutsourcing, DC=com</dsig:X509SubjectName>
                        </dsig:X509Data>
                    </dsig:KeyInfo>
                </wsid:Identity>
            </wsa:EndpointReference>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
