old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/classes/com/oracle/pts/salesparty/wsclient/AdditionalGroupName.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.groupService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Additional Household Name</name>
            <description>An additional name associated with a group. For example, the
                phonetic name of a group.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique Identifier of Party Name" name="PartyNameId"/>
                <oer:attribute description="Unique Identifier of Party" name="PartyId"/>
                <oer:attribute description="Type of Partyname" name="PartyNameType"/>
                <oer:attribute description="Flag which Identifies the name as preferred name for this party within this name type. Possible values are &apos;Y&apos; and &apos;N&apos;. Default is &apos;N&apos;."
                     name="PreferredFlag"/>
                <oer:attribute description="Description of Additional Group" name="Description"/>
                <oer:attribute description="Flag to identify status of Additional Party" name="StatusFlag"/>
                <oer:attribute description="Not Used" name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Request ID of the job that created" name="RequestId"/>
                <oer:attribute description="Used to capture the language used for the name." name="TransliterationLang"/>
                <oer:attribute description="Additional Name of Party" name="PartyName"/>
                <oer:attribute description="Identify the name as preferred name for this party within this name type. Possible values are &apos;Y&apos; and &apos;N&apos;. Default is &apos;N&apos;."
                     name="OverallPreferredFlag"/>
                <oer:attribute description="Not Used." name="OrigSystem"/>
                <oer:attribute description="Not Used." name="OrigSystemReference"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="AdditionalGroupName">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartyNameId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartyNameId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyNameType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredFlag" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StatusFlag" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="TransliterationLang" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OverallPreferredFlag" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="additionalGroupName" type="AdditionalGroupName"/>
</xsd:schema>
