old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/classes/com/oracle/pts/salesparty/wsclient/FinancialNumber.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Financial Number</name>
            <description>A trading community member&apos;s financial report numbers. For
                example, assets, liabilities, and cash balance.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for this financial number. System generated. Primary Key."
                     name="FinancialNumberId"/>
                <oer:attribute description="Identifier for the financial report. Foreign key to the HZ_FINANCIAL_REPORTS table"
                     name="FinancialReportId"/>
                <oer:attribute description="Numeric value for the FINANCIAL_NUMBER_NAME column. For example, the FINANCIAL_NUMBER_NAME column could have a numerical value of 3,000,000,000 for annual sales"
                     name="FinancialNumber"/>
                <oer:attribute description="A text field that lets you assign a descriptive name to a financial report item. For example, gross annual sales, profit, and net annual sales. A user-defined lookup."
                     name="FinancialNumberName"/>
                <oer:attribute description="Order of magnitude (tens, hundreds, thousands, and so on) used for the FINANCIAL_NUMBER column."
                     name="FinancialUnitsApplied"/>
                <oer:attribute description="ISO currency code for the the FINANCIAL_NUMBER column."
                     name="FinancialNumberCurrency"/>
                <oer:attribute description="Indicates if the amount is projected or actual. P for projected amounts, A for actual amounts. The default is A."
                     name="ProjectedActualCode"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="FinancialNumber">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>FinancialNumberId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="FinancialNumberId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="FinancialReportId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="FinancialNumber" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FinancialNumberName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FinancialUnitsApplied" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FinancialNumberCurrency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProjectedActualCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="financialNumber" type="FinancialNumber"/>
</xsd:schema>
