old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/classes/com/oracle/pts/salesparty/wsclient/OrganizationContact.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.relationshipService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/orgContact/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <name>Customer Contact Profile</name>
            <description>A person who functions as a contact for an organization.</description>
            <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
                <oer:attribute description="Identifier of the organization contact" name="OrgContactId"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Identifies relationship that contact person has with an organization or person. Foreign key to the HZ_RELATIONSHIPS table."
                     name="PartyRelationshipId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Contact Identifier" name="ContactPartyId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Person First name" name="PersonFirstName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Person Last Name" name="PersonLastName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Name of Contact" name="ContactName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="alutary introduction, such as Mr. o r Herr" name="PersonPreNameAdjunct"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Middle name of person" name="PersonMiddleName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates the place in a family stru cture. For example, in Tom Jones III, the &apos;III&apos; is the suffix."
                     name="PersonNameSuffix" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Previous last or surname of the person" name="PersonPreviousLastName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Academic title that is part of a person&apos;s name, such as Dr. John Smith."
                     name="PersonAcademicTitle" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Phrase used to address a party in any correspondence."
                     name="Salutation" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Last Name prefix for a person" name="PersonLastNamePrefix"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Preferred Name of Contact" name="PreferredName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Second last name of a person." name="PersonSecondLastName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Standard name for a language" name="PersonLanguageName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="A professional or family title. For example, Don or The Right Honorable."
                     name="PersonTitle" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Certification level an organization party." name="PersonCertificationLevel"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Reason for organization party&apos;s cur rent certification level assignment."
                     name="PersonCertReasonCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Identifier of Customer" name="CustomerPartyId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Unique Name of the customer" name="CustomerUniqueName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Name of Customer" name="CustomerName" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Unique identification number for this party" name="CustomerPartyNumber"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Primary Formatted phone number for the contact person"
                     name="FormattedPhoneNumber" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="E-mail address of the contact point" name="EmailAddress"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Web URL of contact point" name="WebUrl" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="User comments" name="Comments" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="User-defined identification number for this contact" name="ContactNumber"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="List of values for possible department codes" name="DepartmentCode"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Free form text used to name the department" name="Department"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Free form text for job title" name="JobTitle" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates if this contact is a decision maker. Y for a decision maker, N for someone who is not the decision maker."
                     name="DecisionMakerFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Code given to the job title" name="JobTitleCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates if this contact can be used as a reference. Y for a contact who will act as a reference, N for a contact who cannot act as a reference."
                     name="ReferenceUseFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Importance of the contact relative to other contacts"
                     name="Rank" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates if contact is for a particular party site. Foreign key to the HZ_PARTY_SITES table."
                     name="PartySiteId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Unique contact identifier from foreign system" name="OrigSystemReference"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Address associsated with the organization contact." name="PartySiteName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Contact&apos;s affinity towards the deploying organization."
                     name="SalesAffinityCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Comments describing contact&apos;s affinity towards the deploying organization."
                     name="SalesAffinityComments" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Contact&apos;s role in the buying process." name="SalesBuyingRoleCode"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Contact&apos;s level of influence in the buying process."
                     name="SalesInfluenceLevelCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Primary Formatted address for the contact person" name="FormattedAddress"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="How a person or organization prefers to be contacted"
                     name="PreferredContactMethod" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework"
                     name="CurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework"
                     name="CurcyConvRateType" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework"
                     name="CorpCurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates if this contact person is primary contact for the customer"
                     name="PreferredContactFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Contact Formatted Address" name="ContactFormattedAddress"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Formatted Multiline address of  Contact" name="ContactFormattedMultilineAddress"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="E-mail address of the customer this contact person belongs to"
                     name="CustomerEmailAddress" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates if this customer is primary customer for the contact"
                     name="PrimaryCustomerFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Role played by the organization contact." name="OrganizationContactRole"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Organization Contact Information." name="OrgContactInformation"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="OriginalSystemReference.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/orgContact/"
         schemaLocation="OrganizationContactInformation.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="OrganizationContactRole.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:complexType name="OrganizationContact" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>OrgContactId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element minOccurs="0" name="OrgContactId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyRelationshipId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ContactPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ContactName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Salutation" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonLanguageName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonCertificationLevel" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PersonCertReasonCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CustomerPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CustomerUniqueName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CustomerName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CustomerPartyNumber" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="EmailAddress" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="WebUrl" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ContactNumber" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="DepartmentCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Department" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobTitle" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="DecisionMakerFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobTitleCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ReferenceUseFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Rank" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartySiteId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartySiteName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAffinityCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAffinityComments" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesBuyingRoleCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesInfluenceLevelCode" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PreferredContactFlag" nillable="true" type="xsd:boolean"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ContactFormattedAddress" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ContactFormattedMultilineAddress" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CustomerEmailAddress" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PrimaryCustomerFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationContactRole" type="OrganizationContactRole"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="ns1:OriginalSystemReference"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="OrgContactInformation" type="ns2:OrganizationContactInformation"
                 sdoXML:dataType="sdo:DataObject" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Latitude_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Longitude_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="organizationContact" type="OrganizationContact" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
</xsd:schema>
