old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/classes/com/oracle/pts/salesparty/wsclient/SalesAccountResource.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Sales Account Resource</name>
            <description>An object representing a resource party that is assigned to a
                sales account team and has a defined access role for the sales
                account.</description>
            <keywords>
                <value>SalesAccount</value>
            </keywords>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    CrmCommonSalesParties-Sales Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The access level determines the type of access granted to the resource as well as managers of the organizations. The possible values are contained in the ZCA_ACCESS_LEVEL lookup."
                     name="AccessLevelCode"/>
                <oer:attribute description="The code indicating how the resource is assigned to the sales account team. The possible values are contained in the ZCA_ASSIGNMENT_TYPE lookup."
                     name="AssignmentTypeCode"/>
                <oer:attribute description="The standard replication column." name="CpdrfLastUpd"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerPillar"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerSor"/>
                <oer:attribute description="The user who created the record." name="CreatedBy"/>
                <oer:attribute description="The date and time the record was created." name="CreationDate"/>
                <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate"/>
                <oer:attribute description="The user login for the user who last updated the record."
                     name="LastUpdateLogin"/>
                <oer:attribute description="The user who last updated the record." name="LastUpdatedBy"/>
                <oer:attribute description="The flag indicates automatic territory assignment cannot remove the sales account team resource when this flag is `Y&apos;. When a sales account team member is added manually, this flag is defaulted to `Y&apos;. Otherwise,"
                     name="LockAssignmentFlag"/>
                <oer:attribute description="The lookup code indicating a sales account resource&apos;s role on the resource team such as Integrator, Executive Sponsor and Technical Account Manager. The code lookup is stored in FND_LOOKUPS."
                     name="MemberFunctionCode"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="The code for the organization hierarchy tree. Managers and administrators of sales account resource gain access through this hierarchy."
                     name="OrgTreeCode"/>
                <oer:attribute description="The structure code for the organization hierarchy tree. Managers/Administrators of parent member organizations will gain access through this hierarchy."
                     name="OrgTreeStructureCode"/>
                <oer:attribute description="The territory the sales account team resource belongs to."
                     name="PrTerritoryId"/>
                <oer:attribute description="The indicator showing a resource reports to another resource in the same account team."
                     name="ReportsToFlag"/>
                <oer:attribute description="The resource identifier." name="ResourceId"/>
                <oer:attribute description="The resource organization identifier." name="ResourceOrgId"/>
                <oer:attribute description="The surrogate primary key for the member of the sales accont resource team."
                     name="SAccountResourceId"/>
                <oer:attribute description="The identifier for the sales account." name="SalesAccountId"/>
                <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate"/>
                <oer:attribute description="The party identifier for the resource designated as the sales account owner."
                     name="AccountDirectorId"/>
                <oer:attribute description="The indicator for whether a sales account is a named sales account."
                     name="NamedAccountFlag"/>
                <oer:attribute description="The unique identifier for the sales account." name="SalesAccountPartyId"/>
                <oer:attribute description="The formatted phone number of the resource." name="FormattedPhoneNumber"/>
                <oer:attribute description="PartyId for the resource" name="ResourcePartyId"/>
                <oer:attribute description="The e-mail address for the sales account resource." name="EmailAddress"/>
                <oer:attribute description="The name of a trading community party." name="PartyName"/>
                <oer:attribute description="Name of the organization for the resource" name="Name"/>
                <oer:attribute description="The identifier for the organization the sales account resource belongs."
                     name="OrganizationId"/>
                <oer:attribute description="The system effective start date defined in Date Effective entity."
                     name="EffectiveStartDate"/>
                <oer:attribute description="The system effective end date defined in Date Effective entity."
                     name="EffectiveEndDate"/>
                <oer:attribute description="The name of the territory." name="Name1"/>
                <oer:attribute description="The territory version is a primary key." name="TerritoryVersionId"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute1"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute10"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute11"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute12"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute13"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute14"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute15"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute2"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute3"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute4"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute5"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute6"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute7"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute8"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="Attribute9"/>
                <oer:attribute description="The structure definition of the user descriptive flexfield."
                     name="AttributeCategory"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeDate1"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeDate2"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeDate3"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeDate4"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeDate5"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeNumber1"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeNumber2"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeNumber3"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeNumber4"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeNumber5"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber1"/>
                <oer:attribute description="The identifier for the sales account owner." name="OwnerResourceId"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber2"/>
                <oer:attribute description="The attribute that indicates whether the sales account resource is enabled for locked assignment, which means the sales account resource cannot be removed from the team at future territory assignments."
                     name="LockAssignmentBooleanFlag"/>
                <oer:attribute description="TypeCode for the territory resource is member of." name="TypeCode"/>
                <oer:attribute description="The list of all roles for the resources in the organization."
                     name="RoleName"/>
                <oer:attribute description="The party name of the manager." name="PartyName1"/>
                <oer:attribute description="The party identifier for the manager." name="ManagerPartyId"/>
                <oer:attribute description="Indicates the date on which the association of resource is created to the sales account."
                     name="StartDateActive"/>
                <oer:attribute description="Indicates the date on which the association of resource is ended to the sales account."
                     name="EndDateActive"/>
                <oer:attribute description="Resource  Primary Org Identifier" name="ResourcePrimaryOrgId"/>
                <oer:attribute description="Resource Primary Org Name" name="ResourcePrimaryOrgName"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="SalesAccountResource">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SAccountResourceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AccessLevelCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LockAssignmentFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="MemberFunctionCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="OrgTreeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrgTreeStructureCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrTerritoryId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ReportsToFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ResourceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ResourceOrgId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SAccountResourceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AccountDirectorId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="NamedAccountFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="SalesAccountPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="FormattedPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ResourcePartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Name1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TerritoryVersionId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Attribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute11" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute12" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute13" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute14" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute15" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Attribute9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AttributeDate1" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate2" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate3" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate4" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeDate5" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AttributeNumber1" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber2" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber3" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber4" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="AttributeNumber5" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="OwnerResourceId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber2" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="LockAssignmentBooleanFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="TypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RoleName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ManagerPartyId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ResourcePrimaryOrgId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ResourcePrimaryOrgName" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesAccountResource" type="SalesAccountResource"/>
</xsd:schema>
