PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/Education.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Education</name>
            <description>A trading community person&apos;s education information. For example,
                a person may have attended the University of California from
                1995 to 1999 and received an undergraduate degree in Computer
                Science with a GPA of 4.0.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier of this education record" name="EducationId"/>
                <oer:attribute description="Primary area of study" name="CourseMajor"/>
                <oer:attribute description="Unique party indentifier. Foreign key to the HZ_PARTIES table"
                     name="PartyId"/>
                <oer:attribute description="Abbreviation for the degree. For example, BA, BSc, MBA, MSc, PhD, Gd (graduate diploma)."
                     name="DegreeReceived"/>
                <oer:attribute description="The year and month a person last attended the educational institution."
                     name="LastDateAttended"/>
                <oer:attribute description="Date that the person&apos;s attendance starts." name="StartDateAttended"/>
                <oer:attribute description="The name of the school." name="SchoolAttendedName"/>
                <oer:attribute description="The classification of the educational organization. For example, high school, college, university, or professional school. Note that the classification of schools varies among different cultures."
                     name="TypeOfSchool"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Party identifier of the school" name="SchoolPartyId"/>
                <oer:attribute description="Identifier for the source application module that created this record"
                     name="CreatedByModule"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="Education">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>EducationId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EducationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CourseMajor" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DegreeReceived" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastDateAttended" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="StartDateAttended" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SchoolAttendedName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TypeOfSchool" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SchoolPartyId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="education" type="Education"/>
</xsd:schema>
