PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/EmploymentHistory.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Employment History</name>
            <description>A trading community member&apos;s employment history information. For
                example, John Doe was a Vice President at Business World from
                2001 to 2007 and President at World of Business from 2007 to
                2009.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique employment history identifier." name="EmploymentHistoryId"/>
                <oer:attribute description="The date that the employment officially began." name="BeginDate"/>
                <oer:attribute description="Party identifier. Foreign key to the HZ_PARTIES table"
                     name="PartyId"/>
                <oer:attribute description="Job position title assigned by an employer" name="EmployedAsTitle"/>
                <oer:attribute description="The common name of a division or an organization in which the person was employed."
                     name="EmployedByDivisionName"/>
                <oer:attribute description="The name of the organization at which the person was employeed. Note that the name should not include the division name."
                     name="EmployedByNameCompany"/>
                <oer:attribute description="The date that the employment officially ended." name="EndDate"/>
                <oer:attribute description="Full name of the person&apos;s manager" name="SupervisorName"/>
                <oer:attribute description="Military branch code" name="Branch"/>
                <oer:attribute description="The person&apos;s rank in the branch" name="MilitaryRank"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Where the person performed military service" name="Served"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Station name" name="Station"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Job responsibility of the person" name="Responsibility"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Party identifier of the employer for situations in which the employer is represented as a party"
                     name="EmployedByPartyId"/>
                <oer:attribute description="Free-format text describing the reason for leaving" name="ReasonForLeaving"/>
                <oer:attribute description="Y or N indicates whether the position is a faculty position or not"
                     name="FacultyPositionFlag"/>
                <oer:attribute description="Type of tenure for faculty positions" name="TenureCode"/>
                <oer:attribute description="Fraction of tenure" name="FractionOfTenure"/>
                <oer:attribute description="Indicates whether the employment is part-time or full-time"
                     name="EmploymentTypeCode"/>
                <oer:attribute description="Code for the job title. If title cannot be represented by a code, then the EMPLOYED_AS_TITLE column should be used."
                     name="EmployedAsTitleCode"/>
                <oer:attribute description="Usual number of hours worked per week" name="WeeklyWorkHours"/>
                <oer:attribute description="General comments about the employment history" name="Comments"/>
                <oer:attribute description="Identifier for the source application module that created this record"
                     name="CreatedByModule"/>
                <oer:attribute description="Custom-defined classification information about a person&apos;s job title and work experience."
                     name="WorkClass"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="WorkClass.xsd"/>
    <xsd:complexType name="EmploymentHistory">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>EmploymentHistoryId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="EmploymentHistoryId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="BeginDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EmployedAsTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployedByDivisionName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployedByNameCompany" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SupervisorName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Branch" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MilitaryRank" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="Served" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Station" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Responsibility" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployedByPartyId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ReasonForLeaving" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FacultyPositionFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="TenureCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FractionOfTenure" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EmploymentTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployedAsTitleCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WeeklyWorkHours" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WorkClass" type="WorkClass"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="employmentHistory" type="EmploymentHistory"/>
</xsd:schema>
