PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/PersonInterest.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Contact Interest</name>
            <description>A trading community person&apos;s personal interests. For example, a
                person is interested in baseball, sports car and painting.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier of the person&apos;s interest" name="PersonInterestId"/>
                <oer:attribute description="User-defined level number or name to rate the amount of interest in the activity. For example, high, medium, or low."
                     name="LevelOfInterest"/>
                <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table."
                     name="PartyId"/>
                <oer:attribute description="User-defined level number or name to indicate if the person participates and to what extent"
                     name="LevelOfParticipation"/>
                <oer:attribute description="A code to classify interests for evaluation" name="InterestTypeCode"/>
                <oer:attribute description="Comments about the person&apos;s interest" name="Comments"/>
                <oer:attribute description="Indicates if the activity is a sport. Y for sports, N for non-sport activities"
                     name="SportIndicator"/>
                <oer:attribute description="A code to classify subinterests of the interest type code."
                     name="SubInterestTypeCode"/>
                <oer:attribute description="A text field that lets you assign a descriptive name to an interest. For example, pets, dogs, baseball, or sports car racing."
                     name="InterestName"/>
                <oer:attribute description="Any team the person likes to watch or play for." name="Team"/>
                <oer:attribute description="Approximate date the person became involved in this activity"
                     name="Since"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Identifier for the source application module that created this record"
                     name="CreatedByModule"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="PersonInterest">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonInterestId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonInterestId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LevelOfInterest" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LevelOfParticipation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InterestTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SportIndicator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SubInterestTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InterestName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Team" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Since" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personInterest" type="PersonInterest"/>
</xsd:schema>
