PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/PersonPartySite.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/" xmlns:sdo="commonj.sdo"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Contact Address</name>
            <description>An address associated with a trading community person. For
                example John Doe&apos;s address is 123 High Street, Redwood Shores,
                CA.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Party site identifier" name="PartySiteId"/>
                <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table."
                     name="PartyId"/>
                <oer:attribute description="Identifier for the party site. Foreign key to the HZ_LOCATIONS table."
                     name="LocationId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Party site number of the address" name="PartySiteNumber"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Party site identifier from foreign system" name="OrigSystemReference"/>
                <oer:attribute description="Date from which party site is effective" name="StartDateActive"/>
                <oer:attribute description="Date from which party site is invalid" name="EndDateActive"/>
                <oer:attribute description="A user-defined code to indicate a mail drop point within their organization"
                     name="Mailstop"/>
                <oer:attribute description="Indicates if this is the identifying address for the party. Y for the indentifying, N for sites that are not the indentifying site"
                     name="IdentifyingAddressFlag"/>
                <oer:attribute description="Operating Language for the party Site" name="Language"/>
                <oer:attribute description="Party site status flag." name="Status"/>
                <oer:attribute description="User-defined name for the site" name="PartySiteName"/>
                <oer:attribute description="Addressee information" name="Addressee"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Global location number that uniquely identifies each location in a trading partners enterprise"
                     name="GlobalLocationNumber"/>
                <oer:attribute description="DUNS number, a unique, nine-digit identification number that is assigned to business entities by Dun and Bradstreet"
                     name="DUNSNumberC"/>
                <oer:attribute description="Description for a Party Site." name="Comments"/>
                <oer:attribute description="This stores the Party site type and is based on the lookup. Currently this can be null or &apos;One-Time&apos;."
                     name="PartySiteType"/>
                <oer:attribute description="Will store the doing-business_as (DBA) Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameDba"/>
                <oer:attribute description="Will store the division Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameDivision"/>
                <oer:attribute description="Will store the Legal Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameLegal"/>
                <oer:attribute description="The relationship context of a party address." name="RelationshipId"/>
                <oer:attribute description="Usage context of a party address." name="PartyUsageCode"/>
                <oer:attribute description="Indicates if this is the primary address of this contact irrespective of the Context. Y for primary address, N for all others."
                     name="OverallPrimaryFlag"/>
                <oer:attribute description="Party address use information." name="PartySiteUse"/>
                <oer:attribute description="Phone information associated with the party at the party site."
                     name="Phone"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
                <oer:attribute description="Contact preference information for a person address."
                     name="ContactPreference"/>
                <oer:attribute description="Trading Community Person Address Additional Information"
                     name="PersonPartySiteInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Phone.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="ContactPreference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/"
         schemaLocation="PartySiteInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="PartySiteUse.xsd"/>
    <xsd:include schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:complexType name="PersonPartySite">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartySiteId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartySiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LocationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PartySiteNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Mailstop" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IdentifyingAddressFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartySiteName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Addressee" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlobalLocationNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartySiteType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameDba" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameDivision" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameLegal" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OverallPrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartySiteUse" type="PartySiteUse"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="ns1:Phone" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="OriginalSystemReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPreference" type="ns1:ContactPreference"/>
            <xsd:element minOccurs="0" name="PersonPartySiteInformation" type="ns2:PartySiteInformation"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personPartySite" type="PersonPartySite"/>
</xsd:schema>
