old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/customsvc/Pres_med_c.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="/extensibility/app/customer/views/common/"
     sdoJava:package="sessiondef.extensibility.app.customer.views.common" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="/extensibility/app/customer/views/common/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <name>pres_med</name>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:complexType name="Pres_med_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Id</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element minOccurs="0" name="Id" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RecordName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedBy" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreationDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Pres_Id_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ConflictId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionPackage" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="JobDefinitionName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="IsOwner" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="DIRECTIONS_FOR_USE_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="EXPIRE_DATE_c" nillable="true" type="ns0:date-Date" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="IS_READY_TO_PICKUP_FL_c" nillable="true" type="xsd:boolean"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="MEDICATION_ID_Id_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="MEDICATION_ID_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ORDER_NUMBER_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="QUANTITY_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="REFILLS_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SENT_TO_PHARMACY_DATE_c" nillable="true" type="ns0:date-Date"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SENT_TO_PHARMACY_FL_c" nillable="true" type="xsd:boolean"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="pres_med_c" type="Pres_med_c" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
</xsd:schema>
