PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/customsvc/CustomerCenterCustomObjectService.xsd

<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/types/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/salesParties/custExtn/extnService/types/"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="/extensibility/app/customer/views/common/" schemaLocation="Pres_c.xsd" xmlns="http://www.w3.org/2001/XMLSchema"/>
    <import namespace="/extensibility/app/customer/views/common/" schemaLocation="Med_c.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"/>
    <import namespace="/extensibility/app/customer/views/common/" schemaLocation="Prescription_c.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"/>
    <import namespace="/extensibility/app/customer/views/common/" schemaLocation="CustomerCenterTool_c.xsd"
         xmlns="http://www.w3.org/2001/XMLSchema"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <element name="createEntity">
        <complexType>
            <sequence>
                <element name="object" type="anyType"/>
                <element name="objectName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createEntityResponse">
        <complexType>
            <sequence>
                <element name="result" type="anyType"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEntity">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="keyValue" type="string"/>
                <element name="objectName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getEntityResponse">
        <complexType>
            <sequence>
                <element name="result" type="anyType"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateEntity">
        <complexType>
            <sequence>
                <element name="object" type="anyType"/>
                <element name="objectName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateEntityResponse">
        <complexType>
            <sequence>
                <element name="result" type="anyType"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteEntity">
        <complexType>
            <sequence>
                <element name="object" type="anyType"/>
                <element name="objectName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteEntityResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findEntity">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns0:FindCriteria"/>
                <element name="findControl" type="ns0:FindControl"/>
                <element name="objectName" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="findEntityResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="anyType"/>
            </sequence>
        </complexType>
    </element>
</schema>
