PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/OrganizationProfile.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/organization/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Account</name>
            <description>A trading community member of type organization and its profile
                information.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for organization profiles.System Generated. Primary Key"
                     name="OrganizationProfileId"/>
                <oer:attribute description="Unique party indentifier." name="PartyId"/>
                <oer:attribute description="Name of a party of the Organization party type" name="OrganizationName"/>
                <oer:attribute description="Identifier used to query the Dun and Bradstreet data. If a location is a branch, then in some countries the headquarters DUNS number is used to do the query. Otherwise it is the same as the DUNS number."
                     name="EnquiryDUNS"/>
                <oer:attribute description="Name of the chief executive officer" name="CeoName"/>
                <oer:attribute description="Formal title of the chief executive officer" name="CeoTitle"/>
                <oer:attribute description="Name of the highest ranking person in the company" name="PrincipalName"/>
                <oer:attribute description="Title of the highest ranking person in the company" name="PrincipalTitle"/>
                <oer:attribute description="Legal structure. For example, partnership, corporation, and so on."
                     name="LegalStatus"/>
                <oer:attribute description="Year when current ownership gained control" name="ControlYr"/>
                <oer:attribute description="Total number of employees" name="EmployeesTotal"/>
                <oer:attribute description="Status of this site. Identifies if the location is the HQ, a branch, or a single location."
                     name="HQBranchIndicator"/>
                <oer:attribute description="Indicates if this is a branch location. Y for branch locations, N for all other locations."
                     name="BranchFlag"/>
                <oer:attribute description="Indicates if this organization is out of business. Y for businesses that are out of business, N for active businesses."
                     name="OobInd"/>
                <oer:attribute description="Type of business activities performed at this site" name="LineOfBusiness"/>
                <oer:attribute description="U.S. Congressional District" name="CongDistCode"/>
                <oer:attribute description="Indicates if this company is an importer. Y for an importer, N for an organization that does not import."
                     name="ImportInd"/>
                <oer:attribute description="Indicates if this company is an exporter. Y for an exporter, N for an organization that does not export."
                     name="ExportInd"/>
                <oer:attribute description="Indicates if this company operates in an area with a labor surplus. Y for a surplus, N for no surplus exists."
                     name="LaborSurplusInd"/>
                <oer:attribute description="Indicates if this company is primarily owned by ethnic or racial minorities. Y for a minority-owned frim, N for a firm that is not owned by minorities"
                     name="MinorityOwnedInd"/>
                <oer:attribute description="The type of minority-owned frim" name="MinorityOwnedType"/>
                <oer:attribute description="Indicates if this company is primarily owned by women. Y for a women-owned frim, N for a firm that is not primarily owned by women."
                     name="WomanOwnedInd"/>
                <oer:attribute description="Indicates if this company is considered disadvantaged by the US governement under Title 8A. Y for a Title 8A disadvantaged firm, N for all other firms."
                     name="Disadv8aInd"/>
                <oer:attribute description="Indicates if this company is considered to be a small business. Y for small businesses, N for all other firms."
                     name="SmallBusInd"/>
                <oer:attribute description="Indicates if this company owns or rents its place of business. Lookup of values for rent, own, lease, and so on."
                     name="RentOwnInd"/>
                <oer:attribute description="Dun and Bradstreet credit rating" name="DbRating"/>
                <oer:attribute description="Indicates if this is a US federal agency supported by the General Services Administration (GSA). Y for organizations served by the GSA, N for organizations that are not served by the GSA."
                     name="GSAIndicatorFlag"/>
                <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe"
                     name="JgzzFiscalCode"/>
                <oer:attribute description="Fiscal year used as the source for financial information"
                     name="AnalysisFy"/>
                <oer:attribute description="Month that the fiscal year ends for organization" name="FiscalYearendMonth"/>
                <oer:attribute description="Current Fiscal Year Potential Revenue Amount." name="CurrentFiscalYearPotentialRevenueAmount"/>
                <oer:attribute description="Organization&apos;s potential revenue for next fiscal year"
                     name="NextFyPotentialRevenueAmount"/>
                <oer:attribute description="Year that the organization began doing business" name="YearEstablished"/>
                <oer:attribute description="Corporate charter of organization" name="MissionStatement"/>
                <oer:attribute description="Not used in Fusion V1" name="OrganizationType"/>
                <oer:attribute description="The physical class of business in which a business participates. For example, local, national, or international."
                     name="BusinessScope"/>
                <oer:attribute description="Taxation classification for corporation entities. For example, Chapter S in the US."
                     name="CorporationClass"/>
                <oer:attribute description="Lookup that represents most common business identifier in a country. For example, Chamber of Commerce Number in Italy, Government Registration Number in Taiwan."
                     name="LocalBusIdenType"/>
                <oer:attribute description="Primary identifier assigned to businesses by government agency, Chamber of Commerce, or other authority. Generally used outside US."
                     name="LocalBusIdentifier"/>
                <oer:attribute description="Organization&apos;s default currency code." name="PreferredFunctionalCurrency"/>
                <oer:attribute description="Lookup for type of registration, such as nonprofit." name="RegistrationType"/>
                <oer:attribute description="Total number of personnel employeed if can not be mapped to numeric field."
                     name="TotalEmployeesText"/>
                <oer:attribute description="Lookup that indicates whether subsidiaries are included in the calculation of total employees A for totals without subsidiaries, B for totals with subsidiaries."
                     name="TotalEmployeesInd"/>
                <oer:attribute description="Lookup that indicates whether the employee total is estimated. A for estimated, N for not estimated or actual."
                     name="TotalEmployeesEstimatedIndicator"/>
                <oer:attribute description="Lookup that indicates whether the number is a minimum, maximum, or average number of total employees. A for minimum, B for maximum, and C for average."
                     name="TotalEmployeesMinimumIndicator"/>
                <oer:attribute description="Lookup that indicates if organization is a parent or subsidiary location"
                     name="ParentSubInd"/>
                <oer:attribute description="Year that the business was incorporated" name="IncorpYear"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Not Used." name="ContentSourceNumber"/>
                <oer:attribute description="Not Used." name="EffectiveStartDate"/>
                <oer:attribute description="Not Used." name="EffectiveEndDate"/>
                <oer:attribute description="Indicates if the organization is privately owned. Y for a privately owned organization, N for a publicly owned organization."
                     name="PublicPrivateOwnershipFlag"/>
                <oer:attribute description="Local activity classification code type identifier" name="LocalActivityCodeType"/>
                <oer:attribute description="Local activity classification code" name="LocalActivityCode"/>
                <oer:attribute description="Number of employees at the referenced address" name="EmployeesAtPrimaryAddress"/>
                <oer:attribute description="Number of employees at the referenced address which cannot be mapped to a number"
                     name="EmployeesAtPrimaryAddressText"/>
                <oer:attribute description="Qualifies calculation of employees at the primary address as estimated"
                     name="EmployeesAtPrimaryAddressEstimation"/>
                <oer:attribute description="Qualifies calculation of employees at the primary address as minimum"
                     name="EmployeesAtPrimaryAddressMinimum"/>
                <oer:attribute description="Indicates if this is an internal organization. Y for internal, N for external. Defaulted to N."
                     name="InternalFlag"/>
                <oer:attribute description="Total number of payment experiences" name="TotalPaymentAmount"/>
                <oer:attribute description="Dun and Bradstreet does not maintain data for the branch offices of companies that are located outside of North America. Data is only maintained for the company&apos;s headquarters. If the data pertains only to a company&apos;s headquarters, this column stores the headquarter&apos;s PARTY_ID. If the data pertains to a branch office, this column stores the branch&apos;s PARTY_ID."
                     name="DisplayedDUNSPartyIdentifier"/>
                <oer:attribute description="Not Used." name="Status"/>
                <oer:attribute description="Dun and Bradstreet Business Information Report" name="BusinessReport"/>
                <oer:attribute description="DUNS_NUMBER in VARCHAR format. Column value not restricted to nine digit DUNS Number."
                     name="DUNSNumberC"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Stores bank number for banks and branch number for bank branches, primarily ABA number for US bank branches."
                     name="BankOrBranchNumber"/>
                <oer:attribute description="Identifies bank in several countries, typically for regulatory purposes."
                     name="BankCode"/>
                <oer:attribute description="Identifies bank branch in several countries, typically for regulatory purposes."
                     name="BranchCode"/>
                <oer:attribute description="Indicates existence of similarly named business." name="DoNotConfuseWith"/>
                <oer:attribute description="Home country associated with the party." name="HomeCountry"/>
                <oer:attribute description="Growth Strategy Description." name="GrowthStrategyDescription"/>
                <oer:attribute description="Location of account - optional part of User Primary Key"
                     name="SeblUserKeyLoc"/>
                <oer:attribute description="Corporate Stock Symbol, e.g. ORCL" name="StockSymbol"/>
                <oer:attribute description="One column to store the FSIO related trading partner codes. This column will store alpha numeric values. This column will also take care of the &quot;Fed vs Non-Fed&quot; attribute requirement."
                     name="TradingPartnerIdentifier"/>
                <oer:attribute description="Not Used." name="OrigSystem"/>
                <oer:attribute description="Not Used." name="OrigSystemReference"/>
                <oer:attribute description="Not Used." name="EffectiveSequence"/>
                <oer:attribute description="Corporate charter of organization" name="Comments"/>
                <oer:attribute description="Not Used." name="EffectiveLatestChange"/>
                <oer:attribute description="Size of an organization based on revenue, number of employees etc."
                     name="OrganizationSize"/>
                <oer:attribute description="This attribute will have Y if the suffix is overridden by user and N if not. Default value is N."
                     name="SuffixOverriddenFlag"/>
                <oer:attribute description="Name as captured by the users to internally identify the organization."
                     name="UniqueNameAlias"/>
                <oer:attribute description="Captures system generated or manually overridden suffix."
                     name="UniqueNameSuffix"/>
                <oer:attribute description="DUNS Number for the Domestic Ultimate, which is the hieghest family member in the same country as this business entity. A subject may be its own Domestic Ultimate."
                     name="DomesticUltimateDUNSNumberC"/>
                <oer:attribute description="DUNS Number for the Global Ultimate, which is the highest family member in the same country as this business entity as you walk up this branch of the tree. A case may be its own ultimate."
                     name="GlobalUltimateDUNSNumberC"/>
                <oer:attribute description="Parent is a corporation that owns more than 50% of another corporation&apos;s capital stock. The parent company can also be a subsidiary of another corporation. If the parent also has branches, then it is a headquarters as well as being a parent company. A headquarters is a business establishment that has branches or divisions reporting to it, and is financially responsible for those branches or divisions. If the headquarters has more than 50% of capital stock owned by anothe corporation, it also will be a subsidiary. If it owns more than 50% of capital stock of another corporation, then it is also a parent."
                     name="ParentDUNSNumberC"/>
                <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework"
                     name="CorpCurrencyCode"/>
                <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework"
                     name="CurcyConvRateType"/>
                <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework"
                     name="CurrencyCode"/>
                <oer:attribute description="Unique identification number for this party" name="PartyNumber"/>
                <oer:attribute description="Certification level for an organization party. HZ_PARTY_CERT_LEVEL lookup type"
                     name="CertificationLevel"/>
                <oer:attribute description="Reason for organization party&apos;s current certification level assignment. HZ_PARTY_CERT_REASON lookup type"
                     name="CertReasonCode"/>
                <oer:attribute description="How an organization prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD."
                     name="PreferredContactMethod"/>
                <oer:attribute description="Person PARTY_ID of a preferred contact for a given party. There should be a valid relationship."
                     name="PreferredContactPersonId"/>
                <oer:attribute description="Name of the primary contact person of the organization"
                     name="PreferredContactName"/>
                <oer:attribute description="E-mail address of the primary contact person of the organization"
                     name="PreferredContactEmailAddress"/>
                <oer:attribute description="Formatted Phone Number of the primary contact person of the organization"
                     name="PreferredContactFormattedPhoneNumber"/>
                <oer:attribute description="First line of the Identifying address" name="PrimaryAddressLine1"/>
                <oer:attribute description="Second line of the Identifying address" name="PrimaryAddressLine2"/>
                <oer:attribute description="Third line of the Identifying address" name="PrimaryAddressLine3"/>
                <oer:attribute description="Fourth line of the Identifying address" name="PrimaryAddressLine4"/>
                <oer:attribute description="Organization alias name." name="Alias"/>
                <oer:attribute description="City of the Identifying address" name="PrimaryAddressCity"/>
                <oer:attribute description="The country listed in the TERRITORY_CODE column of the FND_TERRITORY table. for the Identifying address."
                     name="PrimaryAddressCountry"/>
                <oer:attribute description="County of the Identifying address" name="PrimaryAddressCounty"/>
                <oer:attribute description="E-mail address of the organization" name="PrimaryEmailAddress"/>
                <oer:attribute description="Organization primary formatted address" name="PrimaryFormattedAddress"/>
                <oer:attribute description="Organization primary telephone number formatted in the local format."
                     name="PrimaryFormattedPhoneNumber"/>
                <oer:attribute description="Unique identifier of the location of the identifying address"
                     name="IdenAddrLocationId"/>
                <oer:attribute description="Unique identifier of the party site of the identifying address"
                     name="IdenAddrPartySiteId"/>
                <oer:attribute description="Standard name for a language" name="PrimaryLanguage"/>
                <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix."
                     name="PartyUniqueName"/>
                <oer:attribute description="Postal Code of the Identifying address" name="PrimaryAddressPostalCode"/>
                <oer:attribute description="Denormalization of the PARTY_NAME field in the HZ_ADDTNL_PARTY_NAMES row identified by PREFERRED_NAME_ID."
                     name="PreferredName"/>
                <oer:attribute description="Foreign Key to HZ_ADDTNL_PARTY_NAMES.PARTY_NAME_ID. If not NULL contains the ID of the overall Preferred Name for the Party. If NULL the Profile Name (i.e. the name contained in the profile) will be used as overall Preferred name. By default the value is NULL"
                     name="PreferredNameId"/>
                <oer:attribute description="Organization primary E-mail contact point ID." name="PrimaryEmailId"/>
                <oer:attribute description="The area code within a country code" name="PrimaryPhoneAreaCode"/>
                <oer:attribute description="Organization primary contact point phone ID." name="PrimaryPhoneId"/>
                <oer:attribute description="International country code for a telephone number. For example, 33 for France"
                     name="PrimaryPhoneCountryCode"/>
                <oer:attribute description="Additional number addressed after initial connection to an internal telephone system"
                     name="PrimaryPhoneExtension"/>
                <oer:attribute description="Lookup code for the type of phone line. For example, general, fax, inbound or outbound"
                     name="PrimaryPhoneLineType"/>
                <oer:attribute description="A telephone number formatted in local format. The number should not include country code, area code, or extension"
                     name="PrimaryPhoneNumber"/>
                <oer:attribute description="Contact point type, such as business or personal" name="PrimaryPhonePurpose"/>
                <oer:attribute description="Unique Identifier of the primary uniform resource locator"
                     name="PrimaryWebId"/>
                <oer:attribute description="Organization Pronunciation" name="Pronunciation"/>
                <oer:attribute description="Province of the Identifying address" name="PrimaryAddressProvince"/>
                <oer:attribute description="Standard Industry Classification (SIC) code" name="SICCode"/>
                <oer:attribute description="Version of Standard Industry Classification (SIC) code"
                     name="SICCodeType"/>
                <oer:attribute description="State of the Identifying address" name="PrimaryAddressState"/>
                <oer:attribute description="Uniform resource locator" name="PrimaryURL"/>
                <oer:attribute description="Indicates if the party was validated. Y for a validated party, N for a party that is not validated."
                     name="ValidatedFlag"/>
                <oer:attribute description="Tracks if a party has a direct relationship with the organization using Oracle Receivables or through a third party vendor. Y for a third party relationship, N for a direct relationship. If Oracle Service is installed, the Third Party field in the Customers window is mandatory."
                     name="ThirdPartyFlag"/>
                <oer:attribute description="The Source System that last updated this record." name="LastUpdateSourceSystem"/>
                <oer:attribute description="Date on which the record was last updated by the source system."
                     name="LastSourceUpdateDate"/>
                <oer:attribute description="Specifies the enrichment status of the person." name="DataCloudStatus"/>
                <oer:attribute description="Specifies date this person was last enriched in DaaS."
                     name="LastEnrichmentDate"/>
                <oer:attribute description="Organizaton Information" name="OrgInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/organization/"
         schemaLocation="OrganizationInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="OrganizationProfile">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>OrganizationProfileId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OrganizationProfileId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="OrganizationName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EnquiryDUNS" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CeoName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CeoTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrincipalName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrincipalTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LegalStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ControlYr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="HQBranchIndicator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BranchFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="OobInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LineOfBusiness" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CongDistCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ImportInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ExportInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LaborSurplusInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MinorityOwnedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MinorityOwnedType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="WomanOwnedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Disadv8aInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SmallBusInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RentOwnInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DbRating" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GSAIndicatorFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AnalysisFy" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FiscalYearendMonth" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrentFiscalYearPotentialRevenueAmount" nillable="true"
                 type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="NextFyPotentialRevenueAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="YearEstablished" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BusinessScope" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorporationClass" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocalBusIdenType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocalBusIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RegistrationType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalEmployeesText" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalEmployeesInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalEmployeesEstimatedIndicator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TotalEmployeesMinimumIndicator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentSubInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IncorpYear" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ContentSourceNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PublicPrivateOwnershipFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LocalActivityCodeType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocalActivityCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressText" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressEstimation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmployeesAtPrimaryAddressMinimum" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="TotalPaymentAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="DisplayedDUNSPartyIdentifier" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BusinessReport" nillable="true" type="ns0:base64Binary-DataHandler"/>
            <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BankOrBranchNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BankCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BranchCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DoNotConfuseWith" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HomeCountry" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GrowthStrategyDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SeblUserKeyLoc" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StockSymbol" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TradingPartnerIdentifier" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveSequence" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrganizationSize" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SuffixOverriddenFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="UniqueNameAlias" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DomesticUltimateDUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlobalUltimateDUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentDUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactPersonId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PreferredContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactEmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactFormattedPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Alias" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCity" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCountry" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCounty" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryEmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFormattedAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFormattedPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IdenAddrLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="IdenAddrPartySiteId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryLanguage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressPostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredNameId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryEmailId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneLineType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryWebId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pronunciation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressProvince" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SICCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SICCodeType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressState" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryURL" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ThirdPartyFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LastUpdateSourceSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastSourceUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="DataCloudStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastEnrichmentDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="OrgInformation" type="ns1:OrganizationInformation" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="organizationProfile" type="OrganizationProfile"/>
</xsd:schema>
