PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/EmailDomain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">E-Mail Domain</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">An e-mail domain that can be associated with a trading community
                member's e-mail address. For example, ABC Corporation has CORP
                and BUSINESS e-mail domains.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Stores Party_ID from HZ_PARTIES" name="PartyId" />
        <oer:attribute description="Actual (unreversed) domain name of the organization for display purpose" name="DomainName" />
        <oer:attribute description="Reversed domain name for the purposes of searching" name="TransposedDomain" />
        <oer:attribute description="Status of this record." name="Status" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Sequence generated unique identifier" name="EmailDomainId" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="EmailDomain">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>EmailDomainId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="DomainName" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransposedDomain" type="xsd:string" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="EmailDomainId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="emailDomain" type="EmailDomain" />
</xsd:schema>