paas4saas/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/FinancialProfile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">Financial Profile</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">The details of a trading community member's financial
                information. For example, bank account information of a trading
                community member that was obtained as part of a credit
                evaluation.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Financial profile identifier" name="FinancialProfileId" />
        <oer:attribute description="The date that access to the information in the account was granted" name="AccessAuthorityDate" />
        <oer:attribute description="Indicates if access to information in a financial account was granted. Y for access has been granted. N for access has not been granted." name="AccessAuthorityGranted" />
        <oer:attribute description="The reported balance on an account. The balance can be a positive number, negative number, or zero." name="BalanceAmount" />
        <oer:attribute description="The date and time that the account balance was verified" name="BalanceVerifiedOnDate" />
        <oer:attribute description="An account number at an organization that identifies the account." name="FinancialAccountNumber" />
        <oer:attribute description="A short name that classifies accounts. For example, savings, checking, home loan, personal loan, trading, and so on." name="FinancialAccountType" />
        <oer:attribute description="A classification of financial organizations. For example, bank, savings and loan, private lender, building society and so on" name="FinancialOrgType" />
        <oer:attribute description="Name of the financial organization that holds the account" name="FinancialOrganizationName" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Unique party indentifier. Foreign key to the HZ_PARTIES table" name="PartyId" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Record status flag" name="Status" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Preferred Functional Currency for the Organization. This is derived from Organization/Person Party object." name="PreferredFunctionalCurrency" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="FinancialProfile">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>FinancialProfileId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="FinancialProfileId" type="xsd:long" />
      <xsd:element minOccurs="0" name="AccessAuthorityDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="AccessAuthorityGranted" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BalanceAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="BalanceVerifiedOnDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="FinancialAccountNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FinancialAccountType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FinancialOrgType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FinancialOrganizationName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="financialProfile" type="FinancialProfile" />
</xsd:schema>