paas4saas/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/PersonLanguage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">Contact Language</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">A language associated with a trading community person. For
                example, Mary Smith can speak both Spanish and English but can
                only read and write English.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifer of the language use reference" name="LanguageUseReferenceId" />
        <oer:attribute description="The standard name for a language. For example, Spanish, Mandarin, or American English. Foreign key to the FND_LANGUAGES table." name="LanguageName" />
        <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table." name="PartyId" />
        <oer:attribute description="Indicates if this is the primary language used by a person in day-to-day transactions. Y for the primary language, N for other languages." name="PrimaryLanguageIndicator" />
        <oer:attribute description="User-defined level number or name to indicate the ability to read a language" name="ReadsLevel" />
        <oer:attribute description="User-defined level number or name to indicate the ability to speak a language" name="SpeaksLevel" />
        <oer:attribute description="User-defined level number or name to indicate the ability to write in a language" name="WritesLevel" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Record status flag" name="Status" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Code to indicate comprehension of a spoken language" name="SpokenComprehensionLevel" />
        <oer:attribute description="Indicates if this language is the person's declared native language. Y for a declared native language, N for all other languages." name="NativeLanguageFlag" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PersonLanguage">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>LanguageUseReferenceId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LanguageUseReferenceId" type="xsd:long" />
      <xsd:element minOccurs="0" name="LanguageName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryLanguageIndicator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReadsLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SpeaksLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="WritesLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SpokenComprehensionLevel" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NativeLanguageFlag" nillable="true" type="xsd:boolean" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="personLanguage" type="PersonLanguage" />
</xsd:schema>