PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_SalesPartyService/src/oracle/demo/pts/fusionproxy/salesparty/PartySiteUse.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Trading Community Address Purpose</name>
            <description>What a trading community member address is used for.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Party site use identifier" name="PartySiteUseId"/>
                <oer:attribute description="Indicates the date at the start of the date range within which the row is active."
                     name="BeginDate"/>
                <oer:attribute description="A textual description of the possible use of a site by a party"
                     name="Comments"/>
                <oer:attribute description="Indicates the date at the end of the date range within which the row is active."
                     name="EndDate"/>
                <oer:attribute description="Identifier for the party site. Foreign key to the HZ_PARTY_SITES table"
                     name="PartySiteId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Internal Attribute. Used only in SalesPartyService" name="IntegrationKey"/>
                <oer:attribute description="Site use type associated with the address" name="SiteUseType"/>
                <oer:attribute description="Indicates if this is the primary use for this site. Y for the primary site, N for all other sites."
                     name="PrimaryPerType"/>
                <oer:attribute description="Indicates if this is an Active or Inactive site. A for active, I for inactive."
                     name="Status"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="PartySiteUse">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartySiteUseId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartySiteUseId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="BeginDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PartySiteId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IntegrationKey" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SiteUseType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPerType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="partySiteUse" type="PartySiteUse"/>
</xsd:schema>
