PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_SalesPartyService/src/oracle/demo/pts/fusionproxy/salesparty/SalesAccount.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:sdoJava="commonj.sdo/java"
     xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Sales Account</name>
            <description>An object used to store sales account profile attributes. A sales account is a sales party with usage as sales account.</description>
            <keywords>
                <value>SalesAccount</value>
            </keywords>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components : CrmCommonSalesParties-Sales Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The identifier for the sales account owner." name="AccountDirectorId"/>
                <oer:attribute description="The standard replication column." name="CpdrfLastUpd"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerPillar"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerSor"/>
                <oer:attribute description="The user who created the record." name="CreatedBy"/>
                <oer:attribute description="The date and time the record was created." name="CreationDate"/>
                <oer:attribute description="The indicator showing whether there is an existing selling or billing relationship with the sales account."
                     name="ExistingFlag"/>
                <oer:attribute description="The date when the existing flag is last modified." name="ExistingFlgLastUpdDate"/>
                <oer:attribute description="The date indicating when the sales account territory assignment was last run by assignment manager."
                     name="LastAssignedDate"/>
                <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate"/>
                <oer:attribute description="The user login for the user who last updated the record."
                     name="LastUpdateLogin"/>
                <oer:attribute description="The user who last updated the record." name="LastUpdatedBy"/>
                <oer:attribute description="The indicator for whether a sales account is a named sales account."
                     name="NamedAccountFlag"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="The unique identifier on the sales account." name="PartyId"/>
                <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeCategory"/>
                <oer:attribute description="Indicator showing whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account."
                     name="AssgnExceptionFlag"/>
                <oer:attribute description="Label displaying the currency for a sales account." name="CurrencyCode"/>
                <oer:attribute description="Label displaying currency conversation rate type for a sales account."
                     name="CurcyConvRateType"/>
                <oer:attribute description="Label displaying corporate currency code for a sales account."
                     name="CorpCurrencyCode"/>
                <oer:attribute description="Label displaying the unique name for a sales party." name="PartyUniqueName"/>
                <oer:attribute description="Label displaying the classification code assignment identifier for a sales party."
                     name="CodeAssignmentId"/>
                <oer:attribute description="Label displaying the status of a sales party. Sample values for status are active and inactive."
                     name="Status"/>
                <oer:attribute description="Label displaying the classification category meaning."
                     name="Meaning"/>
                <oer:attribute description="Label displaying the classification category." name="ClassCategory"/>
                <oer:attribute description="Label displaying the classification code." name="ClassCode"/>
                <oer:attribute description="Label displaying View Application" name="ViewApplicationId"/>
                <oer:attribute description="Label displaying the classification category." name="ClassCategory1"/>
                <oer:attribute description="Label displaying the unique name of a sales party." name="PartyUniqueName1"/>
                <oer:attribute description="Label displaying the status of a sales account. Sample values for status are active and inactive."
                     name="Status1"/>
                <oer:attribute description="Label displaying the party type. Sample values for party types are organization and person."
                     name="PartyType"/>
                <oer:attribute description="Label displaying the name of a sales party." name="PartyName"/>
                <oer:attribute description="Label displaying the user-friendly unique identifier of a sales party."
                     name="PartyNumber"/>
                <oer:attribute description="Label displaying the internal identifier of a sales party."
                     name="SalesAccountId"/>
                <oer:attribute description="Indicates the party site id which has usage as SELL_TO."
                     name="SellToPartySiteId"/>
                <oer:attribute description="Indicates the date on which the sales account is created."
                     name="StartDateActive"/>
                <oer:attribute description="Indicates date on which the sales account was ended."
                     name="EndDateActive"/>
                <oer:attribute description="Indicates name of the sales account." name="SalesAccountName"/>
                <oer:attribute description="This will store the name suffix." name="SalesAccountNameSuffix"/>
                <oer:attribute description="Indicates the sales account unique name." name="SalesAccountUniqueName"/>
                <oer:attribute description="The sales account resources in the sales account resource team."
                     name="SalesAccountResource"/>
                <oer:attribute description="The reference to a sales party&apos;s associated territory information."
                     name="SalesAccountTerritory"/>
                <oer:attribute description="The organization associated to the sales account." name="OrganizationD"/>
                <oer:attribute description="The person object representing the sales account." name="PersonD"/>
                <oer:attribute description="The reference to a sales account&apos;s associated contact points information."
                     name="SalesAccountContactPoints"/>
                <oer:attribute description="The reference to a sales party&apos;saccount&apos;s associated contacts information."
                     name="SalesAccountContacts"/>
                <oer:attribute description="The organization party associated to the sales account."
                     name="OrganizationParty"/>
                <oer:attribute description="The person party object representing the sales account."
                     name="PersonParty"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
         schemaLocation="OrganizationProfile.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
         schemaLocation="PersonProfile.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
         schemaLocation="OrganizationParty.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
         schemaLocation="Person.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="SalesAccountResource.xsd"/>
    <xsd:include schemaLocation="SalesAccountTerritory.xsd"/>
    <xsd:include schemaLocation="SalesAccountContactPoints.xsd"/>
    <xsd:include schemaLocation="SalesAccountContacts.xsd"/>
    <xsd:complexType name="SalesAccount">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SalesAccountId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AccountDirectorId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ExistingFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ExistingFlgLastUpdDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="LastAssignedDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NamedAccountFlag" nillable="true" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssgnExceptionFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CodeAssignmentId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Meaning" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClassCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClassCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ViewApplicationId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ClassCategory1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SellToPartySiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SalesAccountName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountNameSuffix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountUniqueName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Rating" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="UserSalesAccountId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UpdateRating" nillable="true" type="xsd:int"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountResource" type="SalesAccountResource"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountTerritory" type="SalesAccountTerritory"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationD" type="ns1:OrganizationProfile"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonD" type="ns2:PersonProfile"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountContactPoints" type="SalesAccountContactPoints"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountContacts" type="SalesAccountContacts"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationParty" type="ns1:OrganizationParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonParty" type="ns2:Person"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesAccount" type="SalesAccount"/>
</xsd:schema>
