PaaS-SaaS_DataSync/DataSync/DataSync/DataSync/classes/com/oracle/pts/salesparty/wsclient/SalesAccountContacts.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Sales Account Contact SDO</name>
            <description>These are contacts associated with the account.</description>
            <oer:attributes>
                <oer:attribute description="Indicates comments on the account contact" name="Comments"/>
                <oer:attribute description="Indicates the person party id of this relationship." name="PersonPartyId"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Indicates the account which is related to the contact."
                     name="SalesAccountId"/>
                <oer:attribute description="Indicates date on which the account contact was created."
                     name="StartDateActive"/>
                <oer:attribute description="Indicates account contact as primary." name="PrimaryFlag"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="UserLastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Indicates the relationship ID that identifies the relationship between the (contact) person and the party associated to the account."
                     name="RelationshipId"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Indicates date on which the account contact has ended."
                     name="EndDateActive"/>
                <oer:attribute description="Indicates the account contact identifier" name="SAccountContactId"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Indicates the influence level of the contact. LOV with valid values as Influence Circle, None, Political Structure"
                     name="InfluenceLvlCd"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="LOV that shows the affinity the contact has with the deployment company. Valid values are  Favorable, negative, neutral, somewhat favorable and somewhat negative"
                     name="AffinityLvlCd"/>
                <oer:attribute description="Indicates the buying role of the contact. LOV with valid values as Does not matter, Key decision maker, Secondary decision maker, Supporting role"
                     name="BuyingRoleCd"/>
                <oer:attribute description="The standard replication column." name="CpdrfLastUpd"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerPillar"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerSor"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="SalesAccountContacts">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SAccountContactId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonPartyId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RelationshipId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SAccountContactId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InfluenceLvlCd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AffinityLvlCd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BuyingRoleCd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesAccountContacts" type="SalesAccountContacts"/>
</xsd:schema>
