old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_InteractionService/classes/oracle/demo/pts/fusionproxy/interaction/InteractionParticipant.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     sdoJava:package="oracle.apps.crmCommon.interactions.interactionService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Interaction Participant</name>
            <description>An interaction participant representing a contact or resource
                such as Mary Smith or Jane Doe.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    AppCmmnCompInteractions-Interactions</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique Identifier for the Interaction Participant Object."
                     name="InteractionParticipantId"/>
                <oer:attribute description="ID of the interaction this participant record relates to."
                     name="InteractionId"/>
                <oer:attribute description="Party Id of the TCA Party/Account/Site. These participants can be internal (resources) or external (contacts, accounts, sites, or employees)."
                     name="ParticipantId"/>
                <oer:attribute description="Type of the Participant. Some of the possible participant type values could be Contact, Resource."
                     name="ParticipantTypeCode"/>
                <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)."
                     name="ConflictId"/>
                <oer:attribute description="Relationship Id between the customer of the interaction and the participant"
                     name="RelationshipId"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Sales organization id for a resource participant." name="ResourceOrgId"/>
                <oer:attribute description="Stores the &quot;light weight&quot; user Global Unique Id. Light Weight users defined in the Extended Security (XS) System. Foreign key to FND_USER."
                     name="UserGUID"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="InteractionParticipant">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>InteractionParticipantId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="InteractionParticipantId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="InteractionId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ParticipantId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ParticipantTypeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ConflictId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="ResourceOrgId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="UserGUID" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="interactionParticipant" type="InteractionParticipant"/>
</xsd:schema>
