paas4saas/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ActivityServiceReference/Activity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" sdoJava:package="oracle.apps.crmCommon.activities.activityManagementService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/notes/noteService/Note.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/ActivityContact.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/ActivityAssignee.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/">Activity</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/">This is used to capture task and appointment information.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="System generated non-nullable primary key of the table." name="ActivityId" />
        <oer:attribute description="System generated or can come from external system (user key)." name="ActivityNumber" />
        <oer:attribute description="Party Id of the activity account (Customer - org/person, or Partner etc.)." name="AccountId" />
        <oer:attribute description="A text field for capturing some descriptive information about the activity." name="ActivityDescription" />
        <oer:attribute description="The end date and time of an appointment, or the completion time of a task." name="ActivityEndDate" />
        <oer:attribute description="Task vs Appointment. System use only." name="ActivityFunctionCode" />
        <oer:attribute description="The start date and time of an appointment or a task. Defaulted to null for an appointment and defaulted to creation datetime for a task." name="ActivityStartDate" />
        <oer:attribute description="The type or category of the activity." name="ActivityTypeCode" />
        <oer:attribute description="Designates that an appointment is the entire day." name="AllDayFlag" />
        <oer:attribute description="Identifier of the Assessment to which the activity or the activity template is associated to." name="AssessmentId" />
        <oer:attribute description="For activities auto-generated through other systems, store the source system where it came from. We will use this information later in sync back logic to avoid double appearances of the same activity." name="AutoLogSource" />
        <oer:attribute description="Related Campaign." name="CampaignId" />
        <oer:attribute description="System attribute to capture the user Id of the activity creator. This is defaulted by the system." name="CreatedBy" />
        <oer:attribute description="System attribute to capture the Date and time the activity was created. This is defaulted by the system." name="CreationDate" />
        <oer:attribute description="Id of Customer Account that the activity relates to." name="CustomerAccountId" />
        <oer:attribute description="Inbound/Outbound. Optional. Default null." name="DirectionCode" />
        <oer:attribute description="The date the task activity is due to be completed." name="DueDate" />
        <oer:attribute description="Duration of an appt or task." name="Duration" />
        <oer:attribute description="System attribute to capture the Date and Time the activity was last updated. This is defaulted by the system." name="LastUpdateDate" />
        <oer:attribute description="System attribute to capture the Id of the user who last updated the activity. This is defaulted by the system." name="LastUpdateLogin" />
        <oer:attribute description="System attribute to capture the Id of the user who last updated the activity. This is defaulted by the system." name="LastUpdatedBy" />
        <oer:attribute description="Related Lead." name="LeadId" />
        <oer:attribute description="Appointment location." name="Location" />
        <oer:attribute description="Unique identifier of external mobile device." name="MobileActivityCode" />
        <oer:attribute description="System attribute to capture number of updates on an activity row. This is updated by the system." name="ObjectVersionNumber" />
        <oer:attribute description="Related Opportunity." name="OpportunityId" />
        <oer:attribute description="For inbound phone calls, the ANI or number being called from. For outbound calls, the phone number being called." name="OtherPartyPhoneNumber" />
        <oer:attribute description="The outcome of the activity." name="OutcomeCode" />
        <oer:attribute description="If created from Outlook and synced, &quot;Y&quot;." name="OutlookFlag" />
        <oer:attribute description="Unique identifier from Outlook Activity." name="OutlookIdentifier" />
        <oer:attribute description="Primary resource on the activity. Supports resources only." name="OwnerId" />
        <oer:attribute description="Related activity Id, only applicable if the record is a follow up activity." name="ParentActivityId" />
        <oer:attribute description="Flag to indicate that the Activity has been created for an Organization Account with usage as Partner." name="PartnerUsageFlag" />
        <oer:attribute description="Numeric Value 0-100 to reflect the percent complete status of the activity. Free form numeric. % value at end." name="PercentageComplete" />
        <oer:attribute description="Primary contact of the activity." name="PrimaryContactId" />
        <oer:attribute description="The priority of the activity. Default to 2. Possible values: 1, 2, 3." name="PriorityCode" />
        <oer:attribute description="Repeat on specified day of month (for monthly appointments)." name="RecurDay" />
        <oer:attribute description="Ends on a specified date." name="RecurEndDate" />
        <oer:attribute description="It is set to indicate if the recurrence occurs for every day, month, year, etc.  For example, a daily recurring appointment can occur every day of the week or weekdays only.  If it is everyday of the week, it is set to ???Y??? if it is weekdays only, it is set to ???N???." name="RecurEveryOptionFlag" />
        <oer:attribute description="Indicates if Appointment instance has been updated outside of recurring appointment series." name="RecurExceptionFlag" />
        <oer:attribute description="Frequency that the recurring appointment series repeats." name="RecurFrequency" />
        <oer:attribute description="Repeat on Friday." name="RecurFriFlag" />
        <oer:attribute description="Repeat on Monday." name="RecurMonFlag" />
        <oer:attribute description="Repeat on specified month (for yearly appointments)." name="RecurMonth" />
        <oer:attribute description="Designates specific number of occurrences for the series to end after." name="RecurNumberOfInstances" />
        <oer:attribute description="Original date of a recurring appointment instance." name="RecurOrigInstDate" />
        <oer:attribute description="Designates which week for appointment to recur (for monthly and yearly appointments). Possible values: First, Second, Third, Fourth, Last." name="RecurPattern" />
        <oer:attribute description="For Internal Use Only. Either &quot;I&quot; for instance or &quot;S&quot; for series or &quot;N&quot; for non-recurring. Do not populate it if Activity is of type Task." name="RecurRecType" />
        <oer:attribute description="Repeat on Saturday." name="RecurSatFlag" />
        <oer:attribute description="Series Id that links instances of a series together." name="RecurSeriesId" />
        <oer:attribute description="Repeat on Sunday." name="RecurSunFlag" />
        <oer:attribute description="Repeat on Thursday." name="RecurThuFlag" />
        <oer:attribute description="Repeat on Tuesday." name="RecurTueFlag" />
        <oer:attribute description="Designates how often an appointment is repeated. Possible values: Daily, Weekly, Monthly, Yearly." name="RecurTypeCode" />
        <oer:attribute description="Repeat on Wednesday." name="RecurWedFlag" />
        <oer:attribute description="It works in conjunction with RecurPattern attribute. Possbile values: Monday to Sunday, Weekday, Weekend, Day" name="RecurWeekday" />
        <oer:attribute description="Activity Type for a reference customer activity. To be used as an extension only" name="ReferenceCustomerActTypeCode" />
        <oer:attribute description="Id of the reference customer (party) associated with the activity." name="ReferenceCustomerId" />
        <oer:attribute description="Status of the activity. Defaulted to NOT_STARTED." name="StatusCode" />
        <oer:attribute description="Subject/Name/Title of the activity." name="Subject" />
        <oer:attribute description="Unique Ientifier of the call on the external phone system." name="SwitchCallId" />
        <oer:attribute description="The duration (in days) of the template activity. This attribute is used with the start date when generating an activity from a template in order to calculate the due date." name="TemplateDuration" />
        <oer:attribute description="The lead time (in days) of the template activity. This attribute is used with the date input parameter when generating an activity from a template in order to calculate the activity start date. Activity start date = date provided as input parameter + lead time." name="TemplateLeadTime" />
        <oer:attribute description="Attribute to capture when the record was last updated by a user in disconnect mode." name="UserLastUpdateDate" />
        <oer:attribute description="Holds currency code of a record" name="CurcyConvRateType" />
        <oer:attribute description="Holds Currency Conversion Rate Type from profile" name="CurrencyCode" />
        <oer:attribute description="Holds Corporate Currency Code from profile" name="CorpCurrencyCode" />
        <oer:attribute description="Related Partner Program." name="PartnerProgramId" />
        <oer:attribute description="Related Partner Enrollment" name="PartnerEnrollmentId" />
        <oer:attribute description="Code of the Object to which Activity will get related to" name="SourceObjectCode" />
        <oer:attribute description="Identifier  of the Object to which Activity will get related to" name="SourceObjectId" />
        <oer:attribute description="Custom Foreign Key Attribute." name="CustomFKAttribute" />
        <oer:attribute description="This is used to capture the contacts associated to the activity." name="ActivityContact" />
        <oer:attribute description="This is used to capture the assignees/resources associated to the activity." name="ActivityAssignee" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Activity">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>ActivityId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ActivityId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ActivityNumber" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ActivityDescription" nillable="true" type="ns0:base64Binary-DataHandler" />
      <xsd:element minOccurs="0" name="ActivityEndDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ActivityFunctionCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="ActivityStartDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ActivityTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AllDayFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="AssessmentId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="AutoLogSource" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CampaignId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="DirectionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DueDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Duration" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LeadId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="Location" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="MobileActivityCode" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="OpportunityId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OtherPartyPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OutcomeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OutlookFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OutlookIdentifier" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OwnerId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ParentActivityId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartnerUsageFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PercentageComplete" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="PrimaryContactId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PriorityCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurDay" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RecurEndDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="RecurEveryOptionFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurExceptionFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurFrequency" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecurFriFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurMonFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurMonth" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurNumberOfInstances" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RecurOrigInstDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="RecurPattern" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurRecType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurSatFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurSeriesId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="RecurSunFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurThuFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurTueFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RecurWedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="RecurWeekday" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReferenceCustomerActTypeCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ReferenceCustomerId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="StatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Subject" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SwitchCallId" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TemplateDuration" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="TemplateLeadTime" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartnerProgramId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartnerEnrollmentId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SourceObjectCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SourceObjectId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomFKAttribute" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ActivityContact" type="ActivityContact" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ActivityAssignee" type="ActivityAssignee" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Note" type="ns1:Note" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="activity" type="Activity" />
</xsd:schema>