old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/Citizenship.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Citizenship</name>
            <description>A trading community person&apos;s citizenship information.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Citizenship identifier" name="CitizenshipId"/>
                <oer:attribute description="Indicates if the citizenship was granted by being born in the country or by naturalization."
                     name="BirthOrSelected"/>
                <oer:attribute description="Unique identifier for a party. Foreign key to the HZ_PARTIES table."
                     name="PartyId"/>
                <oer:attribute description="ISO code for the country from which a person claims citizenship. Foreign key to the FND_TERRITORIES table"
                     name="CountryCode"/>
                <oer:attribute description="Date when an individual renounced citizenship. Usually a self-declared date that might not match a legal effective date."
                     name="DateDisowned"/>
                <oer:attribute description="Date when the country granted citizenship to the individual. For a native-born person, this date is typically the person&apos;s date of birth."
                     name="DateRecognized"/>
                <oer:attribute description="A number such as passport number or naturalization reference number associated with DOCUMENT_TYPE."
                     name="DocumentReference"/>
                <oer:attribute description="Date that the country recognizes as the end of citizenship."
                     name="EndDate"/>
                <oer:attribute description="The class of document that confirms citizenship. For example, a passport, or naturalization papers."
                     name="DocumentType"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Identifier for the source application module that created this record"
                     name="CreatedByModule"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="Citizenship">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>CitizenshipId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CitizenshipId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="BirthOrSelected" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CountryCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateDisowned" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DateRecognized" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DocumentReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DocumentType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="citizenship" type="Citizenship"/>
</xsd:schema>
