old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/FinancialReport.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.organizationService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Financial Report</name>
            <description>A trading community member&apos;s financial report information.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for a Financial report. Primary Key for the HZ_FINANCIAL_REPORTS table."
                     name="FinancialReportId"/>
                <oer:attribute description="The publication date of a financial report." name="DateReportIssued"/>
                <oer:attribute description="Party identifier. Foreign key to the HZ_PARTIES table"
                     name="PartyId"/>
                <oer:attribute description="Any specific reference name or number. For example, a library identifier or publisher&apos;s identifier (ISBN) that uniquely identifies the document or publication."
                     name="DocumentReference"/>
                <oer:attribute description="The period covered by the financial report. For example, fiscal year 1999, 1Q98, and so on."
                     name="IssuedPeriod"/>
                <oer:attribute description="Name of the primary organization that requires this financial report. For example, auditors, the Federal Trade Commission, and the Internal Revenue Service."
                     name="RequiringAuthority"/>
                <oer:attribute description="A name for the financial report. For example, 10K report, Annual Report, Shareholder&apos;s Special Report."
                     name="TypeOfFinancialReport"/>
                <oer:attribute description="May use report start and end dates instead of ISSUED_PERIOD."
                     name="ReportStartDate"/>
                <oer:attribute description="May use report start and end dates instead of ISSUED_PERIOD."
                     name="ReportEndDate"/>
                <oer:attribute description="Indicates if the financial reports are audited. Y for audited, N for unaudited."
                     name="AuditInd"/>
                <oer:attribute description="Indicates if the financial reports are consolidated. C for consolidated, N for unconsolidated."
                     name="ConsolidatedInd"/>
                <oer:attribute description="Indicates if the financial reports provide estimated data. Y for estimated, N for actual or measured data."
                     name="EstimatedInd"/>
                <oer:attribute description="Indicates if the financial reports cover a fiscal twelve-month accounting period. Y for a twelve-month fiscal period, N for anything other than a twelve-month fiscal period."
                     name="FiscalInd"/>
                <oer:attribute description="Indicates if the financial reports are the final closing statements for a business that has ceased operations. Y for final closing statements, N for normal operations."
                     name="FinalInd"/>
                <oer:attribute description="Indicates if the financial reports display forecasts or future projections. Y for forecast data, N for historical data."
                     name="ForecastInd"/>
                <oer:attribute description="Indicates if the financial reports are the opening statements for a business. Y for opening statements, N for normal operations."
                     name="OpeningInd"/>
                <oer:attribute description="Indicates if the financial reports are pro forma numbers. Y for pro forma numbers, N for normal numbers."
                     name="ProformaInd"/>
                <oer:attribute description="Indicates if the financial reports include qualifying remarks from auditors about the fairness and accuracy of the numbers. Y for reports qualified by auditors, N for reports that were not qualified."
                     name="QualifiedInd"/>
                <oer:attribute description="Indicates if the financial reports include data that was corrected after the original financial reports. Y for restated, N for the original numbers."
                     name="RestatedInd"/>
                <oer:attribute description="Indicates if the financial reports were signed by the principals of the organization. Y for signed reports, N for unsigned reports."
                     name="SignedByPrincipalsInd"/>
                <oer:attribute description="Indicates if the financial reports include trial balance numbers. Y for trial balance numbers, N for normal numbers."
                     name="TrialBalanceInd"/>
                <oer:attribute description="Indicates if the financial reports include balance sheet accounts that do not balance. Y for reports that include unbalanced balance sheet accounts. N for reports that only include balanced accounts."
                     name="UnbalancedInd"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Date when the record was entered or changed in a data warehouse"
                     name="WhUdpateId"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Number to indicate a financial value like annual sales."
                     name="FinancialNumber"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:include schemaLocation="FinancialNumber.xsd"/>
    <xsd:complexType name="FinancialReport">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>FinancialReportId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="FinancialReportId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DateReportIssued" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DocumentReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IssuedPeriod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequiringAuthority" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TypeOfFinancialReport" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReportStartDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ReportEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AuditInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ConsolidatedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EstimatedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FiscalInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FinalInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ForecastInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OpeningInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ProformaInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="QualifiedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RestatedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SignedByPrincipalsInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TrialBalanceInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UnbalancedInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="WhUdpateId" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="FinancialNumber" type="FinancialNumber"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="financialReport" type="FinancialReport"/>
</xsd:schema>
