old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/InstantMessaging.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/contactPoint/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Instant Messaging</name>
            <description>The instant messaging information associated with a trading
                community member. For example AOL identifier or Yahoo Messenger
                information.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for a contact point. System generated from a sequence. Primary Key."
                     name="ContactPointId"/>
                <oer:attribute description="Contact point type, such as phone or e-mail. Valid value from COMMUNICATION_TYPE lookup type."
                     name="ContactPointType"/>
                <oer:attribute description="Lookup: contact_point_status. Typically values: active, inactive, delete. It is validated against AR lookup type REGISTRY_STATUS. Default value is A."
                     name="Status"/>
                <oer:attribute description="Table that stores the owner of the contact point" name="OwnerTableName"/>
                <oer:attribute description="Foreign key to OWNER_TABLE_NAME identifies the owner of the contact point"
                     name="OwnerTableId"/>
                <oer:attribute description="Indicates if this is the primary contact point of this contact point type for referenced party, site, or location. Y for primary contact, N for all others."
                     name="PrimaryFlag"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OrigSystemReference"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Contact point type, such as business or personal. Uses the CONTACT_POINT_PURPOSE lookup."
                     name="ContactPointPurpose"/>
                <oer:attribute description="Y indicates that this is the primary contact point of the contact point purpose for the party or site. A party or site can have only one contact point with a value of Y."
                     name="PrimaryByPurpose"/>
                <oer:attribute description="Indicates the date from which this entity is active. This date is inclusive. The status of an entity is dependent on this."
                     name="StartDate"/>
                <oer:attribute description="Indicates the date till which this entity is active. This date is inclusive. The status of an entity is dependent on this"
                     name="EndDate"/>
                <oer:attribute description="Column to store the party&apos;s contact point in the context of a relationship"
                     name="RelationshipId"/>
                <oer:attribute description="Usage context of a party&apos;s contact point." name="PartyUsageCode"/>
                <oer:attribute description="Source system name" name="OrigSystem"/>
                <oer:attribute description="Instant messaging type such as Yahoo, MSN or ICQ" name="InstantMessengerType"/>
                <oer:attribute description="Instant messaging ID" name="InstantMessagingAddress"/>
                <oer:attribute description="Name of the party associated with the contact point."
                     name="PartyName"/>
                <oer:attribute description="Indicates if this is the primary contact point of this contact irrespective of the Context. Y for primary contact, N for all others."
                     name="OverallPrimaryFlag"/>
                <oer:attribute description="Preference associated with the contact point record."
                     name="ContactPreference"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
                <oer:attribute description="Trading Community Instant Messager Additional Information"
                     name="InstantMessagingInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/contactPoint/"
         schemaLocation="ContactPointInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="ContactPreference.xsd"/>
    <xsd:complexType name="InstantMessaging">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ContactPointId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ContactPointId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element default="INSTANT_MESSAGING" minOccurs="0" name="ContactPointType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element default="HZ_PARTIES" minOccurs="0" name="OwnerTableName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ContactPointPurpose" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryByPurpose" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InstantMessengerType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InstantMessagingAddress" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OverallPrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPreference" type="ContactPreference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="ns1:OriginalSystemReference"/>
            <xsd:element minOccurs="0" name="InstantMessagingInformation" type="ns2:ContactPointInformation"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="instantMessaging" type="InstantMessaging"/>
</xsd:schema>
