old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/PersonProfile.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/person/" xmlns:sdo="commonj.sdo"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Contact</name>
            <description>A trading community person&apos;s profile information. For example
                this person is a married woman whose previous last name was
                Smith.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation : FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for the person profile" name="PersonProfileId"/>
                <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table."
                     name="PartyId"/>
                <oer:attribute description="The combination of title, first, middle, last, and suffix names."
                     name="PersonName"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Salutary introduction such as Mr., Herr, etc." name="PersonPreNameAdjunct"/>
                <oer:attribute description="First name of the person" name="PersonFirstName"/>
                <oer:attribute description="Middle name of the person" name="PersonMiddleName"/>
                <oer:attribute description="Last or surname of the person" name="PersonLastName"/>
                <oer:attribute description="Indicates the place in a family structure. For example, in &quot;Tom Jones III&quot;, the &quot;III&quot;."
                     name="PersonNameSuffix"/>
                <oer:attribute description="A professional or family title. For example, Don or The Right Honorable."
                     name="PersonTitle"/>
                <oer:attribute description="Academic title that is part of the person&apos;s name such as Dr. Jane Smith"
                     name="PersonAcademicTitle"/>
                <oer:attribute description="Previous last or surname of the person" name="PersonPreviousLastName"/>
                <oer:attribute description="Name initials" name="PersonInitials"/>
                <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe"
                     name="JgzzFiscalCode"/>
                <oer:attribute description="Date the person was born" name="DateOfBirth"/>
                <oer:attribute description="Where the person was born. Typically, the city and country."
                     name="PlaceOfBirth"/>
                <oer:attribute description="Date the person died" name="DateOfDeath"/>
                <oer:attribute description="The gender (male, female, unknown) of the person" name="Gender"/>
                <oer:attribute description="The declared ethnicity of the person" name="DeclaredEthnicity"/>
                <oer:attribute description="Marital status of the person" name="MaritalStatus"/>
                <oer:attribute description="Date when the person&apos;s marital status changed." name="MaritalStatusEffectiveDate"/>
                <oer:attribute description="The estimated gross annual income of the person" name="PersonalIncomeAmount"/>
                <oer:attribute description="Indicates if the person rents or owns his or her residence. Lookup of values for rent, own, lease, and so on."
                     name="RentOwnInd"/>
                <oer:attribute description="The geophysical location (GPS point) that was last reported for the person"
                     name="LastKnownGPS"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective."
                     name="EffectiveStartDate"/>
                <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective."
                     name="EffectiveEndDate"/>
                <oer:attribute description="Indicates whether the person is internal or external to the user&apos;s organization. Y for a person who is a member of the user&apos;s organization, N for a person who is not a member of the user&apos;s organization."
                     name="InternalFlag"/>
                <oer:attribute description="Not Used." name="Status"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Y or N indicates whether the person is deceased or not"
                     name="DeceasedFlag"/>
                <oer:attribute description="Description for a Person." name="Comments"/>
                <oer:attribute description="Used to capture the Last name prefix (e.g. &apos;fon&apos;, &apos;van&apos;, etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7."
                     name="PersonLastNamePrefix"/>
                <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used."
                     name="PersonSecondLastName"/>
                <oer:attribute description="Default Currency code for this person." name="PreferredFunctionalCurrency"/>
                <oer:attribute description="Not Used." name="OrigSystem"/>
                <oer:attribute description="Not Used." name="OrigSystemReference"/>
                <oer:attribute description="Date Effective Entity: indicates the order of different changes made during a day. The lowest value represents the earliest change in the day."
                     name="EffectiveSequence"/>
                <oer:attribute description="Not Used." name="HeadOfHouseholdFlag"/>
                <oer:attribute description="Not Used." name="HouseholdIncomeAmount"/>
                <oer:attribute description="Not Used." name="HouseholdSize"/>
                <oer:attribute description="Date Effective Entity: &apos;Y&apos; indicates that this row represents the latest change in the day."
                     name="EffectiveLatestChange"/>
                <oer:attribute description="This attribute will have Y if the suffix is overridden by user and N if not. Default value is N."
                     name="SuffixOverriddenFlag"/>
                <oer:attribute description="Captures system generated or manually overridden suffix."
                     name="UniqueNameSuffix"/>
                <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework"
                     name="CorpCurrencyCode"/>
                <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework"
                     name="CurcyConvRateType"/>
                <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework"
                     name="CurrencyCode"/>
                <oer:attribute description="Unique identification number for this party" name="PartyNumber"/>
                <oer:attribute description="Phrase used to address a party in any correspondence."
                     name="Salutation"/>
                <oer:attribute description="Reason for person party&apos;s current certification level assignment. HZ_PARTY_CERT_REASON lookup type"
                     name="CertReasonCode"/>
                <oer:attribute description="Certification level for a person party. HZ_PARTY_CERT_LEVEL lookup type"
                     name="CertificationLevel"/>
                <oer:attribute description="How a person prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD."
                     name="PreferredContactMethod"/>
                <oer:attribute description="Person PARTY_ID of a preferred contact for a given party. There should be a valid relationship."
                     name="PreferredContactPersonId"/>
                <oer:attribute description="First line of the Identifying address" name="PrimaryAddressLine1"/>
                <oer:attribute description="Second line of the Identifying address" name="PrimaryAddressLine2"/>
                <oer:attribute description="Third line of the Identifying address" name="PrimaryAddressLine3"/>
                <oer:attribute description="Fourth line of the Identifying address" name="PrimaryAddressLine4"/>
                <oer:attribute description="Person alias name." name="Alias"/>
                <oer:attribute description="City of the Identifying address" name="PrimaryAddressCity"/>
                <oer:attribute description="The country listed in the TERRITORY_CODE column of the FND_TERRITORY table. for the Identifying address."
                     name="PrimaryAddressCountry"/>
                <oer:attribute description="County of the Identifying address" name="PrimaryAddressCounty"/>
                <oer:attribute description="E-mail address of the person" name="PrimaryEmailAddress"/>
                <oer:attribute description="Person primary formatted Address" name="PrimaryFormattedAddress"/>
                <oer:attribute description="Person primary telephone number formatted in the local format."
                     name="PrimaryFormattedPhoneNumber"/>
                <oer:attribute description="Standard name for a language" name="PrimaryLanguage"/>
                <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix."
                     name="PartyUniqueName"/>
                <oer:attribute description="Postal Code of the Identifying address" name="PrimaryAddressPostalCode"/>
                <oer:attribute description="Preferred contact E-Mail of the Person." name="PreferredContactEmail"/>
                <oer:attribute description="Preferred Contact Name of the Person" name="PreferredContactName"/>
                <oer:attribute description="Person preferred contact phone" name="PreferredContactPhone"/>
                <oer:attribute description="Person preferred contact uniform resource locator." name="PreferredContactURL"/>
                <oer:attribute description="Denormalization of the PARTY_NAME field in the HZ_ADDTNL_PARTY_NAMES row identified by PREFERRED_NAME_ID."
                     name="PreferredName"/>
                <oer:attribute description="Foreign Key to HZ_ADDTNL_PARTY_NAMES.PARTY_NAME_ID. If not NULL contains the ID of the overall Preferred Name for the Party. If NULL the Profile Name (i.e. the name contained in the profile) will be used as overall Preferred name. By default the value is NULL"
                     name="PreferredNameId"/>
                <oer:attribute description="Person primary E-mail contact point ID." name="PrimaryEmailId"/>
                <oer:attribute description="The area code within a country code" name="PrimaryPhoneAreaCode"/>
                <oer:attribute description="Person primary contact point phone ID." name="PrimaryPhoneId"/>
                <oer:attribute description="International country code for a telephone number. For example, 33 for France"
                     name="PrimaryPhoneCountryCode"/>
                <oer:attribute description="Additional number addressed after initial connection to an internal telephone system"
                     name="PrimaryPhoneExtension"/>
                <oer:attribute description="Lookup code for the type of phone line. For example, general, fax, inbound or outbound"
                     name="PrimaryPhoneLineType"/>
                <oer:attribute description="A telephone number formatted in local format. The number should not include country code, area code, or extension"
                     name="PrimaryPhoneNumber"/>
                <oer:attribute description="Contact point type, such as business or personal" name="PrimaryPhonePurpose"/>
                <oer:attribute description="Unique identifier of the primary uniform resource locator."
                     name="PrimaryWebId"/>
                <oer:attribute description="Person Pronunciation" name="Pronunciation"/>
                <oer:attribute description="Province of the Identifying address" name="PrimaryAddressProvince"/>
                <oer:attribute description="State of the Identifying address" name="PrimaryAddressState"/>
                <oer:attribute description="Uniform resource locator" name="PrimaryURL"/>
                <oer:attribute description="Indicates if the party was validated. Y for a validated party, N for a party that is not validated."
                     name="ValidatedFlag"/>
                <oer:attribute description="Primary Address Latitude Information for the Location for Spatial Proximity and containment purposes."
                     name="PrimaryAddressLatitude"/>
                <oer:attribute description="Primary Address Longitude Information for the Location for Spatial Proximity and containment purposes."
                     name="PrimaryAddressLongitude"/>
                <oer:attribute description="Primary address location ID." name="PrimaryAddressLocationId"/>
                <oer:attribute description="Flag to Indicate if the Person is Key Contact" name="FavoriteContactFlag"/>
                <oer:attribute description="Distance from the input location." name="Distance"/>
                <oer:attribute description="Person&apos;s affinity towards the deploying organization."
                     name="SalesAffinityCode"/>
                <oer:attribute description="Person???s role in the buying process." name="SalesBuyingRoleCode"/>
                <oer:attribute description="List of values for possible department codes" name="DepartmentCode"/>
                <oer:attribute description="Free form text used to name the department" name="Department"/>
                <oer:attribute description="Code given to the job title" name="JobTitleCode"/>
                <oer:attribute description="Free form text for job title" name="JobTitle"/>
                <oer:attribute description="Flag to indicate if the user can send mail to the person or not."
                     name="DoNotCallFlag"/>
                <oer:attribute description="Flag to indicate if the user can contact(phone/email/mail/) the person or not."
                     name="DoNotContactFlag"/>
                <oer:attribute description="Flag to indicate if the user can email  the person or not"
                     name="DoNotEmailFlag"/>
                <oer:attribute description="Flag to indicate if the user can send mail to the person or not."
                     name="DoNotMailFlag"/>
                <oer:attribute description="Date on which the contact was last contacted." name="LastContactDate"/>
                <oer:attribute description="Customers party identifier of a primary customer for a given person. There should be a valid relationship between the person and a customer."
                     name="PrimaryCustomerId"/>
                <oer:attribute description="Identifier of the primary customer relationship." name="PrimaryCustomerRelationshipId"/>
                <oer:attribute description="Customers party name of a primary customer for a given person. There should be a valid relationship between the person and a customer."
                     name="PrimaryCustomerName"/>
                <oer:attribute description="Date on which the record was last updated by the source system."
                     name="LastSourceUpdateDate"/>
                <oer:attribute description="The Source System that last updated this record." name="LastUpdateSourceSystem"/>
                <oer:attribute description="Specifies the enrichment status of the person." name="DataCloudStatus"/>
                <oer:attribute description="Specifies date this person was last enriched in DaaS."
                     name="LastEnrichmentDate"/>
                <oer:attribute description="Person Information." name="PersonInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/person/" schemaLocation="PersonInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:complexType name="PersonProfile">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonProfileId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonProfileId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PersonName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonInitials" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PlaceOfBirth" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateOfDeath" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeclaredEthnicity" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaritalStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaritalStatusEffectiveDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PersonalIncomeAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="RentOwnInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastKnownGPS" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DeceasedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveSequence" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="HeadOfHouseholdFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="HouseholdIncomeAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="HouseholdSize" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="EffectiveLatestChange" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SuffixOverriddenFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="UniqueNameSuffix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Salutation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactPersonId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLine4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Alias" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCity" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCountry" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressCounty" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryEmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFormattedAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFormattedPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryLanguage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressPostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactEmail" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactPhone" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactURL" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredNameId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryEmailId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneLineType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryWebId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pronunciation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressProvince" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryAddressState" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryURL" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLatitude" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLongitude" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PrimaryAddressLocationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="FavoriteContactFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Distance" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="SalesAffinityCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesBuyingRoleCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DepartmentCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Department" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobTitleCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DoNotCallFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="DoNotContactFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="DoNotEmailFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="DoNotMailFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LastContactDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PrimaryCustomerId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryCustomerRelationshipId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryCustomerName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastSourceUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateSourceSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DataCloudStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastEnrichmentDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PersonInformation" type="ns1:PersonInformation" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="personProfile" type="PersonProfile"/>
</xsd:schema>
