old-paas-for-saas-samples/PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/src/com/oracle/pts/salesparty/wsclient/SalesParty.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/" xmlns:sdoJava="commonj.sdo/java"
     xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Sales Party SDO</name>
            <description>An object representing sales party attributes that is used to
                store values while creating or changing a sales party. A sales
                party can be a legal entity, a sales prospect, or a sales
                account.</description>
            <keywords>
                <value>SalesAccount</value>
            </keywords>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    CrmCommonSalesParties-Sales Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The identifier for the sales account owner." name="AccountDirectorId"/>
                <oer:attribute description="The standard replication column." name="CpdrfLastUpd"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerPillar"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerSor"/>
                <oer:attribute description="The user who created the record." name="CreatedBy"/>
                <oer:attribute description="The date and time the record was created." name="CreationDate"/>
                <oer:attribute description="The date indicating when the sales account territory assignment was last run by assignment manager."
                     name="LastAssignedDate"/>
                <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate"/>
                <oer:attribute description="The user login for the user who last updated the record."
                     name="LastUpdateLogin"/>
                <oer:attribute description="The user who last updated the record." name="LastUpdatedBy"/>
                <oer:attribute description="The indicator for whether a sales account is a named sales account."
                     name="NamedAccountFlag"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="The identifier for the trading community party." name="SalesAccountPartyId"/>
                <oer:attribute description="The indicator showing whether there is an existing selling or billing relationship with the sales account."
                     name="ExistingFlag"/>
                <oer:attribute description="The date when the existing flag is last modified." name="ExistingFlgLastUpdDate"/>
                <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate"/>
                <oer:attribute description="The structure definition of the user descriptive flexfield."
                     name="AttributeCategory"/>
                <oer:attribute description="The sales party identifier." name="PartyId"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber1"/>
                <oer:attribute description="The name of the trading community party." name="PartyName"/>
                <oer:attribute description="The unique identification number for the trading community party."
                     name="PartyNumber"/>
                <oer:attribute description="The party type can be Person, Organization, Group." name="PartyType"/>
                <oer:attribute description="The sales party status." name="Status"/>
                <oer:attribute description="Indicator showing whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account."
                     name="AssgnExceptionFlag"/>
                <oer:attribute description="The name of the attachment entity, which is a constant expression: ZCA_SALES_PARTY."
                     name="AttachmentEntityName"/>
                <oer:attribute description="The unique name of the trading community party." name="PartyUniqueName"/>
                <oer:attribute description="The sales account identifier." name="SalesAccountId"/>
                <oer:attribute description="The reference to a sales account&apos;s associated territory information."
                     name="SalesAccountTerritory"/>
                <oer:attribute description="The organization associated to the sales party." name="OrganizationParty"/>
                <oer:attribute description="The sales account associated with the sales party." name="SalesAccount"/>
                <oer:attribute description="The sales account resource associated to the sales party."
                     name="SalesAccountResource"/>
                <oer:attribute description="The person object representing the sales party." name="PersonParty"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
         schemaLocation="Person.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
         schemaLocation="OrganizationParty.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/" schemaLocation="Group.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="SalesAccount.xsd"/>
    <xsd:include schemaLocation="SalesAccountResource.xsd"/>
    <xsd:complexType name="SalesParty">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartyId</attribute>
                    <attribute>SalesAccountId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="AccountDirectorId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastAssignedDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NamedAccountFlag" nillable="true" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="SalesAccountPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ExistingFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="ExistingFlgLastUpdDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssgnExceptionFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element default="ZCA_SALES_PARTY" minOccurs="0" name="AttachmentEntityName" nillable="true"
                 type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationParty" type="ns2:OrganizationParty"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccount" type="SalesAccount"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountResource" type="SalesAccountResource"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonParty" type="ns1:Person"/>
            <xsd:element minOccurs="0" name="GroupParty" type="ns3:Group"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesParty" type="SalesParty"/>
</xsd:schema>
