old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/Fusion_UserDetailsService/classes/oracle/demo/pts/fusionproxy/userservice/UserSessionDetails.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/"
     sdoJava:package="oracle.apps.hcm.people.roles.userDetailsServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>User Session Details Version 2</name>
            <description>Session user data such as Language Code, Currency Code, Time
                Zone.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmUsers-Users</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_USER-User</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Identifier of the person." name="PersonId"/>
                <oer:attribute description="Language." name="Language"/>
                <oer:attribute description="Date format." name="DateFormat"/>
                <oer:attribute description="Time format." name="TimeFormat"/>
                <oer:attribute description="Number format." name="NumberFormat"/>
                <oer:attribute description="Currency." name="Currency"/>
                <oer:attribute description="Grouping separator." name="GroupingSeparator"/>
                <oer:attribute description="Decimal separator." name="DecimalSeparator"/>
                <oer:attribute description="Time zone." name="TimeZone"/>
                <oer:attribute description="Client encoding." name="ClientEncoding"/>
                <oer:attribute description="Territory." name="Territory"/>
                <oer:attribute description="Font size." name="FontSize"/>
                <oer:attribute description="Accessibily mode." name="AccessibilityMode"/>
                <oer:attribute description="Color contrast." name="ColorContrast"/>
                <oer:attribute description="Server time." name="ServerTime"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="UserSessionDetailsResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="UserSessionDetails"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="UserSessionDetails">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateFormat" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TimeFormat" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumberFormat" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Currency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GroupingSeparator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DecimalSeparator" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="TimeZone" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClientEncoding" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Territory" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FontSize" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AccessibilityMode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ColorContrast" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ServerTime" nillable="true" type="ns0:dateTime-Timestamp"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="userSessionDetailsResult" type="UserSessionDetailsResult"/>
    <xsd:element name="userSessionDetails" type="UserSessionDetails"/>
</xsd:schema>
