old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/Fusion_UserDetailsService/classes/oracle/demo/pts/fusionproxy/userservice/UserWorkRelationshipDetails.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/"
     sdoJava:package="oracle.apps.hcm.people.roles.userDetailsServiceV2" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>User Work Relationship Details Version 2</name>
            <description>Highest level of the employment model that exists for every
                worker residing within a legal employer. This layer holds
                information regarding the type of relationship that exists
                between the person and the enterprise.</description>
            <oer:category name="lba">
                <value>HcmTop-HcmTop</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment</value>
                <value>HcmTop-HcmTop : HcmEmploymentTop-Employment :
                    HcmEmploymentCore-Employment</value>
            </oer:category>
            <oer:category name="lbo">
                <value>HCM-HCM</value>
                <value>HCM-HCM : PER-Global Human Resources</value>
                <value>HCM-HCM : PER-Global Human Resources : PER_WORKER-Worker</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Identifier of the person." name="PersonId"/>
                <oer:attribute description="Identifier of the business unit." name="BusinessUnitId"/>
                <oer:attribute description="Name of the business unit." name="BusinessUnitName"/>
                <oer:attribute description="Name of the legal entity." name="LegalEntityName"/>
                <oer:attribute description="Identifier of the person type." name="PersonTypeId"/>
                <oer:attribute description="System person type." name="SystemPersonType"/>
                <oer:attribute description="User person type." name="UserPersonType"/>
                <oer:attribute description="Identifier of the work relationship." name="PeriodOfServiceId"/>
                <oer:attribute description="Hire date." name="HireDate"/>
                <oer:attribute description="Worker number." name="WorkerNumber"/>
                <oer:attribute description="Identifier of the assignment status type." name="AssignmentStatusTypeId"/>
                <oer:attribute description="User status." name="UserStatus"/>
                <oer:attribute description="Isentifier of the assignment." name="AssignmentId"/>
                <oer:attribute description="Assignment name." name="AssignmentName"/>
                <oer:attribute description="Assignment number." name="AssignmentNumber"/>
                <oer:attribute description="Assignment status type." name="AssignmentStatusType"/>
                <oer:attribute description="Assignment type." name="AssignmentType"/>
                <oer:attribute description="Primary flag." name="PrimaryFlag"/>
                <oer:attribute description="Identifier of the assignment supervisor." name="AssignmentSupervisorId"/>
                <oer:attribute description="Identifier of the manager." name="ManagerId"/>
                <oer:attribute description="Manager name." name="ManagerName"/>
                <oer:attribute description="Manager user name." name="ManagerUsername"/>
                <oer:attribute description="Identifier of the job." name="JobId"/>
                <oer:attribute description="Job name." name="JobName"/>
                <oer:attribute description="Job code." name="JobCode"/>
                <oer:attribute description="Identifier of the reference set." name="JobSetId"/>
                <oer:attribute description="Identifier of the department." name="DepartmentId"/>
                <oer:attribute description="Name of the department." name="DepartmentName"/>
                <oer:attribute description="Identifier of the department set." name="DepartmentSetId"/>
                <oer:attribute description="Identifier of the position." name="PositionId"/>
                <oer:attribute description="Name of the position." name="PositionName"/>
                <oer:attribute description="Code of the position." name="PositionCode"/>
                <oer:attribute description="Identifier of the grade." name="GradeId"/>
                <oer:attribute description="Name of the grade." name="GradeName"/>
                <oer:attribute description="Code of the grade." name="GradeCode"/>
                <oer:attribute description="Identifier of the grade set." name="GradeSetId"/>
                <oer:attribute description="Identifier of the location." name="LocationId"/>
                <oer:attribute description="Name of the location." name="LocationName"/>
                <oer:attribute description="Code of the location." name="LocationCode"/>
                <oer:attribute description="Identifier of the location set." name="LocationSetId"/>
                <oer:attribute description="Location building." name="LocationBuilding"/>
                <oer:attribute description="Location floor number." name="LocationFloorNumber"/>
                <oer:attribute description="Location address line 1." name="LocationAddressLine1"/>
                <oer:attribute description="Location address line 2." name="LocationAddressLine2"/>
                <oer:attribute description="Location address line 3." name="LocationAddressLine3"/>
                <oer:attribute description="Location address line 4." name="LocationAddressLine4"/>
                <oer:attribute description="Location region 1." name="LocationRegion1"/>
                <oer:attribute description="Location region 2." name="LocationRegion2"/>
                <oer:attribute description="Location region 3." name="LocationRegion3"/>
                <oer:attribute description="Location town or city." name="LocationTownOrCity"/>
                <oer:attribute description="Location postal code." name="LocationPostalCode"/>
                <oer:attribute description="Location country." name="LocationCountry"/>
                <oer:attribute description="Location long postal code." name="LocationLongPostalCode"/>
                <oer:attribute description="Location time zone code." name="LocationTimezoneCode"/>
                <oer:attribute description="Location address." name="LocationAddress"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="UserWorkRelationshipDetails">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PersonId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PersonId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="BusinessUnitId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="BusinessUnitName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LegalEntityName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonTypeId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SystemPersonType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UserPersonType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PeriodOfServiceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="HireDate" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="WorkerNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentStatusTypeId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UserStatus" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AssignmentName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentStatusType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssignmentType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="AssignmentSupervisorId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ManagerId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ManagerName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ManagerUsername" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="JobName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JobSetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DepartmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DepartmentName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DepartmentSetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PositionId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PositionName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PositionCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GradeId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="GradeName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GradeCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GradeSetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LocationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LocationName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationSetId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LocationBuilding" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationFloorNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationAddressLine1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationAddressLine2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationAddressLine3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationAddressLine4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationRegion1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationRegion2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationRegion3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationTownOrCity" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationPostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationCountry" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationLongPostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationTimezoneCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationAddress" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UserWorkRelationshipDetailsResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="UserWorkRelationshipDetails"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="userWorkRelationshipDetailsResult" type="UserWorkRelationshipDetailsResult"/>
    <xsd:element name="userWorkRelationshipDetails" type="UserWorkRelationshipDetails"/>
</xsd:schema>
