paas4saas/PaaS-SaaS_DataSync/DataSync/Pharmacy/Pharmacy/src/com/oracle/pts/pharmacy/wsclient/PharmacyWSService.wsdl

<definitions
     name="PharmacyWSService"
     targetNamespace="http://pharmacy.webservice.pts.oracle.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://pharmacy.webservice.pts.oracle.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://pharmacy.webservice.pts.oracle.com/" schemaLocation="PharmacyWSPort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="createPrescription">
        <part name="parameters" element="tns:createPrescription"/>
    </message>
    <message name="createMedication">
        <part name="parameters" element="tns:createMedication"/>
    </message>
    <message name="createMedicationResponse">
        <part name="parameters" element="tns:createMedicationResponse"/>
    </message>
    <message name="isMedicationReadyToPickup">
        <part name="parameters" element="tns:isMedicationReadyToPickup"/>
    </message>
    <message name="isMedicationReadyToPickupResponse">
        <part name="parameters" element="tns:isMedicationReadyToPickupResponse"/>
    </message>
    <message name="requestOrderStatus">
        <part name="parameters" element="tns:requestOrderStatus"/>
    </message>
    <message name="requestOrderStatusResponse">
        <part name="parameters" element="tns:requestOrderStatusResponse"/>
    </message>
    <message name="setMedicationReadyToPickup">
        <part name="parameters" element="tns:setMedicationReadyToPickup"/>
    </message>
    <message name="loadMedicationListFromHealthCare">
        <part name="parameters" element="tns:loadMedicationListFromHealthCare"/>
    </message>
    <message name="loadHealthCareProviderList">
        <part name="parameters" element="tns:loadHealthCareProviderList"/>
    </message>
    <message name="loadMedicationListForHealthCare">
        <part name="parameters" element="tns:loadMedicationListForHealthCare"/>
    </message>
    <portType name="PharmacyWS">
        <operation name="createPrescription">
            <input message="tns:createPrescription"/>
        </operation>
        <operation name="createMedication">
            <input message="tns:createMedication"/>
            <output message="tns:createMedicationResponse"/>
        </operation>
        <operation name="isMedicationReadyToPickup">
            <input message="tns:isMedicationReadyToPickup"/>
            <output message="tns:isMedicationReadyToPickupResponse"/>
        </operation>
        <operation name="requestOrderStatus">
            <input message="tns:requestOrderStatus"/>
            <output message="tns:requestOrderStatusResponse"/>
        </operation>
        <operation name="setMedicationReadyToPickup">
            <input message="tns:setMedicationReadyToPickup"/>
        </operation>
        <operation name="loadMedicationListFromHealthCare">
            <input message="tns:loadMedicationListFromHealthCare"/>
        </operation>
        <operation name="loadHealthCareProviderList">
            <input message="tns:loadHealthCareProviderList"/>
        </operation>
        <operation name="loadMedicationListForHealthCare">
            <input message="tns:loadMedicationListForHealthCare"/>
        </operation>
    </portType>
    <binding name="PharmacyWSPortBinding" type="tns:PharmacyWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="createPrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="createMedication">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="isMedicationReadyToPickup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="requestOrderStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setMedicationReadyToPickup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="loadMedicationListFromHealthCare">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="loadHealthCareProviderList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="loadMedicationListForHealthCare">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    <service name="PharmacyWSService">
        <port name="PharmacyWSPort" binding="tns:PharmacyWSPortBinding">
            <soap:address location="http://localhost:7101/Pharmacy/PharmacyWSPort"/>
        </port>
    </service>
</definitions>
