PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_InteractionService/src/oracle/demo/pts/fusionproxy/interaction/Interaction.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     sdoJava:package="oracle.apps.crmCommon.interactions.interactionService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Interaction</name>
            <description>An interaction that represents the communication between an
                internal resource such as Mary Smith and a customer through
                e-mail, phone, or another channel.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    AppCmmnCompInteractions-Interactions</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique Interaction Identifier for the interaction" name="InteractionId"/>
                <oer:attribute description="The date and time the interaction started" name="InteractionStartDate"/>
                <oer:attribute description="The date and time the interaction ended" name="InteractionEndDate"/>
                <oer:attribute description="id of the customer with which the interaction is associated"
                     name="CustomerId"/>
                <oer:attribute description="This is the Subject or brief description if the interaction"
                     name="InteractionDescription"/>
                <oer:attribute description="lookup code for the interaction outcome." name="OutcomeCode"/>
                <oer:attribute description="It describes the channel through which the communication has taken place, like email, phone call, chat"
                     name="InteractionTypeCode"/>
                <oer:attribute description="Indicate the interaction is inbound or outbound" name="DirectionCode"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Media identifier. This field is not used in V1" name="MediaItemId"/>
                <oer:attribute description="Holds Media Type code of the interaction" name="MediaTypeCode"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Holds the phone number of the person with whom the agent talked"
                     name="OtherPartyPhoneNumber"/>
                <oer:attribute description="This uniquely identifies the call in the CTI system. It will be used by customers and vendor to tie an interaction in fusion back to the record in the telephony system."
                     name="SwitchCallId"/>
                <oer:attribute description="Holds Corporate Currency Code from profile" name="CorpCurrencyCode"/>
                <oer:attribute description="Holds Currency Conversion Rate Type from profile" name="CurcyConvRateType"/>
                <oer:attribute description="Holds currency code of a record" name="CurrencyCode"/>
                <oer:attribute description="Name of an interaction participant" name="InteractionParticipant"/>
                <oer:attribute description="View link attribute for Related To child objects." name="InteractionAssociation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="InteractionParticipant.xsd"/>
    <xsd:include schemaLocation="InteractionAssociation.xsd"/>
    <xsd:complexType name="Interaction">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>InteractionId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="InteractionId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="InteractionStartDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="InteractionEndDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CustomerId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="InteractionDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OutcomeCode" nillable="true" type="xsd:string"/>
            <xsd:element default="PHONE CALL" minOccurs="0" name="InteractionTypeCode" type="xsd:string"/>
            <xsd:element default="OUTBOUND" minOccurs="0" name="DirectionCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MediaItemId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="MediaTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="OtherPartyPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SwitchCallId" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="InteractionParticipant" type="InteractionParticipant"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="InteractionAssociation" type="InteractionAssociation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="interaction" type="Interaction"/>
</xsd:schema>
