old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_InteractionService/src/oracle/demo/pts/fusionproxy/interaction/InteractionService.xsd

<schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/types/"
     xmlns:ns0="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     xmlns:ns2="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/types/"
     xmlns="http://www.w3.org/2001/XMLSchema">
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
         schemaLocation="InteractionParticipant.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
         schemaLocation="Interaction.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
         schemaLocation="InteractionAssociation.xsd"/>
    <import namespace="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/" schemaLocation="CommonAttachments.xsd"/>
    <element name="getInteraction">
        <complexType>
            <sequence>
                <element name="interactionId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteraction">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteraction">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteraction">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeInteraction">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeInteractionResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAssociation">
        <complexType>
            <sequence>
                <element name="interactionAssociationId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAssociationResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAssociation">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAssociationResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAssociation">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAssociationResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAssociation">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAssociationResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="getInteractionParticipant">
        <complexType>
            <sequence>
                <element name="interactionParticipantId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionParticipantResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionParticipant">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionParticipantResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionParticipant">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionParticipantResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionParticipant">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionParticipantResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findInteraction">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteraction">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interaction" type="ns1:Interaction"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionAssociation">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionAssociationResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionParticipant">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionParticipantResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionAssociation">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionAssociationResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionParticipant">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionParticipantResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="getParameters" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAttachmentResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyInteractionAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyInteractionAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAttachment">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAttachmentResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAsync">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="findInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionAssociationAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionParticipantAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAsync">
        <complexType>
            <sequence>
                <element name="interactionId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionParticipantAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="interactionAssociationId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAssociationAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionParticipantAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAsync">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAssociationAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyInteractionAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="copyInteractionAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="getParameters" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateInteractionAssociationAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionAsync">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interaction" type="ns1:Interaction"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns2:FindCriteria"/>
                <element name="findControl" type="ns2:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findInteractionParticipantAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAsync">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="createInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="interactionParticipantWS" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionParticipantAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="processInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="changeOperation" type="string"/>
                <element maxOccurs="unbounded" minOccurs="0" name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
                <element name="processControl" type="ns2:ProcessControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="processInteractionAssociationAsyncResponse">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="result" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAssociationAsync">
        <complexType>
            <sequence>
                <element name="interactionAssociationWS" type="ns1:InteractionAssociation"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAssociationAsyncResponse">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="mergeInteractionAsync">
        <complexType>
            <sequence>
                <element name="interaction" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="mergeInteractionAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:Interaction"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionParticipantAsync">
        <complexType>
            <sequence>
                <element name="interactionParticipantId" type="long"/>
            </sequence>
        </complexType>
    </element>
    <element name="getInteractionParticipantAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="ns1:InteractionParticipant"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAttachmentAsync">
        <complexType>
            <sequence>
                <element maxOccurs="unbounded" minOccurs="0" name="attachmentVORows" type="ns0:CommonAttachments"/>
            </sequence>
        </complexType>
    </element>
    <element name="deleteInteractionAttachmentAsyncResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
</schema>
