old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/person/OriginalSystemReference.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Trading Community Original System Reference</name>
            <description>A reference to the source system from where the trading
                community information was imported.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Sequentially generated identifier" name="OrigSystemReferenceId"/>
                <oer:attribute description="Source system name" name="OrigSystem"/>
                <oer:attribute description="Source system id for the source system logical entit"
                     name="OrigSystemReference"/>
                <oer:attribute description="TCA tables that have source system reference column" name="OwnerTableName"/>
                <oer:attribute description="Unique identifier for a record in the owner table" name="OwnerTableId"/>
                <oer:attribute description="A for Active. Mapping is validI for Inactive. Mapping is invalidThe default is A for Active."
                     name="Status"/>
                <oer:attribute description="Reason for setting the record to Inactive" name="ReasonCode"/>
                <oer:attribute description="Old source system reference that is being replaced" name="OldOrigSystemReference"/>
                <oer:attribute description="Start date" name="StartDateActive"/>
                <oer:attribute description="End date" name="EndDateActive"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Denormalized party identifier from HZ_PARTIES table" name="PartyId"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Source system reference information." name="SourceSystemRefInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/"
                schemaLocation="../../../ptsdemo/healthcare/wsclient/osc/person/wsclient/BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/sourceSystemRef/"
         schemaLocation="../../../ptsdemo/healthcare/wsclient/osc/person/wsclient/SourceSystemRefInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java"
                schemaLocation="../../../ptsdemo/healthcare/wsclient/osc/person/wsclient/sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml"
                schemaLocation="../../../ptsdemo/healthcare/wsclient/osc/person/wsclient/sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo"
                schemaLocation="../../../ptsdemo/healthcare/wsclient/osc/person/wsclient/sdoModel.xsd"/>
    <xsd:complexType name="OriginalSystemReference">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>OrigSystemReferenceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OrigSystemReferenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="OrigSystem" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OldOrigSystemReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="SourceSystemRefInformation" type="ns1:SourceSystemRefInformation"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="originalSystemReference" type="OriginalSystemReference"/>
</xsd:schema>
