PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_ActivityAppointmentService/classes/oracle/demo/pts/fusionservices/ActivityAppointment/TransientNote.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
     sdoJava:package="oracle.apps.crmCommon.activities.activitiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Appointment Transient Note SDO</name>
            <description>A note for an individual appointment and each instance of a
                recurring appointment.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    AppCmmnCompActivities-Activities</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The Note id associated to the appointment" name="NoteId"/>
                <oer:attribute description="The Note id associated to the appointment" name="SourceObjectId"/>
                <oer:attribute description="Indicates that the object associated to the appointment is a Note"
                     name="SourceObjectCode"/>
                <oer:attribute description="Lookup code for the type of the note associated to the appointment, such as General, Reference, or Special."
                     name="NoteTypeCode"/>
                <oer:attribute description="The Note Description" name="NoteTxt"/>
                <oer:attribute description="Lookup code for note visibility, such as private, internal or external."
                     name="VisibilityCode"/>
                <oer:attribute description="Name of the user who created the appointment note" name="PartyName"/>
                <oer:attribute description="Party id of the user who created the appointment note"
                     name="PartyId"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:complexType name="TransientNote">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>NoteId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="NoteId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SourceObjectId" nillable="true" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SourceObjectCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteTypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoteTxt" nillable="true" type="ns0:base64Binary-DataHandler"/>
            <xsd:element minOccurs="0" name="VisibilityCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="transientNote" type="TransientNote"/>
</xsd:schema>
