old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/healthcare/HealthCareService.wsdl

<definitions
     name="HealthCareService"
     targetNamespace="http://ws.healthcare.ptsdemo.oracle.com/"
     xmlns="http://schemas.xmlsoap.org/wsdl/"
     xmlns:tns="http://ws.healthcare.ptsdemo.oracle.com/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ws.healthcare.ptsdemo.oracle.com/" schemaLocation="HealthCarePort_xsd_1.xsd"/>
        </xsd:schema>
    </types>
    <message name="isMedicationReadyToPickup">
        <part name="parameters" element="tns:isMedicationReadyToPickup"/>
    </message>
    <message name="isMedicationReadyToPickupResponse">
        <part name="parameters" element="tns:isMedicationReadyToPickupResponse"/>
    </message>
    <message name="requestOrderStatus">
        <part name="parameters" element="tns:requestOrderStatus"/>
    </message>
    <message name="requestOrderStatusResponse">
        <part name="parameters" element="tns:requestOrderStatusResponse"/>
    </message>
    <message name="setMedicationReadyToPickup">
        <part name="parameters" element="tns:setMedicationReadyToPickup"/>
    </message>
    <message name="loadPrescription">
        <part name="parameters" element="tns:loadPrescription"/>
    </message>
    <message name="loadPrescriptionResponse">
        <part name="parameters" element="tns:loadPrescriptionResponse"/>
    </message>
    <portType name="HealthCare">
        <operation name="isMedicationReadyToPickup">
            <input message="tns:isMedicationReadyToPickup"/>
            <output message="tns:isMedicationReadyToPickupResponse"/>
        </operation>
        <operation name="requestOrderStatus">
            <input message="tns:requestOrderStatus"/>
            <output message="tns:requestOrderStatusResponse"/>
        </operation>
        <operation name="setMedicationReadyToPickup">
            <input message="tns:setMedicationReadyToPickup"/>
        </operation>
        <operation name="loadPrescription">
            <input message="tns:loadPrescription"/>
            <output message="tns:loadPrescriptionResponse"/>
        </operation>
    </portType>
    <binding name="HealthCarePortBinding" type="tns:HealthCare">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="isMedicationReadyToPickup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="requestOrderStatus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="setMedicationReadyToPickup">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="loadPrescription">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="HealthCareService">
        <port name="HealthCarePort" binding="tns:HealthCarePortBinding">
            <soap:address location="https://jcs.my-oraclecloudapps.com:443/HealthCare/HealthCarePort"/>
        </port>
    </service>
</definitions>
