old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/CreditRating.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Credit Rating</name>
            <description>A trading community member&apos;s credit rating information.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Credit rating identifier" name="CreditRatingId"/>
                <oer:attribute description="A textual description of the rating effort." name="Description"/>
                <oer:attribute description="Unique identifier for a party. Foreign key to the HZ_PARTIES table"
                     name="PartyId"/>
                <oer:attribute description="The rating company&apos;s rating number or code." name="Rating"/>
                <oer:attribute description="The date that the rating was acquired." name="RatedAsOfDate"/>
                <oer:attribute description="The name of the credit rating organization." name="RatingOrganization"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Commentary explaining the rating." name="Comments"/>
                <oer:attribute description="Code that indicates if detrimental information exists for the party and whether complete details exist on management and party. Y for information is available, N for no information."
                     name="DetHistoryInd"/>
                <oer:attribute description="Indicates if open bankruptcy, receivership liquidation, or equivalent exist. Y for information is available, N for no information."
                     name="FinclEmbtInd"/>
                <oer:attribute description="Indicates if criminal proceedings exist. Y for information is available, N for no information."
                     name="CriminalProceedingInd"/>
                <oer:attribute description="Indicates if open claims, legal claims, liens, protested bills or equivalent exist. Y for information is available, N for no information."
                     name="ClaimsInd"/>
                <oer:attribute description="Indicates if open secured filings such as UCC filings, secured charges/mortgages pledgings or equivalent exist. Y for information is available, N for no information."
                     name="SecuredFlngInd"/>
                <oer:attribute description="Indicates if special events, such as financial embarrassment and legal filings, exist. Y for information is available, N for no information."
                     name="FinclLglEventInd"/>
                <oer:attribute description="Indicates if information exists about disasters such as fires, hurricanes, and so on. Y for information is available, N for no information."
                     name="DisasterInd"/>
                <oer:attribute description="Indicates if information exists about operational changes such as name changes, management changes, change of control, moves, and so on. Y for information is available, N for no information."
                     name="OprgSpecificationEvntInd"/>
                <oer:attribute description="Indicates if special events exist that are not otherwise specified."
                     name="OtherSpecificationEvntInd"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Average of all of the high credit experiences" name="AverageHighCredit"/>
                <oer:attribute description="Indicates the risk of delinquent payments." name="CreditScore"/>
                <oer:attribute description="Indicate the age of the credit score, expressed in months."
                     name="CreditScoreAge"/>
                <oer:attribute description="Provides the date when the credit score was calculated."
                     name="CreditScoreClass"/>
                <oer:attribute description="Lookup for explanation codes in the CREDIT_SCORE column."
                     name="CreditScoreCommentary"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary2"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary3"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary4"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary5"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary6"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary7"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary8"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary9"/>
                <oer:attribute description="Used for comments about the credit score." name="CreditScoreCommentary10"/>
                <oer:attribute description="Provides the date when the credit score was calculated."
                     name="CreditScoreDate"/>
                <oer:attribute description="Indicates the probability, expressed as a percentage, of delinquency for a score range or class."
                     name="CreditScoreIncdDefault"/>
                <oer:attribute description="Indicates the relative credit rating of a business compared to all businesses whose credit ratings are included in the local country database."
                     name="CreditScoreNatlPercentile"/>
                <oer:attribute description="Indicates whether the company is debarred from doing business with government agencies. Y if the compnay is debarred, N if it is not debarred."
                     name="DebarmentInd"/>
                <oer:attribute description="Count of filings by government agencies in the United States that prohibit the party from entering into contracts or transactions with those agencies."
                     name="DebarmentsCount"/>
                <oer:attribute description="Date of most recent filing to prohibit the party from entering into contracts or transactions with a government agency in the United States."
                     name="DebarmentsDate"/>
                <oer:attribute description="Maximum credit ever extended to this organization." name="HighCredit"/>
                <oer:attribute description="Currency used to denominate the MAXIMUM_CREDIT_RECOMMENDATION column."
                     name="MaximumCreditCurrencyCode"/>
                <oer:attribute description="Maximum credit limit recommended for the currency specified in the MAXIMUM_CREDIT_CURRENCY_CODE column."
                     name="MaximumCreditRecommendationAmount"/>
                <oer:attribute description="Median or average Paydex score for the industry." name="PaydexNorm"/>
                <oer:attribute description="Paydex score for the last 12 months payment history."
                     name="PaydexScore"/>
                <oer:attribute description="Paydex score three months ago." name="PaydexThreeMonthsAgo"/>
                <oer:attribute description="In the US, indicates why no score was calculated, or why score equals zero."
                     name="CreditScoreOverrideCode"/>
                <oer:attribute description="Explains numeric credit risk score, which estimates the risk of delinquent payment over the next 12 months."
                     name="CreditRiskScoreExplain"/>
                <oer:attribute description="Specifies the low end of the range of the Commercial Credit Score."
                     name="LowRngDelqScr"/>
                <oer:attribute description="Specifies the high end of the range of the Commercial Credit Score."
                     name="HighRngDelqScr"/>
                <oer:attribute description="Specifies a delinquency percentage for a Credit Score range."
                     name="DelqPmtRngPrcnt"/>
                <oer:attribute description="Specifies a delinquency percentage for all firms." name="DelqPmtPctgForAllFirms"/>
                <oer:attribute description="Number of trade experiences." name="NumberTradeExperiences"/>
                <oer:attribute description="Number of days used in the Paydex score." name="PaydexFirmDays"/>
                <oer:attribute description="Comment on the Paydex score for the organization." name="PaydexFirmComment"/>
                <oer:attribute description="Number of days used in the Paydex score for the industry."
                     name="PaydexIndustryDays"/>
                <oer:attribute description="Comment on the Paydex score for the industry." name="PaydexIndustryComment"/>
                <oer:attribute description="Additional Paydex information." name="PaydexComment"/>
                <oer:attribute description="Indicates if open suits exist. Y if any open suit exists, N if no open suit exists."
                     name="SuitInd"/>
                <oer:attribute description="Indicates if open liens exist. Y if any open lien exists, N if no open lien exists."
                     name="LienInd"/>
                <oer:attribute description="Indicates if open judgments exist. Y if any open judgment exists, N if no open judgment exists."
                     name="JudgementInd"/>
                <oer:attribute description="Indicates if open bankruptcy exists. Y if any open bankruptcy exists, N if no open bankruptcy exists."
                     name="BankruptcyInd"/>
                <oer:attribute description="Indicates no trade experiences exist. Y if any trade experience exists, N if no trade experience exists."
                     name="NoTradeInd"/>
                <oer:attribute description="Indicates if Parent (P) or Headquarters (H) entered into bankruptcy."
                     name="ParentHQBankruptcyInd"/>
                <oer:attribute description="Number of bankruptcies filed by the parent." name="NumberParentBankruptcyFiling"/>
                <oer:attribute description="Type of bankruptcy filed by the parent." name="PrntBkcyFilgType"/>
                <oer:attribute description="Chapter number of the bankruptcy filed by the parent under US Uniform Commercial Code."
                     name="PrntBkcyFilgChapter"/>
                <oer:attribute description="Bankruptcy filing date of the parent." name="PrntBkcyFilgDate"/>
                <oer:attribute description="Number of bankruptcy conversions by the parent." name="NumberParentBankruptcyConversions"/>
                <oer:attribute description="Date the bankruptcy converted from one type to another."
                     name="PrntBkcyConvDate"/>
                <oer:attribute description="Change of bankruptcy type." name="PrntBkcyChapterConv"/>
                <oer:attribute description="Conditional comment generated when Paydex score indicates slow trade experiences are present."
                     name="SlowTradeExpl"/>
                <oer:attribute description="Conditional comment generated when negative payments are present."
                     name="NegvPmtExpl"/>
                <oer:attribute description="Conditional comment generated if suits, liens, and judgments exist."
                     name="PubRecExpl"/>
                <oer:attribute description="Business discontinued at the listed location. Prompts reader to contact D&amp;B Customer Service Center if business may be operating."
                     name="BusinessDiscontinued"/>
                <oer:attribute description="Comment generated if special event section exists." name="SpecialEventComment"/>
                <oer:attribute description="Number of occurrences of the special events." name="NumberSpecialEvent"/>
                <oer:attribute description="Date this special event was updated." name="SpecialEventUpdateDate"/>
                <oer:attribute description="Narrative of the special event." name="SpecialEventText"/>
                <oer:attribute description="For US, the Failure Risk Class, 1 through 5. For Canada ,the Stability Score that indicates risk of business closure, 1 through 10. For Australia, the percentile failure score."
                     name="FailureScore"/>
                <oer:attribute description="Failure score age in months." name="FailureScoreAge"/>
                <oer:attribute description="1 through 5 to indicate risk of financial stress for a customer account. 1 for a business with greatest risk, and 5 for a business with least risk."
                     name="FailureScoreClass"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary2"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary3"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary4"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary5"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary6"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary7"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary8"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary9"/>
                <oer:attribute description="Comments related to failure score." name="FailureScoreCommentary10"/>
                <oer:attribute description="Date that the failure score was calculated." name="FailureScoreDate"/>
                <oer:attribute description="Probability, in percentage, of failure for score range of class"
                     name="FailureScoreIncdDefault"/>
                <oer:attribute description="National percentile that reflects the relative ranking of a company among all scorable companies in the local country database."
                     name="FailureScoreNatnlPercentile"/>
                <oer:attribute description="In Europe, code for the reason for variance between the D&amp;B Rating and the Failure Score. In the US, code for the reason why no score was calculated, or why the score is 0."
                     name="FailureScoreOverrideCode"/>
                <oer:attribute description="Global score for risk of business default." name="GlobalFailureScore"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:complexType name="CreditRating">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>CreditRatingId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CreditRatingId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Rating" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RatedAsOfDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="RatingOrganization" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DetHistoryInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FinclEmbtInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CriminalProceedingInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClaimsInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SecuredFlngInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FinclLglEventInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DisasterInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OprgSpecificationEvntInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OtherSpecificationEvntInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AverageHighCredit" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CreditScore" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreAge" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CreditScoreClass" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreCommentary10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CreditScoreIncdDefault" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="CreditScoreNatlPercentile" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DebarmentInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DebarmentsCount" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DebarmentsDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="HighCredit" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="MaximumCreditCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaximumCreditRecommendationAmount" nillable="true" type="ns0:AmountType"/>
            <xsd:element minOccurs="0" name="PaydexNorm" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexScore" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexThreeMonthsAgo" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditScoreOverrideCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreditRiskScoreExplain" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LowRngDelqScr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="HighRngDelqScr" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DelqPmtRngPrcnt" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="DelqPmtPctgForAllFirms" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="NumberTradeExperiences" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PaydexFirmDays" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexFirmComment" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexIndustryDays" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexIndustryComment" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PaydexComment" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SuitInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LienInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JudgementInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BankruptcyInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NoTradeInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ParentHQBankruptcyInd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumberParentBankruptcyFiling" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PrntBkcyFilgType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrntBkcyFilgChapter" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PrntBkcyFilgDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="NumberParentBankruptcyConversions" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="PrntBkcyConvDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="PrntBkcyChapterConv" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SlowTradeExpl" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NegvPmtExpl" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PubRecExpl" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="BusinessDiscontinued" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SpecialEventComment" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="NumberSpecialEvent" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="SpecialEventUpdateDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="SpecialEventText" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScore" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreAge" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FailureScoreClass" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary6" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary7" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary8" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary9" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreCommentary10" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FailureScoreDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="FailureScoreIncdDefault" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FailureScoreNatnlPercentile" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="FailureScoreOverrideCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlobalFailureScore" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="OriginalSystemReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="creditRating" type="CreditRating"/>
</xsd:schema>
