old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/PartySite.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/" xmlns:sdo="commonj.sdo"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Address</name>
            <description>An address associated with a trading community member. For
                example, Oracle Corporation is located at 500 Oracle Parkway,
                Redwood Shores, CA.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Party site identifier" name="PartySiteId"/>
                <oer:attribute description="Identifier for the party. Foreign key to the HZ_PARTIES table."
                     name="PartyId"/>
                <oer:attribute description="Identifier for the party site. Foreign key to the HZ_LOCATIONS table."
                     name="LocationId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Party site number of the address" name="PartySiteNumber"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Source system name" name="OrigSystem"/>
                <oer:attribute description="Party site identifier from foreign system" name="OrigSystemReference"/>
                <oer:attribute description="Date from which party site is effective" name="StartDateActive"/>
                <oer:attribute description="Date from which party site is invalid" name="EndDateActive"/>
                <oer:attribute description="A user-defined code to indicate a mail drop point within their organization"
                     name="Mailstop"/>
                <oer:attribute description="Indicates if this is the identifying address for the party. Y for the indentifying, N for sites that are not the indentifying site"
                     name="IdentifyingAddressFlag"/>
                <oer:attribute description="Operating Language for the party Site" name="Language"/>
                <oer:attribute description="Party site status flag." name="Status"/>
                <oer:attribute description="User-defined name for the site" name="PartySiteName"/>
                <oer:attribute description="Addressee information" name="Addressee"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Global location number that uniquely identifies each location in a trading partners enterprise"
                     name="GlobalLocationNumber"/>
                <oer:attribute description="DUNS number, a unique, nine-digit identification number that is assigned to business entities by Dun and Bradstreet"
                     name="DUNSNumberC"/>
                <oer:attribute description="Description for a Party Site." name="Comments"/>
                <oer:attribute description="This stores the Party site type and is based on the lookup. Currently this can be null or &apos;One-Time&apos;."
                     name="PartySiteType"/>
                <oer:attribute description="Will store the doing-business_as (DBA) Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameDba"/>
                <oer:attribute description="Will store the division Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameDivision"/>
                <oer:attribute description="Will store the Legal Party name for a party site. This column is to store FSIO related legal party name attribute."
                     name="PartyNameLegal"/>
                <oer:attribute description="The relationship context of a party address." name="RelationshipId"/>
                <oer:attribute description="Usage context of a party address." name="PartyUsageCode"/>
                <oer:attribute description="Not Used." name="UsageCode"/>
                <oer:attribute description="Formatted read-only address" name="FormattedAddress"/>
                <oer:attribute description="Country Name" name="Country"/>
                <oer:attribute description="First Line of Address" name="Address1"/>
                <oer:attribute description="Second Line of Address" name="Address2"/>
                <oer:attribute description="Thrid Line of Address" name="Address3"/>
                <oer:attribute description="Fourth Line of Address" name="Address4"/>
                <oer:attribute description="Name of the City" name="City"/>
                <oer:attribute description="PostalCode of the Address" name="PostalCode"/>
                <oer:attribute description="Name of the State" name="State"/>
                <oer:attribute description="Name of the Province" name="Province"/>
                <oer:attribute description="Name of the County" name="County"/>
                <oer:attribute description="Address style" name="AddressStyle"/>
                <oer:attribute description="Indicates if this address is validated using real time address validation services"
                     name="ValidatedFlag"/>
                <oer:attribute description="Phonetic or Kana representation of the Kanji address lines (used in Japan)"
                     name="AddressLinesPhonetic"/>
                <oer:attribute description="Four digit extension to the Unit ed States Postal ZIP code."
                     name="PostalPlus4Code"/>
                <oer:attribute description="The primary direction such as No rth or East that is used to access the location."
                     name="Position"/>
                <oer:attribute description="Directions to the location" name="LocationDirections"/>
                <oer:attribute description="Date when the location is no lon ger valid" name="AddressExpirationDate"/>
                <oer:attribute description="Operating Language for the Locat ions" name="LocationLanguage"/>
                <oer:attribute description="Standardized status code describing the results of the validation"
                     name="ValidationStatusCode"/>
                <oer:attribute description="Date the address was last valid ated." name="DateValidated"/>
                <oer:attribute description="An attribute that indicates that a particular location is not eligible for address validatino regardless of the current Validation."
                     name="DoNotValidateFlag"/>
                <oer:attribute description="Attribute to Indicate the Buildi ng Type" name="HouseType"/>
                <oer:attribute description="Formatted Multi line address of partysite" name="FormattedMultilineAddress"/>
                <oer:attribute description="Not Used." name="Country1"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber1"/>
                <oer:attribute description="Indicates if this contact is primary contact for the Party"
                     name="ContactPreferenceExistFlag"/>
                <oer:attribute description="Formatted read-only local address" name="FormattedLocaleAddress"/>
                <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework"
                     name="CurrencyCode"/>
                <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework"
                     name="CorpCurrencyCode"/>
                <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework"
                     name="CurcyConvRateType"/>
                <oer:attribute description="Flag for identifying internal/legal location" name="InternalFlag"/>
                <oer:attribute description="Indicates if this is the primary Address of this contact irrespective of the Context. Y for primary Address, N for all others."
                     name="OverallPrimaryFlag"/>
                <oer:attribute description="E-mail address of the party of this address" name="EmailAddress"/>
                <oer:attribute description="Latitude of party address." name="Latitude"/>
                <oer:attribute description="Longitude of party address." name="Longitude"/>
                <oer:attribute description="Contact preference information for a party address." name="ContactPreference"/>
                <oer:attribute description="Electronic file transfer information for the party." name="Eft"/>
                <oer:attribute description="Email address associated with the party." name="Email"/>
                <oer:attribute description="Instant messaging information associated with the party."
                     name="InstantMessaging"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
                <oer:attribute description="Party address use information." name="PartySiteUse"/>
                <oer:attribute description="Phone associated with the party." name="Phone"/>
                <oer:attribute description="Telex information associated with the party." name="Telex"/>
                <oer:attribute description="Web associated with the party." name="Web"/>
                <oer:attribute description="Party address information." name="PartySiteInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="ContactPreference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Eft.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Email.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="InstantMessaging.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Phone.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Telex.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Web.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/partySite/"
         schemaLocation="PartySiteInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:include schemaLocation="PartySiteUse.xsd"/>
    <xsd:complexType name="PartySite">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartySiteId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartySiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LocationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="PartySiteNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="Mailstop" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IdentifyingAddressFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartySiteName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Addressee" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GlobalLocationNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DUNSNumberC" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartySiteType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameDba" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameDivision" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyNameLegal" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RelationshipId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PartyUsageCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="UsageCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressStyle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AddressLinesPhonetic" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalPlus4Code" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Position" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationDirections" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressExpirationDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="LocationLanguage" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidationStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateValidated" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DoNotValidateFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="HouseType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FormattedMultilineAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Country1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="ContactPreferenceExistFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="FormattedLocaleAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="OverallPrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Latitude" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Longitude" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPreference" type="ns1:ContactPreference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Eft" type="ns1:Eft" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Email" type="ns1:Email" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="InstantMessaging" type="ns1:InstantMessaging"
                 sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="OriginalSystemReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartySiteUse" type="PartySiteUse"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="ns1:Phone" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Telex" type="ns1:Telex" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Web" type="ns1:Web" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element minOccurs="0" name="PartySiteInformation" type="ns2:PartySiteInformation" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="partySite" type="PartySite"/>
</xsd:schema>
