old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/PartyPreference.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Preference</name>
            <description>A preference identified for a trading community member. For
                example, a member may prefer that the transaction currency is
                the US dollar.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique indentifier for the party&apos;s preference" name="PartyPreferenceId"/>
                <oer:attribute description="Party identifier" name="PartyId"/>
                <oer:attribute description="The program that creates the preference. For example, TCA MOBILE CUSTOMER DIRECTORY"
                     name="Module"/>
                <oer:attribute description="A preference&apos;s category can be used to logically group one or more preference codes in a particular user interface. The combination of CATEGORY and PREFERENCE_CODE identifies a preference."
                     name="Category"/>
                <oer:attribute description="A preference code determines if a preference is a single value or a multiple value preference. The preference code is validated by the HZ_PREFERENCE lookup. The combination of CATEGORY and PREFERENCE_CODE identifies a preference."
                     name="PreferenceCode"/>
                <oer:attribute description="The preference value if the data type is VARCHAR2" name="ValueVarchar2"/>
                <oer:attribute description="The preference value if the data type is NUMBER" name="ValueNumber"/>
                <oer:attribute description="The preference value if the data type is DATE" name="ValueDate"/>
                <oer:attribute description="A user-defined alias for a preference value" name="ValueName"/>
                <oer:attribute description="Additional preference value" name="AdditionalValue1"/>
                <oer:attribute description="Additional preference value" name="AdditionalValue2"/>
                <oer:attribute description="Additional preference value" name="AdditionalValue3"/>
                <oer:attribute description="Additional preference value" name="AdditionalValue4"/>
                <oer:attribute description="Additional preference value" name="AdditionalValue5"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Record Status Flag used to soft delete entity. Possible values are &apos;A&apos; (active) and &apos;I&apos; (inactive)."
                     name="StatusFlag"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="PartyPreference">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartyPreferenceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartyPreferenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="Module" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Category" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferenceCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValueVarchar2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValueNumber" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ValueDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ValueName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AdditionalValue1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AdditionalValue2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AdditionalValue3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AdditionalValue4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AdditionalValue5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StatusFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="partyPreference" type="PartyPreference"/>
</xsd:schema>
