old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/Person.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
     xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Trading Community Person Details</name>
            <description>Person Information.</description>
            <oer:attributes>
                <oer:attribute description="Party identifier" name="PartyId"/>
                <oer:attribute description="Unique identification number for this party" name="PartyNumber"/>
                <oer:attribute description="Name of this party" name="PartyName"/>
                <oer:attribute description="The party type can only be Person, Organization, Group."
                     name="PartyType"/>
                <oer:attribute description="Indicates if the party was validated. Y for a validated party, N for a party that is not validated."
                     name="ValidatedFlag"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Customer identifier from foreign system. May not be unique."
                     name="OrigSystemReference"/>
                <oer:attribute description="Standard Industry Classification (SIC) code" name="SICCode"/>
                <oer:attribute description="Taxpayer identification number, often unique identifier of person or organization. Can be SSN or income taxpayer ID in US, fiscal code or NIF in Europe"
                     name="JgzzFiscalCode"/>
                <oer:attribute description="First name of the person" name="PersonFirstName"/>
                <oer:attribute description="Salutary introduction, such as Mr. or Herr" name="PersonPreNameAdjunct"/>
                <oer:attribute description="Last or surname of the person" name="PersonLastName"/>
                <oer:attribute description="Middle name of the person" name="PersonMiddleName"/>
                <oer:attribute description="A professional or family title. For example, Don or The Right Honorable."
                     name="PersonTitle"/>
                <oer:attribute description="Indicates the place in a family structure. For example, in Tom Jones III, the &quot;III&quot; is the suffix."
                     name="PersonNameSuffix"/>
                <oer:attribute description="Previous last or surname of the person" name="PersonPreviousLastName"/>
                <oer:attribute description="Academic title that is part of a person&apos;s name, such as Dr. John Smith."
                     name="PersonAcademicTitle"/>
                <oer:attribute description="The country listed in the TERRITORY_CODE column of the FND_TERRITORY table. for the Identifying address."
                     name="Country"/>
                <oer:attribute description="Second line of the Identifying address" name="Address2"/>
                <oer:attribute description="First line of the Identifying address" name="Address1"/>
                <oer:attribute description="Fourth line of the Identifying address" name="Address4"/>
                <oer:attribute description="Third line of the Identifying address" name="Address3"/>
                <oer:attribute description="Postal Code of the Identifying address" name="PostalCode"/>
                <oer:attribute description="City of the Identifying address" name="City"/>
                <oer:attribute description="Province of the Identifying address" name="Province"/>
                <oer:attribute description="State of the Identifying address" name="State"/>
                <oer:attribute description="County of the Identifying address" name="County"/>
                <oer:attribute description="Party status flag." name="Status"/>
                <oer:attribute description="Uniform resource locator" name="URL"/>
                <oer:attribute description="Version of Standard Industry Classification (SIC) code"
                     name="SICCodeType"/>
                <oer:attribute description="E-mail address of the person" name="EmailAddress"/>
                <oer:attribute description="Indicates if this is a US federal agency supported by the General Services Administration (GSA). Y for organizations served by the GSA, N for organizations that are not served by the GSA."
                     name="GSAIndicatorFlag"/>
                <oer:attribute description="Standard name for a language" name="LanguageName"/>
                <oer:attribute description="Corporate charter of organization" name="MissionStatement"/>
                <oer:attribute description="User-definable category. Lookup type is CUSTOMER_CATEGORY"
                     name="CategoryCode"/>
                <oer:attribute description="Tracks if a party has a direct relationship with the organization using Oracle Receivables or through a third party vendor. Y for a third party relationship, N for a direct relationship. If Oracle Service is installed, the Third Party field in the Customers window is mandatory."
                     name="ThirdPartyFlag"/>
                <oer:attribute description="Phrase used to address a party in any correspondence."
                     name="Salutation"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Reason for organization party&apos;s current certification level assignment. HZ_PARTY_CERT_REASON lookup type"
                     name="CertReasonCode"/>
                <oer:attribute description="Certification level an organization party. HZ_PARTY_CERT_LEVEL lookup type"
                     name="CertificationLevel"/>
                <oer:attribute description="Contact point type, such as business or personal" name="PrimaryPhonePurpose"/>
                <oer:attribute description="Unique identifier of this contact point" name="PrimaryPhoneContactPTId"/>
                <oer:attribute description="International country code for a telephone number. For example, 33 for France"
                     name="PrimaryPhoneCountryCode"/>
                <oer:attribute description="Lookup code for the type of phone line. For example, general, fax, inbound or outbound"
                     name="PrimaryPhoneLineType"/>
                <oer:attribute description="A telephone number formatted in local format. The number should not include country code, area code, or extension"
                     name="PrimaryPhoneNumber"/>
                <oer:attribute description="The area code within a country code" name="PrimaryPhoneAreaCode"/>
                <oer:attribute description="How a person or organization prefers to be contacted. Validated against lookup HZ_PREFERRED_CONTACT_METHOD."
                     name="PreferredContactMethod"/>
                <oer:attribute description="Additional number addressed after initial connection to an internal telephone system"
                     name="PrimaryPhoneExtension"/>
                <oer:attribute description="Unique identifier of the location of the identifying address"
                     name="IdenAddrLocationId"/>
                <oer:attribute description="Unique identifier of the primary E-mail" name="PrimaryEmailContactPTId"/>
                <oer:attribute description="Unique identifier of the party site of the identifying address"
                     name="IdenAddrPartySiteId"/>
                <oer:attribute description="Used to capture the Last name prefix (e.g. &apos;fon&apos;, &apos;van&apos;, etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7."
                     name="PersonLastNamePrefix"/>
                <oer:attribute description="Unique identifier of the primary uniform resource locator"
                     name="PrimaryURLContactPTId"/>
                <oer:attribute description="Denormalization of the PARTY_NAME field in the HZ_ADDTNL_PARTY_NAMES row identified by PREFERRED_NAME_ID."
                     name="PreferredName"/>
                <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used."
                     name="PersonSecondLastName"/>
                <oer:attribute description="Foreign Key to HZ_ADDTNL_PARTY_NAMES.PARTY_NAME_ID. If not NULL contains the ID of the overall Preferred Name for the Party. If NULL the Profile Name (i.e. the name contained in the profile) will be used as overall Preferred name. By default the value is NULL"
                     name="PreferredNameId"/>
                <oer:attribute description="Person PARTY_ID of a preferred contact for a given party. There should be a valid relationship."
                     name="PreferredContactPersonId"/>
                <oer:attribute description="Denormalization of the INTERNAL_FLAG in HZ_PERSON_PROFILES/HZ_ORGANIZATION_PROFILES"
                     name="InternalFlag"/>
                <oer:attribute description="Denormalization of the PREF_FUNCTIONAL_CURRENCY in HZ_PERSON_PROFILES/HZ_ORGANIZATION_PROFILES"
                     name="PreferredFunctionalCurrency"/>
                <oer:attribute description="Denormalization of the GENDER in HZ_PERSON_PROFILES" name="Gender"/>
                <oer:attribute description="Denormalization of the MARITAL_STATUS in HZ_PERSON_PROFILES"
                     name="MaritalStatus"/>
                <oer:attribute description="Denormalization of the COMMENTS in HZ_GROUP_PROFILES"
                     name="Comments"/>
                <oer:attribute description="Denormalization of the DATE_OF_BIRTH in HZ_PERSON_PROFILES"
                     name="DateOfBirth"/>
                <oer:attribute description="Stores the &quot;light weight&quot; user Global Unique Id. Light Weight users defined in the Extended Security (XS) System. Foreign key to FND_USER."
                     name="UserGUID"/>
                <oer:attribute description="This is the derived column. For Organization, it is concatenation of unique_name_alias and suffix. For Person, this is concatenation of person_name and suffix."
                     name="PartyUniqueName"/>
                <oer:attribute description="Source system name where the record originated." name="SourceSystem"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="SourceSystemReferenceValue"/>
                <oer:attribute description="Source system name where the record originated." name="SourceSystemUpdateDate"/>
                <oer:attribute description="Additional name associated with the person." name="AdditionalPersonName"/>
                <oer:attribute description="Additional identifier for an organization or person."
                     name="AdditionalPartyId"/>
                <oer:attribute description="Citizenship information of a person." name="Citizenship"/>
                <oer:attribute description="Certification information for the party." name="Certification"/>
                <oer:attribute description="Contact preference information of the person." name="ContactPreference"/>
                <oer:attribute description="Classification code assigned to the person." name="CodeAssignment"/>
                <oer:attribute description="Credit rating of the person." name="CreditRating"/>
                <oer:attribute description="Person education information." name="Education"/>
                <oer:attribute description="Email information associated with the person." name="Email"/>
                <oer:attribute description="Domain name of the email address." name="EmailDomain"/>
                <oer:attribute description="Financial profile information of a person." name="FinancialProfile"/>
                <oer:attribute description="Employment history information of a person." name="EmploymentHistory"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
                <oer:attribute description="Instant messaging information associated with a person."
                     name="InstantMessaging"/>
                <oer:attribute description="Address information associated with the person." name="PartySite"/>
                <oer:attribute description="Preference associated with the person record." name="PartyPreference"/>
                <oer:attribute description="Profile information for a person." name="PersonProfile"/>
                <oer:attribute description="Party usage assigned to the person." name="PartyUsageAssignment"/>
                <oer:attribute description="Language information associated with a person." name="PersonLanguage"/>
                <oer:attribute description="Person interest information associated with a person."
                     name="PersonInterest"/>
                <oer:attribute description="Phone information of the person." name="Phone"/>
                <oer:attribute description="Web information associated with the person." name="Web"/>
                <oer:attribute description="Person relationship information." name="Relationship"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="AdditionalPartyId.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="Certification.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="ContactPreference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="CodeAssignment.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="CreditRating.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Email.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="EmailDomain.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="FinancialProfile.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="InstantMessaging.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="PersonPartySite.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="PartyPreference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="PartyUsageAssignment.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="PersonLanguage.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Phone.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/"
         schemaLocation="Web.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/"
         schemaLocation="Relationship.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="AdditionalPersonName.xsd"/>
    <xsd:include schemaLocation="Citizenship.xsd"/>
    <xsd:include schemaLocation="Education.xsd"/>
    <xsd:include schemaLocation="EmploymentHistory.xsd"/>
    <xsd:include schemaLocation="PersonProfile.xsd"/>
    <xsd:include schemaLocation="PersonInterest.xsd"/>
    <xsd:complexType name="PersonResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="Person"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Person">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>PartyId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" type="xsd:string"/>
            <xsd:element default="PERSON" minOccurs="0" name="PartyType" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SICCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="JgzzFiscalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Country" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" type="xsd:string"/>
            <xsd:element minOccurs="0" name="URL" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SICCodeType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GSAIndicatorFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="LanguageName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MissionStatement" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CategoryCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ThirdPartyFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Salutation" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertReasonCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CertificationLevel" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhonePurpose" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneContactPTId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneCountryCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneLineType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneAreaCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredContactMethod" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryPhoneExtension" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="IdenAddrLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PrimaryEmailContactPTId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="IdenAddrPartySiteId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryURLContactPTId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PreferredName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PreferredNameId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PreferredContactPersonId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="InternalFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Gender" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="MaritalStatus" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateOfBirth" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="UserGUID" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemReferenceValue" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SourceSystemUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalPersonName" type="AdditionalPersonName"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="AdditionalPartyId" type="ns1:AdditionalPartyId"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Citizenship" type="Citizenship"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Certification" type="ns1:Certification"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContactPreference" type="ns2:ContactPreference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CodeAssignment" type="ns1:CodeAssignment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="CreditRating" type="ns1:CreditRating"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Education" type="Education"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Email" type="ns2:Email" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmailDomain" type="ns1:EmailDomain"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="FinancialProfile" type="ns1:FinancialProfile"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="EmploymentHistory" type="EmploymentHistory"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="ns1:OriginalSystemReference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="InstantMessaging" type="ns2:InstantMessaging"
                 sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartySite" type="ns1:PersonPartySite"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartyPreference" type="ns1:PartyPreference"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonProfile" type="PersonProfile"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PartyUsageAssignment" type="ns1:PartyUsageAssignment"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonLanguage" type="ns1:PersonLanguage"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonInterest" type="PersonInterest"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Phone" type="ns2:Phone" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Web" type="ns2:Web" sdoXML:dataType="sdo:DataObject"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Relationship" type="ns3:Relationship"
                 sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="person" type="Person"/>
    <xsd:element name="personResult" type="PersonResult"/>
</xsd:schema>
