old-paas-for-saas-samples/PaaS-SaaS_HealthCareApp/DoctorPatientCRMExtension/HealthCare/HealthCareWSProxyClient/src/com/oracle/ptsdemo/healthcare/wsclient/osc/salesparty/SalesAccount.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
     xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/"
     xmlns:ns4="http://xmlns.oracle.com/apps/crmCommon/assetImport/publicModel/assetImportService/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <name>Sales Account</name>
            <description>An object used to store sales account profile attributes. A sales account is a sales party with usage as sales account.</description>
            <keywords>
                <value>SalesAccount</value>
            </keywords>
            <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
                <oer:attribute description="The identifier for the sales account owner." name="AccountDirectorId"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The standard replication column." name="CpdrfLastUpd" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerPillar"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The standard replication column." name="CpdrfVerSor" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The user who created the record." name="CreatedBy" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The date and time the record was created." name="CreationDate"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The indicator showing whether there is an existing selling or billing relationship with the sales account."
                     name="ExistingFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The date when the existing flag is last modified." name="ExistingFlgLastUpdDate"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The date indicating when the sales account territory assignment was last run by assignment manager."
                     name="LastAssignedDate" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The user login for the user who last updated the record."
                     name="LastUpdateLogin" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The user who last updated the record." name="LastUpdatedBy"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The indicator for whether a sales account is a named sales account."
                     name="NamedAccountFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The unique identifier on the sales account." name="PartyId"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The segment of the user descriptive flexfield." name="AttributeCategory"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicator showing whether the sales account had the required dimensions to allow assignment manager to assign territories to the sales account."
                     name="AssgnExceptionFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the currency for a sales account." name="CurrencyCode"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying currency conversation rate type for a sales account."
                     name="CurcyConvRateType" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying corporate currency code for a sales account."
                     name="CorpCurrencyCode" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the unique name for a sales party." name="PartyUniqueName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the classification code assignment identifier for a sales party."
                     name="CodeAssignmentId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the status of a sales party. Sample values for status are active and inactive."
                     name="Status" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the classification category meaning."
                     name="Meaning" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the classification category." name="ClassCategory"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the classification code." name="ClassCode"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying View Application" name="ViewApplicationId"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the classification category." name="ClassCategory1"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the unique name of a sales party." name="PartyUniqueName1"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the status of a sales account. Sample values for status are active and inactive."
                     name="Status1" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the party type. Sample values for party types are organization and person."
                     name="PartyType" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the name of a sales party." name="PartyName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the user-friendly unique identifier of a sales party."
                     name="PartyNumber" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the internal identifier of a sales party."
                     name="SalesAccountId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates the party site id which has usage as SELL_TO."
                     name="SellToPartySiteId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates the date on which the sales account is created."
                     name="StartDateActive" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates date on which the sales account was ended."
                     name="EndDateActive" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates name of the sales account." name="SalesAccountName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="This will store the name suffix." name="SalesAccountNameSuffix"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Indicates the sales account unique name." name="SalesAccountUniqueName"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Status value (active, inactive) reflecting the current state of the Sales Account"
                     name="SalesAccountStatus" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The identifier of the user who has marked this customer account as a favorite"
                     name="UserSalesAccountId" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="This is the rating field. Users can pass a 1 to 5 to add/update rating for sales account"
                     name="UpdateRating" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label displaying the internal status of a sales account to track if its active or inactive. Values for InternalStatus are Active and Inactive."
                     name="InternalStatus" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label indicating whether an account is designated primary for a sales party with multiple sales accounts. Values for PrimaryFlag are Yes or No."
                     name="PrimaryFlag" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="Label for a transient attribute for delete operations in a web services call. If set to Y in WS payload then sales account profile, its party usage, contact relationships, hierarchies and TCA party will be deleted. If set to N in the payload then only sales account profile will be deleted."
                     name="DeleteCustomerKey" xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The resources associated to the sales account." name="SalesAccountResource"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The territories associated to the sales account." name="SalesAccountTerritory"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The organization associated to the sales account." name="OrganizationD"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The person associated to the sales account." name="PersonD"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The contact points associated to the sales account." name="SalesAccountContactPoints"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The contacts associated to the sales account" name="SalesAccountContacts"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The organization associated to the sales account." name="OrganizationParty"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The person associated to the sales account." name="PersonParty"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
                <oer:attribute description="The group associated to the sales account." name="Group"
                     xmlns:oer="http://xmlns.oracle.com/oer"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
         schemaLocation="OrganizationProfile.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
         schemaLocation="PersonProfile.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/organizationService/"
         schemaLocation="OrganizationParty.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/"
         schemaLocation="Person.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/groupService/" schemaLocation="Group.xsd"
         xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/crmCommon/assetImport/publicModel/assetImportService/"
         schemaLocation="Asset.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="SalesAccountResource.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="SalesAccountTerritory.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="SalesAccountContactPoints.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="SalesAccountContacts.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="Waranty_c.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:include schemaLocation="Prescription_Med_c.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
    <xsd:complexType name="SalesAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SalesAccountId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element minOccurs="0" name="AccountDirectorId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfLastUpd" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerPillar" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CpdrfVerSor" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ExistingFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ExistingFlgLastUpdDate" nillable="true" type="ns0:date-Date"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastAssignedDate" nillable="true" type="ns0:date-Date" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="NamedAccountFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="AttributeCategory" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="AssgnExceptionFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyUniqueName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="CodeAssignmentId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Meaning" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ClassCategory" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ClassCode" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ViewApplicationId" nillable="true" type="xsd:long" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ClassCategory1" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyUniqueName1" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Status1" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyType" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyName" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PartyNumber" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SellToPartySiteId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAccountName" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAccountNameSuffix" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAccountUniqueName" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="SalesAccountStatus" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UserSalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="UpdateRating" nillable="true" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="InternalStatus" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="DeleteCustomerKey" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountResource" type="SalesAccountResource"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountTerritory" type="SalesAccountTerritory"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationD" type="ns1:OrganizationProfile"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonD" type="ns2:PersonProfile" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountContactPoints" type="SalesAccountContactPoints"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="SalesAccountContacts" type="SalesAccountContacts"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OrganizationParty" type="ns1:OrganizationParty"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="PersonParty" type="ns2:Person" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Group" type="ns3:Group" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Asset" type="ns4:Asset" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Latitude_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="Longitude_c" nillable="true" type="xsd:decimal" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="ExistingPatient_c" nillable="true" type="xsd:boolean" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="InsuranceStatus_c" nillable="true" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element minOccurs="0" name="InsuranceStatus_cMeaning" nillable="true" type="xsd:string"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="WarantyCollection_c" type="Waranty_c"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Prescription_MedCollection_c" type="Prescription_Med_c"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesAccount" type="SalesAccount" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
</xsd:schema>
