old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ActivityServiceReference/ActivityService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns0="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/" xmlns:tns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/types/" xmlns:ns2="http://xmlns.oracle.com/adf/svc/types/" xmlns:ns1="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/ActivityAssignee.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/Activity.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/ActivityDeleteException.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/activities/activityManagementService/ActivityContact.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/oracle/apps/crmCommon/objects/objectsService/CommonAttachments.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/objects/objectsService/" />
  <element name="getActivity">
    <complexType>
      <sequence>
        <element name="activityId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getActivityResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivity">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivity">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivity">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findActivity">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="processActivity">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="activity" type="ns1:Activity" />
        <element name="processControl" type="ns2:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processActivityResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAsync">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="getActivityAsync">
    <complexType>
      <sequence>
        <element name="activityId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getActivityAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="processActivityAsync">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="activity" type="ns1:Activity" />
        <element name="processControl" type="ns2:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processActivityAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityAsync">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAsync">
    <complexType>
      <sequence>
        <element name="activity" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="createActivityAssignee">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityAssigneeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAssignee">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAssigneeResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findActivityAssignee">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityAssigneeResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityContact">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityContactResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityContact">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityContactResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityContact">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityContactResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findActivityContact">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityContactResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAssigneeAsync">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityAssigneeAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="createActivityContactAsync">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityContactAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityAssigneeAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityAssigneeAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityContactAsync">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteActivityContactAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="updateActivityContactAsync">
    <complexType>
      <sequence>
        <element name="activityContactWebService" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityContactAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityContactAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityContactAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityContact" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityAssigneeAsync">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="createActivityAssigneeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityDeleteExceptions">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityDeleteExceptionsResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityDeleteException" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityDeleteExceptionsAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns2:FindCriteria" />
        <element name="findControl" type="ns2:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findActivityDeleteExceptionsAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ActivityDeleteException" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAttachment">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="deleteParams" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAttachmentResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAttachmentAsync">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="deleteParams" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="deleteAttachmentAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentsListWithoutContent">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="getParameters" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentsListWithoutContentResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentContent">
    <complexType>
      <sequence>
        <element name="getParameters" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentContentResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentContentAsync">
    <complexType>
      <sequence>
        <element name="getParameters" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentContentAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentsListWithoutContentAsync">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="getParameters" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="getAttachmentsListWithoutContentAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:CommonAttachments" />
      </sequence>
    </complexType>
  </element>
  <element name="copyAttachment">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="attachmentRows" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="copyAttachmentResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="createAttachment">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="attachmentRows" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="createAttachmentResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="createAttachmentAsync">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="attachmentRows" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="createAttachmentAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="copyAttachmentAsync">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="attachmentRows" type="ns0:CommonAttachments" />
        <element name="commitData" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="copyAttachmentAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="generateActivitiesFromTemplate">
    <complexType>
      <sequence>
        <element name="templateId" type="long" />
        <element name="activityAttributes" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="generateActivitiesFromTemplateResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="generateActivitiesFromTemplateAsync">
    <complexType>
      <sequence>
        <element name="templateId" type="long" />
        <element name="activityAttributes" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="generateActivitiesFromTemplateAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:Activity" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAssignee">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAssigneeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAssigneeAsync">
    <complexType>
      <sequence>
        <element name="activityAssigneeWebService" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="updateActivityAssigneeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ActivityAssignee" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns2:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns2:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns2:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns2:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns2:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns2:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
</schema>