old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/ActivityServiceReference/ActivityDeleteException.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/" sdoJava:package="oracle.apps.crmCommon.activities.activityManagementService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/appCmmnCompActivitiesActivityManagement/ActivityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/">Activity Delete Exception</name>
      <description xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activityManagementService/">This is used to capture the instances of an appointment series that have been deleted.</description>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier of the appointment series." name="DeleteExceptionSeriesId" />
        <oer:attribute description="Start date of the recurring appointment that was deleted." name="DeleteExceptionStartDate" />
        <oer:attribute description="System attribute to capture the user Id of the activity delete exception creator. This is defaulted by the system." name="CreatedBy" />
        <oer:attribute description="System attribute to capture the date and time the activity delete exception was created. This is defaulted by the system." name="CreationDate" />
        <oer:attribute description="System attribute to capture the Id of the user who last updated the activity delete exception. This is defaulted by the system." name="LastUpdateDate" />
        <oer:attribute description="System attribute to capture the Id of the user who last updated the activity delete exception. This is defaulted by the system." name="LastUpdateLogin" />
        <oer:attribute description="System attribute to capture the date and time the activity delete exception was last updated. This is defaulted by the system." name="LastUpdatedBy" />
        <oer:attribute description="System attribute to capture number of updates on an activity delete exception row. This is updated by the system." name="ObjectVersionNumber" />
        <oer:attribute description="Attribute to capture when the record was last updated by a user in disconnect mode" name="UserLastUpdateDate" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="ActivityDeleteException">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>DeleteExceptionSeriesId</attribute>
          <attribute>DeleteExceptionStartDate</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="DeleteExceptionSeriesId" type="xsd:long" />
      <xsd:element minOccurs="0" name="DeleteExceptionStartDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="activityDeleteException" type="ActivityDeleteException" />
</xsd:schema>