PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_ActivityAppointmentService/src/oracle/demo/pts/fusionservices/ActivityAppointment/ActivityContact.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
     sdoJava:package="oracle.apps.crmCommon.activities.activitiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Appointment Contact</name>
            <description>A contact participant on an appointment, such as Steve Smith or
                Jane Doe.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    AppCmmnCompActivities-Activities</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique Identifier for Activity Contact record" name="ActivityContactId"/>
                <oer:attribute description="Activity for which the Person is a Contact" name="ActivityId"/>
                <oer:attribute description="PartyId of a person type of party who is involved with this appointment"
                     name="ContactId"/>
                <oer:attribute description="Relationship that describes the person and the organization that the person is related to. Note: For contacts, a user may choose either a person or a person who is related to an org (i.e. Jo Cassidy @ Oracle). The person who is related to an org scenario is represented as a relationship."
                     name="ContactRelationshipId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="ActivityContact">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>ActivityContactId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="ActivityContactId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ActivityId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ContactId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="ContactRelationshipId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="activityContact" type="ActivityContact"/>
</xsd:schema>
