PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/UserDetailsServiceReference/UserSessionDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" sdoJava:package="oracle.apps.hcm.people.roles.userDetailsServiceV2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">User Session Details Version 2</name>
      <description xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">Session user data such as Language Code, Currency Code, Time
                Zone.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop : HcmUsers-Users</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources : PER_USER-User</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the person." name="PersonId" />
        <oer:attribute description="Language." name="Language" />
        <oer:attribute description="Date format." name="DateFormat" />
        <oer:attribute description="Time format." name="TimeFormat" />
        <oer:attribute description="Number format." name="NumberFormat" />
        <oer:attribute description="Currency." name="Currency" />
        <oer:attribute description="Grouping separator." name="GroupingSeparator" />
        <oer:attribute description="Decimal separator." name="DecimalSeparator" />
        <oer:attribute description="Time zone." name="TimeZone" />
        <oer:attribute description="Client encoding." name="ClientEncoding" />
        <oer:attribute description="Territory." name="Territory" />
        <oer:attribute description="Font size." name="FontSize" />
        <oer:attribute description="Accessibily mode." name="AccessibilityMode" />
        <oer:attribute description="Color contrast." name="ColorContrast" />
        <oer:attribute description="Server time." name="ServerTime" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="UserSessionDetailsResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="UserSessionDetails" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UserSessionDetails">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PersonId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DateFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TimeFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="NumberFormat" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Currency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="GroupingSeparator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DecimalSeparator" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TimeZone" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ClientEncoding" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Territory" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="FontSize" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccessibilityMode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ColorContrast" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ServerTime" nillable="true" type="ns0:dateTime-Timestamp" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="userSessionDetailsResult" type="UserSessionDetailsResult" />
  <xsd:element name="userSessionDetails" type="UserSessionDetails" />
</xsd:schema>