PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/UserDetailsServiceReference/UserDetails.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" sdoJava:package="oracle.apps.hcm.people.roles.userDetailsServiceV2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/oracle/apps/hcm/people/roles/userDetailsServiceV2/UserPersonDetails.xsd" />
  <xsd:include schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/oracle/apps/hcm/people/roles/userDetailsServiceV2/UserSessionDetails.xsd" />
  <xsd:include schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/oracle/apps/hcm/people/roles/userDetailsServiceV2/UserWorkRelationshipDetails.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">User Details SDO Version 2</name>
      <description xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">This object represents user details for the requesting reference (either person id or TCA party id).</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop : HcmPeopleTop-People</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HcmTop-HcmTop : HcmPeopleTop-People : HcmPeopleRoles-Roles
                    Provisioning</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources</value>
        <value xmlns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/">HCM-HCM : PER-Global Human Resources : PER_PERSON-Person</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Identifier of the person." name="PersonId" />
        <oer:attribute description="Person number." name="PersonNumber" />
        <oer:attribute description="Identifier of the user." name="UserId" />
        <oer:attribute description="Name of the user." name="Username" />
        <oer:attribute description="User globally unique identifier." name="UserGUID" />
        <oer:attribute description="Active flag." name="ActiveFlag" />
        <oer:attribute description="Xcredentials email sent." name="CredentialsEmailSent" />
        <oer:attribute description="User distinguished name." name="UserDistinguishedName" />
        <oer:attribute description="User person details." name="UserPersonDetails" />
        <oer:attribute description="User session details." name="UserSessionDetails" />
        <oer:attribute description="User work relationship details." name="UserWorkRelationshipDetails" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="UserDetailsResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="UserDetails" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="UserDetails">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PersonId</attribute>
          <attribute>UserId</attribute>
          <attribute>PersonId1</attribute>
          <attribute>EffectiveStartDate</attribute>
          <attribute>EffectiveEndDate</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PersonId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PersonNumber" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="UserId" type="xsd:long" />
      <xsd:element minOccurs="0" name="Username" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserGUID" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="ActiveFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CredentialsEmailSent" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="UserDistinguishedName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UserPersonDetails" type="UserPersonDetails" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UserSessionDetails" type="UserSessionDetails" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="UserWorkRelationshipDetails" type="UserWorkRelationshipDetails" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="userDetailsResult" type="UserDetailsResult" />
  <xsd:element name="userDetails" type="UserDetails" />
</xsd:schema>