PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_SalesPartyService/classes/oracle/demo/pts/fusionproxy/salesparty/SalesAccountTerritory.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     sdoJava:package="oracle.apps.crmCommon.salesParties.salesPartiesService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/salesParties/salesPartiesService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Sales Account Territory</name>
            <description>An object representing sales account territory attributes for
                territory assigned to the sales account.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    CrmCommonSalesParties-Sales Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="The date on which the record is last updated." name="LastUpdateDate"/>
                <oer:attribute description="The user login for the user who last updated the record."
                     name="LastUpdateLogin"/>
                <oer:attribute description="The user who last updated the record." name="LastUpdatedBy"/>
                <oer:attribute description="The number to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="The sales account territory identifier." name="SAccountTerritoryId"/>
                <oer:attribute description="The sales account identifier." name="SalesAccountId"/>
                <oer:attribute description="The territory identifier." name="TerritoryId"/>
                <oer:attribute description="The territory version identifier." name="TerritoryVersionId"/>
                <oer:attribute description="The date and time of the last update from mobile." name="UserLastUpdateDate"/>
                <oer:attribute description="The territory name." name="Name"/>
                <oer:attribute description="The sales account party name" name="PartyName"/>
                <oer:attribute description="The identifier of the party." name="PartyId"/>
                <oer:attribute description="The type code of the sales account territory." name="TypeCode"/>
                <oer:attribute description="The status code of sales account territory." name="StatusCode"/>
                <oer:attribute description="Indicates date on which the association of territory to sales account is created."
                     name="StartDateActive"/>
                <oer:attribute description="Indicates date on which the association of territory to sales account is ended."
                     name="EndDateActive"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="SalesAccountTerritory">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>SAccountTerritoryId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="SAccountTerritoryId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="SalesAccountId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="TerritoryId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="TerritoryVersionId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="Name" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="TypeCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StatusCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StartDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="salesAccountTerritory" type="SalesAccountTerritory"/>
</xsd:schema>
