old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/AdditionalPersonName.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" sdoJava:package="oracle.apps.cdm.foundation.parties.personService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">Additional Contact Name</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">An additional name that can be associated with a trading
                community person. For example, maiden name or alias.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier. Primary Key. System generated." name="PartyNameId" />
        <oer:attribute description="Type of the name. It is a value defined by the Additional Party Name and Identifier Type entity. The party type should be consistent with the party type that the PARTY_NAME_TYPE can be applied to." name="PartyNameType" />
        <oer:attribute description="Party ID. Foreign key reference to the HZ_PARTIES. The party type should be consistent with the party type that the PARTY_NAME_TYPE can be applied to." name="PartyId" />
        <oer:attribute description="Typically used to store the additional name for the party. In the case of Persons it will be used to store the formatted name if necessary for the name type." name="PartyName" />
        <oer:attribute description="Used to capture the last name of a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Family Name in HL7." name="PersonLastName" />
        <oer:attribute description="Used to capture the first name of a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Given Name in HL7." name="PersonFirstName" />
        <oer:attribute description="Used to capture the middle name of a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Middle Initial or Name in HL7." name="PersonMiddleName" />
        <oer:attribute description="Used to capture the Last name prefix (e.g. 'fon', 'van', etc.) for a person. It is used in the same way the new field PERSON_LAST_NAME_PREFIX in HZ_PERSON_PROFILES is used. Corresponds to the field Last Name Prefix in HL7." name="PersonLastNamePrefix" />
        <oer:attribute description="Used to capture the previous last name of a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. It has no mapping in HL7." name="PersonPreviousLastName" />
        <oer:attribute description="Used to capture the name suffix (e.g. Junior. Sr, the third, etc.) for a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Suffix in HL7." name="PersonNameSuffix" />
        <oer:attribute description="Used to capture the second last name for a person. In some cultures it is not uncommon to have double last name. It is used in the same way the new field PERSON_SECOND_LAST_NAME in HZ_PERSON_PROFILES is used." name="PersonSecondLastName" />
        <oer:attribute description="Used to capture the name prefix (Mr. Ms, Dr., etc.) for a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Prefix in HL7. Validate against lookup CONTACT_TITLE" name="PersonPreNameAdjunct" />
        <oer:attribute description="Used to capture the language used for the name. It is validated against FND_LANGUAGES.LANGUAGE_CODE. Default value is the Session Language." name="TransliterationLang" />
        <oer:attribute description="A professional or family title. For example, Don or The Right Honorable. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used" name="PersonTitle" />
        <oer:attribute description="Free text comment/description." name="Description" />
        <oer:attribute description="Identify the name as preferred name for this party within this name type. Possible values are 'Y' and 'N'. Default is 'N'." name="PreferredFlag" />
        <oer:attribute description="Record Status Flag used to soft delete entity. Possible values are 'A' (active), 'I' (inactive), 'D' (logically deleted), and 'M' (merged). 'M' will not be used for this entity. Default is 'A'." name="StatusFlag" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Preferred additional name of a person." name="OverallPreferredFlag" />
        <oer:attribute description="Source system name" name="OrigSystem" />
        <oer:attribute description="Unique person identifier from foreign system" name="OrigSystemReference" />
        <oer:attribute description="Used to capture the Academic title for a person. It is used in the same way the homonymous field in HZ_PERSON_PROFILES is used. Corresponds to the field Degree in HL7." name="PersonAcademicTitle" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AdditionalPersonName">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyNameId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyNameId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyNameType" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonMiddleName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonLastNamePrefix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonPreviousLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonNameSuffix" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonSecondLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonPreNameAdjunct" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="TransliterationLang" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredFlag" nillable="true" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="StatusFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="CreatedByModule" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OverallPreferredFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrigSystemReference" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PersonAcademicTitle" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="ns1:OriginalSystemReference" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="additionalPersonName" type="AdditionalPersonName" />
</xsd:schema>