old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/AdditionalPartyId.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">Trading Community Additional Identifier</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">An additional identifier to be associated with a trading
                community member. For example, a driver's license number or
                passport number.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier. Primary Key. System generated." name="PartyIdentifierId" />
        <oer:attribute description="Party Identifier" name="PartyId" />
        <oer:attribute description="Name of the party." name="PartyName" />
        <oer:attribute description="Identifier type for this ID. Values are defined in TYPE_CODE of HZ_NAME_AND_ID_TYPE_B. The party type should be consistent with the party type that the PARTY_IDENTIFIER_TYPE can be applied to." name="PartyIdentifierType" />
        <oer:attribute description="Value of the Identifier for the Party" name="PartyIdentifierValue" />
        <oer:attribute description="Foreign key to FND_TERRITORY. TERRITORY_CODE.From UI, COUNTRY and STATE should be displayed based on geography setup. Used for certain types of identifiers such as Passports or Driving licenses." name="Country" />
        <oer:attribute description="From UI, COUNTRY and STATE should be displayed based on geography setup. Used for certain types of identifiers such as Passports or Driving licenses" name="StateProvince" />
        <oer:attribute description="If ISSUING_AUTHORITY_PARTY_ID is not null, check foreign key. Otherwise, store ISSUING_AUTHORITY_NAME. Either of these should be populated" name="IssuingAuthorityName" />
        <oer:attribute description="If ISSUING_AUTHORITY_PARTY_ID is not null, check foreign key. Otherwise, store ISSUING_AUTHORITY_NAME. Either of these should be populated" name="IssuingAuthorityPartyId" />
        <oer:attribute description="Date in which the Identifier was issued. It may be NULL as it does not apply to all types of identifiers" name="IssueDate" />
        <oer:attribute description="Expiration date for the identifier. It may be NULL as it does not apply to all types of identifiers." name="ExpirationDate" />
        <oer:attribute description="Free text comment/description" name="Description" />
        <oer:attribute description="Record Status Flag used to soft delete entity. Possible values are 'A' (active), 'I' (inactive), 'D' (logically deleted), and 'M' (merged)." name="StatusCode" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Identifier type for this ID. Values are defined in TYPE_CODE of HZ_NAME_AND_ID_TYPE_B. The party type should be consistent with the party type that the PARTY_IDENTIFIER_TYPE can be applied to." name="PartyIdentifierType1" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="AdditionalPartyId">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyIdentifierId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyIdentifierId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyIdentifierType" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyIdentifierValue" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StateProvince" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IssuingAuthorityName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="IssuingAuthorityPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="IssueDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="ExpirationDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedByModule" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyIdentifierType1" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="OriginalSystemReference" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="additionalPartyId" type="AdditionalPartyId" />
</xsd:schema>