old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/PartyUsageAssignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:sdoXML="commonj.sdo/xml" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">Usage Assignment</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">A party usage assigned to a trading community member. For
                example, John Doe is a contact of ABC Corporation and XYZ
                Corporation is a supplier.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Unique identifier for a party usage assignment." name="PartyUsgAssignmentId" />
        <oer:attribute description="Unique identifier of party that the party usage is assigned to" name="PartyId" />
        <oer:attribute description="Unique identifier of party usage assigned to the party" name="PartyUsageCode" />
        <oer:attribute description="Date Effective Entity: indicates the date at the beginning of the date range within which the row is effective." name="EffectiveStartDate" />
        <oer:attribute description="Date Effective Entity: indicates the date at the end of the date range within which the row is effective." name="EffectiveEndDate" />
        <oer:attribute description="Internal use to soft delete 'from' assignment in transition rule. Assignment API won't expose this column. However, any query on assignment table should have status_flag = 'A" name="StatusFlag" />
        <oer:attribute description="User comments" name="Comments" />
        <oer:attribute description="Combination of OWNER_TABLE_NAME and OWNER_TABLE_ID can be used to identify a party usage assignment" name="OwnerTableName" />
        <oer:attribute description="Combination of OWNER_TABLE_NAME and OWNER_TABLE_ID can be used to identify a party usage assignment" name="OwnerTableId" />
        <oer:attribute description="TCA Who column." name="CreatedByModule" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="PartyUsageAssignmentResult">
    <xsd:complexContent mixed="false">
      <xsd:extension base="ns0:MethodResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Value" type="PartyUsageAssignment" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartyUsageAssignment">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>PartyUsgAssignmentId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyUsgAssignmentId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PartyUsageCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="EffectiveStartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EffectiveEndDate" nillable="true" type="ns0:date-Date" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="StatusFlag" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerTableName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OwnerTableId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedByModule" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="partyUsageAssignmentResult" type="PartyUsageAssignmentResult" />
  <xsd:element name="partyUsageAssignment" type="PartyUsageAssignment" />
</xsd:schema>