old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/PersonService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:tns="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/applicationModule/types/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/applicationModule/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/personService/PersonProfile.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/personService/Person.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/personService/" />
  <import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JServiceCS.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <element name="getPerson">
    <complexType>
      <sequence>
        <element name="partyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="createPerson">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="createPersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePerson">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePerson">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonByOriginalSystemReference">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindOrigSystem" type="string" />
        <element name="bindOrigSystemReference" type="string" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonByOriginalSystemReferenceResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageCode">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindPartyUsageCode" type="string" />
        <element name="bindEffectiveDate" type="ns0:date-Date" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageCodeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageFilterRuleCode">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindPartyUsageFrCode" type="string" />
        <element name="bindEffectiveDate" type="ns0:date-Date" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageFilterRuleCodeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="deletePerson">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="deletePersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MethodResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSPerson">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSPersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonByOriginalSystemReferenceAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindOrigSystem" type="string" />
        <element name="bindOrigSystemReference" type="string" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonByOriginalSystemReferenceAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonAsync">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="deletePersonAsync">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="deletePersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:MethodResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSPersonAsync">
    <complexType>
      <sequence>
        <element name="processData" type="ns0:ProcessData" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processCSPersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ProcessData" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageCodeAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindPartyUsageCode" type="string" />
        <element name="bindEffectiveDate" type="ns0:date-Date" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageCodeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="createPersonAsync">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="createPersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonAsync">
    <complexType>
      <sequence>
        <element name="personParty" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonAsync">
    <complexType>
      <sequence>
        <element name="partyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:Person" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageFilterRuleCodeAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="bindPartyUsageFrCode" type="string" />
        <element name="bindEffectiveDate" type="ns0:date-Date" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonsFilteredByPartyUsageFilterRuleCodeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findPerson">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processPerson">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="personParty" type="ns1:Person" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processPersonResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="processPersonAsync">
    <complexType>
      <sequence>
        <element name="changeOperation" type="string" />
        <element minOccurs="0" maxOccurs="unbounded" name="personParty" type="ns1:Person" />
        <element name="processControl" type="ns0:ProcessControl" />
      </sequence>
    </complexType>
  </element>
  <element name="processPersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonProfile">
    <complexType>
      <sequence>
        <element name="PartyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonProfileResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonProfileAsync">
    <complexType>
      <sequence>
        <element name="PartyId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="getPersonProfileAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonProfile">
    <complexType>
      <sequence>
        <element name="personDVO" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonProfileResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonProfile">
    <complexType>
      <sequence>
        <element name="personDVO" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonProfileResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonProfileAsync">
    <complexType>
      <sequence>
        <element name="personDVO" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="updatePersonProfileAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonProfileAsync">
    <complexType>
      <sequence>
        <element name="personDVO" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="mergePersonProfileAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonProfile">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonProfileResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonProfileAsync">
    <complexType>
      <sequence>
        <element name="findCriteria" type="ns0:FindCriteria" />
        <element name="findControl" type="ns0:FindControl" />
      </sequence>
    </complexType>
  </element>
  <element name="findPersonProfileAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="addFavoriteContact">
    <complexType>
      <sequence>
        <element name="contactPartyId" type="long" />
        <element name="userName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="addFavoriteContactResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="removeFavoriteContact">
    <complexType>
      <sequence>
        <element name="contactPartyId" type="long" />
        <element name="userName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="removeFavoriteContactResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="removeFavoriteContactAsync">
    <complexType>
      <sequence>
        <element name="contactPartyId" type="long" />
        <element name="userName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="removeFavoriteContactAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="addFavoriteContactAsync">
    <complexType>
      <sequence>
        <element name="contactPartyId" type="long" />
        <element name="userName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="addFavoriteContactAsyncResponse">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getNearByContacts">
    <complexType>
      <sequence>
        <element name="latitude" type="decimal" />
        <element name="longitude" type="decimal" />
        <element name="distance" type="decimal" />
        <element name="unitOfMeasure" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsByLocationId">
    <complexType>
      <sequence>
        <element name="locationId" type="long" />
        <element name="distance" type="decimal" />
        <element name="unitOfMeasure" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsByLocationIdResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsAsync">
    <complexType>
      <sequence>
        <element name="latitude" type="decimal" />
        <element name="longitude" type="decimal" />
        <element name="distance" type="decimal" />
        <element name="unitOfMeasure" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsByLocationIdAsync">
    <complexType>
      <sequence>
        <element name="locationId" type="long" />
        <element name="distance" type="decimal" />
        <element name="unitOfMeasure" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getNearByContactsByLocationIdAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:PersonProfile" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns0:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
</schema>