old-paas-for-saas-samples/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/PersonServiceReference/Relationship.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:sdo="commonj.sdo" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" xmlns:ns3="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/relationship/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Phone.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartySite.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/flex/relationship/RelationshipInformation.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/relationship/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/partyService/OriginalSystemReference.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Email.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/partyService/PartyUsageAssignment.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/InstantMessaging.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/contactPointService/Web.xsd" namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/contactPointService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/xml/sdoModel.xsd" namespace="commonj.sdo" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/foundationParties/PersonService?XSD=/oracle/apps/cdm/foundation/parties/relationshipService/OrganizationContact.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">Relationship</name>
      <description xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">A relationship between two trading community members. For
                example, John Doe is the spouse of Jane Doe or Michael Smith is
                a contact of Oracle Corporation.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management : FoundationTop-Foundation</value>
        <value xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/relationshipService/">CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="The sequence generated unique identifier of the relationship record." name="RelationshipRecId" />
        <oer:attribute description="The sequence generated unique identifier of a relationship. This is same for both forward and backward relationships." name="RelationshipId" />
        <oer:attribute description="The identifier of the subject in this relationship" name="SubjectId" />
        <oer:attribute description="Subject type of the relationship" name="SubjectType" />
        <oer:attribute description="Source table name for the subject" name="SubjectTableName" />
        <oer:attribute description="The identifier of the object in this relationship" name="ObjectId" />
        <oer:attribute description="Object type of the relationship" name="ObjectType" />
        <oer:attribute description="Source table name for the object" name="ObjectTableName" />
        <oer:attribute description="Either a forward or a backward relationship code" name="RelationshipCode" />
        <oer:attribute description="The relationship type name. For example, CUSTOMER_SUPPLIER" name="RelationshipType" />
        <oer:attribute description="The role between the subject and object party in this relationship" name="Role" />
        <oer:attribute description="User comments" name="Comments" />
        <oer:attribute description="Date relationship begins" name="StartDate" />
        <oer:attribute description="Date relationship ends" name="EndDate" />
        <oer:attribute description="Indicates if this is an active or inactive relationship. A for active, I for inactive." name="Status" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row." name="RequestId" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="TCA Who column" name="CreatedByModule" />
        <oer:attribute description="Developer's extensible attribute. Reserved for application-specific functionality. Column values depend on relationship type. For operating unit and legal entity to bank relationships, column storescommunication agreement ID, which identifies agreement between payer and bank on type ofEDIFACT documents that can be sent for processing payments." name="AdditionalInformation1" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation2" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation3" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation4" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation5" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation6" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation7" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation8" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation9" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation10" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation11" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation12" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation13" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation14" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation15" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation16" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation17" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation18" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation19" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation20" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation21" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation22" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation23" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation24" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation25" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation26" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation27" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation28" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation29" />
        <oer:attribute description="Developer's Extensbile Attribute. Reserved for application-specific functionality. Column values are dependent on Relationship Type." name="AdditionalInformation30" />
        <oer:attribute description="Validated by DIRECTION_CODE lookup type. P - Parent, C - Child, N - Not Directional." name="DirectionCode" />
        <oer:attribute description="Percentage of child entity owned by its parent entity." name="PercentageOwnership" />
        <oer:attribute description="Usage code of object party in the relationship" name="ObjectUsageCode" />
        <oer:attribute description="Usage code of subject party in the relationship" name="SubjectUsageCode" />
        <oer:attribute description="Indicates if this contact person is primary contact for th e customer" name="PreferredContactFlag" />
        <oer:attribute description="Name of the object party in this relationship" name="ObjectPartyName" />
        <oer:attribute description="Name of Party" name="PartyName" />
        <oer:attribute description="Currency Code This attribute is used by CRM Extensibility framework" name="CurrencyCode" />
        <oer:attribute description="Currency Conversion Rate Type This attribute is used by CRM Extensibility framework" name="CurcyConvRateType" />
        <oer:attribute description="Corporate Currency Code This attribute is used by CRM Extensibility framework" name="CorpCurrencyCode" />
        <oer:attribute description="E-mail of the subject party in relationship" name="SubjectEmailAddress" />
        <oer:attribute description="E-mail of the object party in relationship" name="ObjectEmailAddress" />
        <oer:attribute description="Indicates if this customer is primary customer for the contact" name="PrimaryCustomerFlag" />
        <oer:attribute description="Organization Contact Information." name="OrganizationContact" />
        <oer:attribute description="Phone information related to the relationship." name="Phone" />
        <oer:attribute description="Address information related to the relationship." name="PartySite" />
        <oer:attribute description="Relationship Type Information" name="RelationshipInformation" />
        <oer:attribute description="Identifier for this record from foreign or legacy system." name="OriginalSystemReference" />
        <oer:attribute description="Email information related to the relationship." name="Email" />
        <oer:attribute description="Party usage assignment information for the relationship." name="PartyUsageAssignment" />
        <oer:attribute description="Subject Party usage assignment information for the relationship." name="SubjectPartyUsageAssignment" />
        <oer:attribute description="Instant messaging information related to the relationship." name="InstantMessaging" />
        <oer:attribute description="Web information related to the relationship." name="Web" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Relationship">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>RelationshipRecId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RelationshipRecId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RelationshipId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="SubjectId" type="xsd:long" />
      <xsd:element minOccurs="0" name="SubjectType" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubjectTableName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ObjectId" type="xsd:long" />
      <xsd:element minOccurs="0" name="ObjectType" type="xsd:string" />
      <xsd:element minOccurs="0" name="ObjectTableName" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipCode" type="xsd:string" />
      <xsd:element minOccurs="0" name="RelationshipType" type="xsd:string" />
      <xsd:element minOccurs="0" name="Role" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StartDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="EndDate" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Status" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation2" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation3" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation4" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation5" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation6" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation7" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation8" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation9" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation10" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation11" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation12" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation13" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation14" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation15" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation16" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation17" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation18" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation19" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation20" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation21" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation22" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation23" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation24" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation25" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation26" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation27" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation28" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation29" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AdditionalInformation30" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DirectionCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PercentageOwnership" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="ObjectUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SubjectUsageCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PreferredContactFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="ObjectPartyName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CurcyConvRateType" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CorpCurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryCustomerFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="SubjectEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ObjectEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="OrganizationContact" type="OrganizationContact" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Phone" type="ns1:Phone" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartySite" type="ns2:PartySite" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" name="RelationshipInformation" type="ns3:RelationshipInformation" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OriginalSystemReference" type="ns2:OriginalSystemReference" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Email" type="ns1:Email" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="PartyUsageAssignment" type="ns2:PartyUsageAssignment" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SubjectPartyUsageAssignment" type="ns2:PartyUsageAssignment" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="InstantMessaging" type="ns1:InstantMessaging" />
      <xsd:element sdoXML:dataType="sdo:DataObject" minOccurs="0" maxOccurs="unbounded" name="Web" type="ns1:Web" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="relationship" type="Relationship" />
</xsd:schema>