PaaS-SaaS_DynamicWS/CFHandler/JAX_WS_handlers_Accelerator/JAX_WS_handlers_Accelerator/classes/com/oracle/pts/salesparty/wsclient/CodeAssignment.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.partyService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Classification Assignment</name>
            <description>Classification code assigned to a trading community member.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier of the assignment of an industrial classification code to an object. System Generated Primary Key."
                     name="CodeAssignmentId"/>
                <oer:attribute description="Table that stores the owner of the class code" name="OwnerTableName"/>
                <oer:attribute description="Identifies the owner of the class code" name="OwnerTableId"/>
                <oer:attribute description="Classification category name" name="ClassCategory"/>
                <oer:attribute description="Classification code" name="ClassCode"/>
                <oer:attribute description="Indicates if this is the primary class code of a class category for the organization. Y for the primary class code, N for all others."
                     name="PrimaryFlag"/>
                <oer:attribute description="The date that the class code applies to the organization."
                     name="StartDateActive"/>
                <oer:attribute description="The date when the class code is no longer applied." name="EndDateActive"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Record status flag" name="Status"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Used to rank classes if multiple classes have been assigned to a party."
                     name="Rank"/>
                <oer:attribute description="First column of alphanumeric or multi-part foreign key."
                     name="OwnerTableKey1"/>
                <oer:attribute description="Second column of alphanumeric or multi-part foreign key."
                     name="OwnerTableKey2"/>
                <oer:attribute description="Third column of alphanumeric or multi-part foreign key."
                     name="OwnerTableKey3"/>
                <oer:attribute description="Fourth column of alphanumeric or multi-part foreign key."
                     name="OwnerTableKey4"/>
                <oer:attribute description="Fifth column of alphanumeric or multi-part foreign key."
                     name="OwnerTableKey5"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:complexType name="CodeAssignment">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>CodeAssignmentId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="CodeAssignmentId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element default="HZ_PARTIES" minOccurs="0" name="OwnerTableName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ClassCategory" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ClassCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrimaryFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="StartDateActive" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="EndDateActive" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Status" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Rank" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="OwnerTableKey1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableKey2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableKey3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableKey4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OwnerTableKey5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="OriginalSystemReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="codeAssignment" type="CodeAssignment"/>
</xsd:schema>
