old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_OpportunityService/classes/oracle/demo/pts/fusionproxy/opportunities/DeleteEntity.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/"
     sdoJava:package="oracle.apps.scm.productModel.deleteGroups.publicModel" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/scm/productModel/deleteGroups/publicModel/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Item External Reference</name>
            <description>A reference to an item from an external transaction, such as a
                sales order or an inventory transaction.</description>
            <oer:category name="lba">
                <value>ScmTop-SCM : EgpTop-Product Model : EgpDeleteGroups-Item
                    Delete Groups</value>
            </oer:category>
            <oer:category name="lbo">
                <value>SCM-SCM : EGP-Product Model : EGP_DELETE_GROUP-Item Delete
                    Group</value>
            </oer:category>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:include schemaLocation="DeleteError.xsd"/>
    <xsd:complexType name="DeleteEntity">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>DeleteEntitySequenceId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="DeleteEntitySequenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DeleteGroupSequenceId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="EntitySequenceNumber" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeleteEntityType" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="Pk1Value" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pk2Value" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pk3Value" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pk4Value" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="Pk5Value" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="DeleteStatusType" nillable="true" type="xsd:int"/>
            <xsd:element minOccurs="0" name="DeleteDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="DeleteErrorVO" type="DeleteError"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="deleteEntity" type="DeleteEntity"/>
</xsd:schema>
