old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_OpportunityService/classes/oracle/demo/pts/fusionproxy/opportunities/RevenuePartner.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/"
     sdoJava:package="oracle.apps.sales.opptyMgmt.revenues.revenueService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Opportunity Partner</name>
            <description>A partner that is contributing to the selling effort for an
                opportunity revenue line.</description>
            <oer:category name="lba">
                <value>SalesTop-Sales</value>
                <value>SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
                <value>SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top :
                    OpptyMgmtOpportunities-Opportunities</value>
            </oer:category>
            <oer:category name="lbo">
                <value>CRM-CRM : MOO-Opportunity Management : MOO_REVENUE-Sales
                    Revenue</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Opportunity identifier." name="OptyId"/>
                <oer:attribute description="Party identifier of the partner organization associated to the revenue."
                     name="PartOrgPartyId"/>
                <oer:attribute description="Identifier of the partner program of the partner in the context of this opportunity."
                     name="PartProgramId"/>
                <oer:attribute description="Partner type for the partner in the context of this opportunity."
                     name="PartTypeCd"/>
                <oer:attribute description="Identifier of the the summary revenue for this opportunity."
                     name="RevnId"/>
                <oer:attribute description="Identifier for the partners associated to the opportunity."
                     name="RevnPartOrgPartyId"/>
                <oer:attribute description="Estimated close date of the deal registration." name="DealEstCloseDate"/>
                <oer:attribute description="Expiration date of the deal registration." name="DealExpirationDate"/>
                <oer:attribute description="Type of deal registration." name="DealType"/>
                <oer:attribute description="Identifier of the primary partner resource." name="PrPartResourcePartyId"/>
                <oer:attribute description="Registration number of the deal registration." name="RegistrationNumber"/>
                <oer:attribute description="Identifier of the Partner Party is associated to the Opportunity"
                     name="PartyId"/>
                <oer:attribute description="Name of the partners associated to the opportunity." name="PartyName"/>
                <oer:attribute description="Name of the primary partner resources from the partners associated to the opportunity."
                     name="PartyName1"/>
                <oer:attribute description="In audit trail, this is the label displaying the association between a revenue line and an opportunity partner."
                     name="RevnPartnerNumber"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="RevenuePartner">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>RevnPartOrgPartyId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="OptyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartOrgPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartProgramId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="PartTypeCd" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RevnId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="RevnPartOrgPartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="DealEstCloseDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="DealExpirationDate" nillable="true" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="DealType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PrPartResourcePartyId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="RegistrationNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="PartyName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PartyName1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RevnPartnerNumber" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="revenuePartner" type="RevenuePartner"/>
</xsd:schema>
