old-paas-for-saas-samples/PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_LocationService/src/oracle/demo/pts/fusionproxy/location/Location.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/"
     sdoJava:package="oracle.apps.cdm.foundation.parties.locationService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:ns1="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" xmlns:ns2="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/location/"
     xmlns:sdo="commonj.sdo" xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml"
     xmlns="http://xmlns.oracle.com/apps/cdm/foundation/parties/locationService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Trading Community Location SDO</name>
            <description>The details about a geographical or physical location. For
                example, 500 Oracle Parkway, Redwood Shores, CA 94065.</description>
            <oer:category name="lba">
                <value>CdmTop-Customer Data Management</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation</value>
                <value>CdmTop-Customer Data Management : FoundationTop-Foundation :
                    FoundationParties-Parties</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique identifier for this location" name="LocationId"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
                <oer:attribute description="Enterprise Service Scheduler: indicates the request ID of the job that created or last updated the row."
                     name="RequestId"/>
                <oer:attribute description="Source system name" name="OrigSystem"/>
                <oer:attribute description="Address identifier from foreign system" name="OrigSystemReference"/>
                <oer:attribute description="Country code from the TERRITORY_CODE column in the FND_TERRITORY table"
                     name="Country"/>
                <oer:attribute description="First line for address" name="Address1"/>
                <oer:attribute description="Second line for address" name="Address2"/>
                <oer:attribute description="Third line for address" name="Address3"/>
                <oer:attribute description="Fourth line for address" name="Address4"/>
                <oer:attribute description="City element of the address" name="City"/>
                <oer:attribute description="Postal code element of the address" name="PostalCode"/>
                <oer:attribute description="State element of the address" name="State"/>
                <oer:attribute description="Province element of the address" name="Province"/>
                <oer:attribute description="County element of the address" name="County"/>
                <oer:attribute description="Used as context value for Flexible Address Format descriptive flexfield. Do not use this column, join to the FND_TERRITORIES table via COUNTRY = TERRITORY_CODE to retrieve the address style for the country."
                     name="AddressStyle"/>
                <oer:attribute description="Indicates if the location was validated. Y for validated, N for unvalidated."
                     name="ValidatedFlag"/>
                <oer:attribute description="Phonetic or Kana representation of the Kanji address lines (used in Japan)"
                     name="AddressLinesPhonetic"/>
                <oer:attribute description="Four digit extension to the United States Postal ZIP code."
                     name="PostalPlus4Code"/>
                <oer:attribute description="The primary direction such as North or East that is used to access the location."
                     name="Position"/>
                <oer:attribute description="Directions to the location" name="LocationDirections"/>
                <oer:attribute description="Date when the location is valid." name="AddressEffectiveDate"/>
                <oer:attribute description="Date when the location is no longer valid" name="AddressExpirationDate"/>
                <oer:attribute description="Common Language Location Identifier (CLLI) code" name="ClliCode"/>
                <oer:attribute description="Operating Language for the Locations" name="Language"/>
                <oer:attribute description="Short description of the location" name="ShortDescription"/>
                <oer:attribute description="An extensive description of the location" name="Description"/>
                <oer:attribute description="US Sales Tax Jurisdiction code. Use this field to provide a Jurisdiction Code (also called as Geocode) defined by wither Vertex or Taxware. This value is passed as a ship-to locaiton jurisdiction code to the tax partner API."
                     name="SalesTaxGeocode"/>
                <oer:attribute description="Indicates if the location is inside the boundary of a city. Used to calculate state and local taxes in the United States. Value &apos;1&apos; is for locations inside the city limits and &apos;0&apos; is for locations outside the city limits. Defaults to null if &apos;1&apos;."
                     name="SalesTaxInsideCityLimits"/>
                <oer:attribute description="Foreign key to the FA_LOCATIONS table" name="FaLocationId"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="TCA Who column" name="CreatedByModule"/>
                <oer:attribute description="Spatial data integration status for given location. Not Used in Fusion V1."
                     name="GeometryStatusCode"/>
                <oer:attribute description="Standardized status code describing the results of the validation"
                     name="ValidationStatusCode"/>
                <oer:attribute description="Date the address was last validated." name="DateValidated"/>
                <oer:attribute description="A new attribute that indicates that a particular location is not eligible for address validatino regardless of the current Validation Status Code. The default is &quot;No&quot; meaning that by default, all address are eligible for validation. This attribute is not unset on update."
                     name="DoNotValidateFlag"/>
                <oer:attribute description="Description for a Location." name="Comments"/>
                <oer:attribute description="A new Attribute to Indicate the Building Type" name="HouseType"/>
                <oer:attribute description="Date when the location is valid." name="EffectiveDate"/>
                <oer:attribute description="Additional address element to support flexible address format"
                     name="AddrElementAttribute1"/>
                <oer:attribute description="Additional address element to support flexible address format"
                     name="AddrElementAttribute2"/>
                <oer:attribute description="Additional address element to support flexible address format"
                     name="AddrElementAttribute3"/>
                <oer:attribute description="Additional address element to support flexible address format"
                     name="AddrElementAttribute4"/>
                <oer:attribute description="Additional address element to support flexible address format"
                     name="AddrElementAttribute5"/>
                <oer:attribute description="Specific building name or number at a given address" name="Building"/>
                <oer:attribute description="Specific floor number at a given address or in a particular building when building number is provided"
                     name="FloorNumber"/>
                <oer:attribute description="Record Status Flag used to soft delete entity. Possible values are &apos;A&apos; (active) and &apos;I&apos; (inactive)."
                     name="StatusFlag"/>
                <oer:attribute description="This is set to Y for identifying internal/legal location. Possible values are Y and N. Default is N."
                     name="InternalFlag"/>
                <oer:attribute description="Foreign key to FND_TIMEZONES_B.TIMEZONE_CODE" name="TimezoneCode"/>
                <oer:attribute description="Latitude Information for the Location" name="Latitude"/>
                <oer:attribute description="Longitude Information for the Location" name="Longitude"/>
                <oer:attribute description="Profile information for a location." name="LocationProfile"/>
                <oer:attribute description="Identifier for this record from foreign or legacy system."
                     name="OriginalSystemReference"/>
                <oer:attribute description="Detailed information about the location." name="LocationInformation"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/partyService/" schemaLocation="OriginalSystemReference.xsd"/>
    <xsd:import namespace="http://xmlns.oracle.com/apps/cdm/foundation/parties/flex/location/"
         schemaLocation="LocationInformation.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:import namespace="commonj.sdo" schemaLocation="sdoModel.xsd"/>
    <xsd:include schemaLocation="LocationProfile.xsd"/>
    <xsd:complexType name="LocationResult">
        <xsd:complexContent>
            <xsd:extension base="ns0:MethodResult">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="Value" type="Location"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="Location">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>LocationId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="LocationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="RequestId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="OrigSystem" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="OrigSystemReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Country" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address1" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Address4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Province" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="County" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressStyle" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidatedFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="AddressLinesPhonetic" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="PostalPlus4Code" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Position" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LocationDirections" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddressEffectiveDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AddressExpirationDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="ClliCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Language" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ShortDescription" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesTaxGeocode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="SalesTaxInsideCityLimits" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FaLocationId" nillable="true" type="xsd:long"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreatedByModule" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="GeometryStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ValidationStatusCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="DateValidated" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="DoNotValidateFlag" nillable="true" type="xsd:boolean"/>
            <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="HouseType" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date"/>
            <xsd:element minOccurs="0" name="AddrElementAttribute1" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddrElementAttribute2" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddrElementAttribute3" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddrElementAttribute4" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AddrElementAttribute5" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Building" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="FloorNumber" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="StatusFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="InternalFlag" type="xsd:boolean" sdoXML:dataType="sdoJava:BooleanObject"/>
            <xsd:element minOccurs="0" name="TimezoneCode" nillable="true" type="xsd:string"/>
            <xsd:element minOccurs="0" name="Latitude" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="Longitude" nillable="true" type="xsd:decimal"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="LocationProfile" type="LocationProfile"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="OriginalSystemReference" type="ns1:OriginalSystemReference"/>
            <xsd:element minOccurs="0" name="LocationInformation" type="ns2:LocationInformation" sdoXML:dataType="sdo:DataObject"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="location" type="Location"/>
    <xsd:element name="locationResult" type="LocationResult"/>
</xsd:schema>
