PaaS_SaaS_Accelerator_RESTFulFacade/FusionProxy_InteractionService/classes/oracle/demo/pts/fusionproxy/interaction/InteractionAssociation.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     sdoJava:package="oracle.apps.crmCommon.interactions.interactionService" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/"
     xmlns:sdoJava="commonj.sdo/java" xmlns:sdoXML="commonj.sdo/xml" xmlns="http://xmlns.oracle.com/apps/crmCommon/interactions/interactionService/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
            <name>Interaction Association</name>
            <description>An association data object that represents an interaction in the
                context of an Oracle Fusion Applications business object such as
                an opportunity or lead.</description>
            <oer:category name="lba">
                <value>CrmCommonComponent-CRM Common Components</value>
                <value>CrmCommonComponent-CRM Common Components :
                    AppCmmnCompInteractions-Interactions</value>
            </oer:category>
            <oer:attributes>
                <oer:attribute description="Unique Identifier for the Interaction Associations Table."
                     name="InteractionAssociationId"/>
                <oer:attribute description="This references the interaction that the corresponding associated object belongs to. All Business objects corresponding to Interaction is identified by this attribute."
                     name="InteractionId"/>
                <oer:attribute description="ID of the ZMM Object, from the Objects Metadata. It will hold consuming product table&apos;s information, and corresponding ObjectId is retireved using Objects Metadata"
                     name="AssociatedObjectUid"/>
                <oer:attribute description="ID of the ZMM Object Type, from the Objects Metadata.It will hold consuming product table&apos;s information, and corresponding Object Type is retireved using Objects Metadata"
                     name="AssociatedObjectCode"/>
                <oer:attribute description="Sequence of business objects for an interaction. Sequence can be like Create an order, update a service request, and create an opportunity. All the above-mentioned will generate a sequence."
                     name="AssociationSequenceNumber"/>
                <oer:attribute description="Tracks kind of action performed on the Business object. Like created, updated, viewed, re-opened, closed etc. Value is Obtained through lookup"
                     name="ActionCode"/>
                <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)."
                     name="ConflictId"/>
                <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried."
                     name="ObjectVersionNumber"/>
                <oer:attribute description="Who column: indicates the date and time of the creation of the row."
                     name="CreationDate"/>
                <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy"/>
                <oer:attribute description="Who column: indicates the date and time of the last update of the row."
                     name="LastUpdateDate"/>
                <oer:attribute description="Who column: indicates the user who last updated the row."
                     name="LastUpdatedBy"/>
                <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row."
                     name="LastUpdateLogin"/>
            </oer:attributes>
        </xsd:documentation>
    </xsd:annotation>
    <xsd:import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="BC4JService.xsd"/>
    <xsd:import namespace="commonj.sdo/java" schemaLocation="sdoJava.xsd"/>
    <xsd:import namespace="commonj.sdo/xml" schemaLocation="sdoXML.xsd"/>
    <xsd:complexType name="InteractionAssociation">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>InteractionAssociationId</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="InteractionAssociationId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="InteractionId" type="xsd:long" sdoXML:dataType="sdoJava:LongObject"/>
            <xsd:element minOccurs="0" name="AssociatedObjectUid" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssociatedObjectCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="AssociationSequenceNumber" nillable="true" type="xsd:long"/>
            <xsd:element default="CREATED" minOccurs="0" name="ActionCode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="ConflictId" nillable="true" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="ObjectVersionNumber" type="xsd:int" sdoXML:dataType="sdoJava:IntObject"/>
            <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp"/>
            <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string"/>
            <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="interactionAssociation" type="InteractionAssociation"/>
</xsd:schema>
