paas4saas/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/OpportunityServiceReference/Opportunity.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:ns2="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" xmlns:ns4="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" xmlns:sdoXML="commonj.sdo/xml" xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" xmlns:ns1="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" xmlns:ns3="http://xmlns.oracle.com/oracle/apps/sales/opptyMgmt/revenues/revenueService/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/" sdoJava:package="oracle.apps.sales.opptyMgmt.opportunities.opportunityService" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RevenueTerritory.xsd" namespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/Revenue.xsd" namespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/crmCommon/notes/noteService/Note.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/notes/noteService" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RevenuePartner.xsd" namespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RevenueLineSet.xsd" namespace="http://xmlns.oracle.com/oracle/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/CategorySummaryRevenue.xsd" namespace="http://xmlns.oracle.com/oracle/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/crmCommon/activities/activitiesService/TransientAppointment.xsd" namespace="http://xmlns.oracle.com/apps/crmCommon/activities/activitiesService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/SplitRevenue.xsd" namespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/revenues/revenueService/RecurringRevenue.xsd" namespace="http://xmlns.oracle.com/apps/sales/opptyMgmt/revenues/revenueService/" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoJava.xsd" namespace="commonj.sdo/java" />
  <xsd:import schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/xml/sdoXML.xsd" namespace="commonj.sdo/xml" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityContact.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityResource.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityReference.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityCompetitor.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunitySource.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityLead.xsd" />
  <xsd:include schemaLocation="https://cafd-test.crm.us2.oraclecloud.com:443/opptyMgmtOpportunities/OpportunityService?XSD=/oracle/apps/sales/opptyMgmt/opportunities/opportunityService/OpportunityResponse.xsd" />
  <xsd:annotation>
    <xsd:documentation xmlns:oer="http://xmlns.oracle.com/oer">
      <name xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">Opportunity</name>
      <description xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">An opportunity is used by a sales organization to track information about a potential sale such as the sales account, key contacts, product interests, and potential revenues.</description>
      <oer:category name="lba" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top</value>
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">SalesTop-Sales : OpptyMgmtTop-Sales Opportunity Top : OpptyMgmtOpportunities-Opportunities</value>
      </oer:category>
      <oer:category name="lbo" xmlns:oer="http://xmlns.oracle.com/oer">
        <value xmlns="http://xmlns.oracle.com/apps/sales/opptyMgmt/opportunities/opportunityService/">CRM-CRM : MOO-Opportunity Management : MOO_OPPORTUNITY-Opportunity</value>
      </oer:category>
      <oer:attributes xmlns:oer="http://xmlns.oracle.com/oer">
        <oer:attribute description="Date when the budget will be available." name="BudgetAvailableDate" />
        <oer:attribute description="Indicates if the opportunity sales account has its budget approved for the potential purchase." name="BudgetedFlag" />
        <oer:attribute description="Identifier of the business unit to which this opportunity belongs." name="PrimaryOrganizationId" />
        <oer:attribute description="Indicates if this opportunity has a key internal sponsor." name="ChampionFlag" />
        <oer:attribute description="Disconnected Mobile: this value is used to guarantee the uniqueness of the row when duplicates are created in different databases (i.e. mobile databases or the server)." name="ConflictId" />
        <oer:attribute description="Who column: indicates the user who created the row." name="CreatedBy" />
        <oer:attribute description="Who column: indicates the date and time of the creation of the row." name="CreationDate" />
        <oer:attribute description="The currency the opportunity amount is based on." name="CurrencyCode" />
        <oer:attribute description="Sales method identifier for this opportunity. This indicates the sales process used." name="SalesMethodId" />
        <oer:attribute description="Identifier of the sales stage of the opportunity." name="SalesStageId" />
        <oer:attribute description="Customer account associated with the opportunity." name="CustomerAccountId" />
        <oer:attribute description="Indicates how long it may take to close the deal. This field refers to the lookup type MOO_DEAL_HORIZON." name="DealHorizonCode" />
        <oer:attribute description="Indicates the decision level at the opportunity sales account to commit. This field refers to the lookup type MOO_DECISION_LEVEL." name="DecisionLevelCode" />
        <oer:attribute description="Description of the opportunity." name="Description" />
        <oer:attribute description="Who column: indicates the date and time of the last update of the row." name="LastUpdateDate" />
        <oer:attribute description="Who column: indicates the user who last updated the row." name="LastUpdatedBy" />
        <oer:attribute description="Who column: indicates the session login associated to the user who last updated the row." name="LastUpdateLogin" />
        <oer:attribute description="Name of the opportunity." name="Name" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber" />
        <oer:attribute description="Opportunity identifier." name="OptyId" />
        <oer:attribute description="Opportunity number." name="OptyNumber" />
        <oer:attribute description="Identifier of the opportunity owner." name="OwnerResourcePartyId" />
        <oer:attribute description="Identifier of the primary competitor of this opportunity." name="PrimaryCompetitorId" />
        <oer:attribute description="Identifier of the primary contact." name="KeyContactId" />
        <oer:attribute description="Win/Loss reason of the opportunity. Valid values from the MOO_WIN_LOSS_REASON lookup type." name="ReasonWonLostCode" />
        <oer:attribute description="Indicates the risk level for this opportunity. This field refers to the lookup type MOO_RISK_LEVEL." name="RiskLevelCode" />
        <oer:attribute description="Status of the opportunity. Valid values from the MOO_OPTY_STATUS lookup type." name="StatusCode" />
        <oer:attribute description="Indicates the level of the strategic value to work with the opportunity sales account. This field refers to the lookup type MOO_STRATEGIC_VALUE." name="StrategicLevelCode" />
        <oer:attribute description="Identifier for the summary revenue line for the opportunity. The summary revenue line stores the total revenue amount of an opportunity." name="PrimaryRevenueId" />
        <oer:attribute description="Party identifier of the opportunity sales account." name="TargetPartyId" />
        <oer:attribute description="Disconnected Mobile: indicates the date and time of the last update of the row. This value is different from LAST_UPDATE_DATE if the update originally happened in a different database (i.e. a different mobile database or the server)." name="UserLastUpdateDate" />
        <oer:attribute description="Name of the sales account." name="TargetPartyName" />
        <oer:attribute description="D-U-N-S number of the sales account." name="DUNSNumber" />
        <oer:attribute description="Sales method of the opportunity." name="SalesMethod" />
        <oer:attribute description="Object version number of the sales method associated to the opportunity." name="SalesMethodEOObjVerNumber" />
        <oer:attribute description="Sales stage of the opportunity." name="SalesStage" />
        <oer:attribute description="Sales objective of the opportunity." name="DescriptionText" />
        <oer:attribute description="Average days an opportunity remains in the current sales stage." name="AverageDaysAtStage" />
        <oer:attribute description="Maximum days the opportunity can be in the sales stage prior to considering it stalled." name="MaximumDaysInStage" />
        <oer:attribute description="Phase of the opportunity sales stage." name="PhaseCd" />
        <oer:attribute description="Quota factor of the opportunity sales stage." name="QuotaFactor" />
        <oer:attribute description="Recommended win probability for an opportunity in the sales stage" name="RcmndWinProb" />
        <oer:attribute description="Default status for the opportunity sales stage." name="StageStatusCd" />
        <oer:attribute description="Order of the opportunity's sales stage within the sales method." name="StgOrder" />
        <oer:attribute description="Object version number of the sales stage associated to the opportunity." name="SalesStageEOObjVerNumber" />
        <oer:attribute description="Estimated close date for the opportunity." name="EffectiveDate" />
        <oer:attribute description="Revenue amount." name="Revenue" />
        <oer:attribute description="descoped attribute, do not use." name="RevenueType" />
        <oer:attribute description="Revenue identifier." name="RevnId" />
        <oer:attribute description="descoped attribute, do not use." name="EmployeesTotal" />
        <oer:attribute description="descoped attribute, do not use." name="CurrentFyPotentialRevenue" />
        <oer:attribute description="Win probability percent." name="WinProb" />
        <oer:attribute description="Used to implement optimistic locking. This number is incremented every time that the row is updated. The number is compared at the start and end of a transaction to detect whether another session has updated the row since it was queried." name="ObjectVersionNumber1" />
        <oer:attribute description="Name of the primary contact." name="PrimaryContactPartyName" />
        <oer:attribute description="Party identifier of the primary contact." name="PrimaryContactPartyId" />
        <oer:attribute description="Formatted phone number for the primary contact on the opportunity." name="PrimaryContactFormattedPhoneNumber" />
        <oer:attribute description="E-mail address of the primary contact." name="PrimaryContactEmailAddress" />
        <oer:attribute description="Account number of the opportunity sales account." name="AccountNumber" />
        <oer:attribute description="Name of the primary competitor." name="PartyName" />
        <oer:attribute description="descoped attribute, do not use." name="LocationId" />
        <oer:attribute description="descoped attribute, do not use." name="FormattedAddress" />
        <oer:attribute description="descoped attribute, do not use." name="City" />
        <oer:attribute description="descoped attribute, do not use." name="Country" />
        <oer:attribute description="descoped attribute, do not use." name="PostalCode" />
        <oer:attribute description="descoped attribute, do not use." name="State" />
        <oer:attribute description="Budget amount from the sales account." name="BdgtAmount" />
        <oer:attribute description="Comments about this opportunity." name="Comments" />
        <oer:attribute description="Name of the opportunity owner." name="PartyName1" />
        <oer:attribute description="Primary marketing source or campaign that generated this opportunity." name="PrSrcNumber" />
        <oer:attribute description="Worst case amount." name="DownsideAmount" />
        <oer:attribute description="Best case amount." name="UpsideAmount" />
        <oer:attribute description="E-mail address of the opportunity owner." name="EmailAddress" />
        <oer:attribute description="The date when the opportunity is last assigned." name="LastAssignedDate" />
        <oer:attribute description="The timestamp when the opportunity is last assigned." name="LastAssignedTimestamp" />
        <oer:attribute description="Status category of the opportunity." name="LookupCategory" />
        <oer:attribute description="Lookup value identifier for the opportunity status." name="LookupValuesId" />
        <oer:attribute description="Replicates WHO column creation_date for functional use." name="OptyCreationDate" />
        <oer:attribute description="Expected revenue amount." name="ExpectAmount" />
        <oer:attribute description="Preferred functional currency of the opportunity sales account." name="PreferredFunctionalCurrency" />
        <oer:attribute description="This is a derived column. For Organization party, it is the concatenation of unique_name_alias and the suffix. For Person party, this is the concatenation of person_name and suffix." name="PartyUniqueName" />
        <oer:attribute description="Relationship identifier of the primary contact on the opportunity." name="PrConRelationshipId" />
        <oer:attribute description="Replicates WHO column CREATED_BY for functional use." name="OptyCreatedBy" />
        <oer:attribute description="This rate is used for the conversion of the revenue amount to the CRM common currency to facilitate the computation of the revenue forecast metrics. This is the amount that one currency can be exchanged for, at a specific point of time." name="CrmConversionRate" />
        <oer:attribute description="Opportunity revenue amount converted to the corporate currency." name="CrmRevenue" />
        <oer:attribute description="Indicates whether the sales method on the opportunity is revenue line set enabled." name="RevnLineSetEnabledFlag" />
        <oer:attribute description="The party type can only be Person, Organization, or Group." name="PartyType" />
        <oer:attribute description="Replicates WHO column last_update_date for functional use." name="OptyLastUpdateDate" />
        <oer:attribute description="Replicates WHO column last_updated_by for functional use." name="OptyLastUpdatedBy" />
        <oer:attribute description="Indicates the sales channel for the opportunity." name="SalesChannelCd" />
        <oer:attribute description="The line of business that is responsible for the opportunity." name="LineOfBusinessCode" />
        <oer:attribute description="Indicates if the contact has specified a phone preference." name="PhonePreferenceExistsFlag" />
        <oer:attribute description="Unique name of the primary opportunity competitor" name="PartyUniqueName1" />
        <oer:attribute description="Name of the business unit to which this opportunity belongs." name="PrimaryOrganizationName" />
        <oer:attribute description="Identifier of the opportunity sales account." name="SalesAccountId" />
        <oer:attribute description="Name of the sales account." name="SalesAccountUniqueName" />
        <oer:attribute description="The First Name of the Target Party for the Opportunity." name="ConsumerFirstName" />
        <oer:attribute description="The Last Name of the Target Party for the Opportunity." name="ConsumerLastName" />
        <oer:attribute description="The First Name of the Primary Contact for the Opportunity." name="PrimaryContactFirstName" />
        <oer:attribute description="The Last Name of the Primary Contact for the Opportunity." name="PrimaryContactLastName" />
        <oer:attribute description="Contacts associated with the opportunity." name="OpportunityContact" />
        <oer:attribute description="Territories assigned to the opportunity." name="RevenueTerritory" />
        <oer:attribute description="Resources on the opportunity team." name="OpportunityResource" />
        <oer:attribute description="Revenue items on the opportunity." name="ChildRevenue" />
        <oer:attribute description="Notes associated with the opportunity." name="Note" />
        <oer:attribute description="References associated with the opportunity." name="OpportunityReference" />
        <oer:attribute description="All competitors associated with the opportunity, including both primary and non-primary competitors." name="OpportunityCompetitor2" />
        <oer:attribute description="Non-primary competitors associated with the opportunity." name="OpportunityCompetitor3" />
        <oer:attribute description="Marketing sources associated to the opportunity." name="OpportunitySource1" />
        <oer:attribute description="Leads associated to the opportunity." name="OpportunityLead" />
        <oer:attribute description="Marketing responses associated with the opportunity." name="OpportunityResponse" />
        <oer:attribute description="Partners associated to the opportunity." name="RevenuePartnerPrimary" />
        <oer:attribute description="Revenue line set associated with the opportunity." name="RevenueLineSet" />
        <oer:attribute description="Category summary revenue for revenue line set enabled opportunity" name="CategorySummaryRevenue" />
        <oer:attribute description="Appointments associated with the opportunity." name="Appointment" />
        <oer:attribute description="The revenue or nonrevenue credit allocated to resources who have contributed to the selling effort for the opportunity." name="SplitRevenue" />
        <oer:attribute description="The revenues that span over a period of time sourced from the same product on the opportunity." name="RecurringRevenue" />
      </oer:attributes>
    </xsd:documentation>
  </xsd:annotation>
  <xsd:complexType name="Opportunity">
    <xsd:annotation>
      <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
        <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
          <attribute>OptyId</attribute>
        </key>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="BudgetAvailableDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="BudgetedFlag" nillable="true" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PrimaryOrganizationId" type="xsd:long" />
      <xsd:element sdoXML:dataType="sdoJava:BooleanObject" minOccurs="0" name="ChampionFlag" type="xsd:boolean" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="ConflictId" type="xsd:long" />
      <xsd:element minOccurs="0" name="CreatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="CreationDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="CurrencyCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesMethodId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesStageId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="CustomerAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="DealHorizonCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DecisionLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Description" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateDate" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="LastUpdatedBy" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastUpdateLogin" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Name" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber" type="xsd:int" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OptyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OptyNumber" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="OwnerResourcePartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryCompetitorId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="KeyContactId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="ReasonWonLostCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="RiskLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StatusCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StrategicLevelCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryRevenueId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="TargetPartyId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="UserLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="TargetPartyName" type="xsd:string" />
      <xsd:element minOccurs="0" name="DUNSNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesMethod" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="SalesMethodEOObjVerNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="SalesStage" type="xsd:string" />
      <xsd:element minOccurs="0" name="DescriptionText" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AverageDaysAtStage" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="MaximumDaysInStage" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="PhaseCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="QuotaFactor" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RcmndWinProb" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="StageStatusCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="StgOrder" nillable="true" type="xsd:decimal" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="SalesStageEOObjVerNumber" type="xsd:int" />
      <xsd:element minOccurs="0" name="EffectiveDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="Revenue" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RevenueType" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="RevnId" type="xsd:long" />
      <xsd:element minOccurs="0" name="EmployeesTotal" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="CurrentFyPotentialRevenue" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="WinProb" nillable="true" type="xsd:decimal" />
      <xsd:element sdoXML:dataType="sdoJava:IntObject" minOccurs="0" name="ObjectVersionNumber1" type="xsd:int" />
      <xsd:element minOccurs="0" name="PrimaryContactPartyName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="PrimaryContactPartyId" type="xsd:long" />
      <xsd:element minOccurs="0" name="PrimaryContactFormattedPhoneNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactEmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="AccountNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LocationId" type="xsd:long" />
      <xsd:element minOccurs="0" name="FormattedAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="City" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="Country" type="xsd:string" />
      <xsd:element minOccurs="0" name="PostalCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="State" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="BdgtAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="Comments" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyName1" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrSrcNumber" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="DownsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="UpsideAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="EmailAddress" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastAssignedDate" nillable="true" type="ns0:date-Date" />
      <xsd:element minOccurs="0" name="LookupCategory" nillable="true" type="xsd:string" />
      <xsd:element sdoXML:dataType="sdoJava:LongObject" minOccurs="0" name="LookupValuesId" type="xsd:long" />
      <xsd:element minOccurs="0" name="OptyCreationDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="ExpectAmount" nillable="true" type="ns0:AmountType" />
      <xsd:element minOccurs="0" name="PreferredFunctionalCurrency" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PartyUniqueName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrConRelationshipId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="OptyCreatedBy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="CrmConversionRate" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="CrmRevenue" nillable="true" type="xsd:decimal" />
      <xsd:element minOccurs="0" name="RevnLineSetEnabledFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PartyType" type="xsd:string" />
      <xsd:element minOccurs="0" name="OptyLastUpdateDate" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" name="OptyLastUpdatedBy" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesChannelCd" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LineOfBusinessCode" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PhonePreferenceExistsFlag" nillable="true" type="xsd:boolean" />
      <xsd:element minOccurs="0" name="PartyUniqueName1" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryOrganizationName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="SalesAccountId" nillable="true" type="xsd:long" />
      <xsd:element minOccurs="0" name="SalesAccountUniqueName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ConsumerFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="ConsumerLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactFirstName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="PrimaryContactLastName" nillable="true" type="xsd:string" />
      <xsd:element minOccurs="0" name="LastAssignedTimestamp" nillable="true" type="ns0:dateTime-Timestamp" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityContact" type="OpportunityContact" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="ChildRevenue" type="ns1:Revenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Note" type="ns2:Note" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityReference" type="OpportunityReference" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityCompetitor2" type="OpportunityCompetitor" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityCompetitor3" type="OpportunityCompetitor" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityResource" type="OpportunityResource" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunitySource1" type="OpportunitySource" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityLead" type="OpportunityLead" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="OpportunityResponse" type="OpportunityResponse" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RevenueTerritory" type="ns1:RevenueTerritory" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RevenuePartnerPrimary" type="ns1:RevenuePartner" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RevenueLineSet" type="ns3:RevenueLineSet" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="CategorySummaryRevenue" type="ns3:CategorySummaryRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="Appointment" type="ns4:TransientAppointment" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="SplitRevenue" type="ns1:SplitRevenue" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="RecurringRevenue" type="ns1:RecurringRevenue" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="opportunity" type="Opportunity" />
</xsd:schema>