paas4saas/PaaS-SaaS_DotNet/FusionApplicationAccelerator/FusionApplicationAccelerator/Service References/UserDetailsServiceReference/UserDetailsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns:ns0="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" xmlns:tns="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/types/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/types/" xmlns="http://www.w3.org/2001/XMLSchema">
  <import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/" />
  <import schemaLocation="https://cafd-test.hcm.us2.oraclecloud.com:443/hcmPeopleRolesV2/UserDetailsService?XSD=/oracle/apps/hcm/people/roles/userDetailsServiceV2/UserDetails.xsd" namespace="http://xmlns.oracle.com/apps/hcm/people/roles/userDetailsServiceV2/" />
  <element name="findUserDetailsByUsername">
    <complexType>
      <sequence>
        <element name="Username" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByUsernameResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonNumber">
    <complexType>
      <sequence>
        <element name="PersonNumber" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonNumberResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonId">
    <complexType>
      <sequence>
        <element name="PersonId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonIdResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findSelfUserDetails">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findSelfUserDetailsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonIdAsync">
    <complexType>
      <sequence>
        <element name="PersonId" type="long" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonIdAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findSelfUserDetailsAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="findSelfUserDetailsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByUsernameAsync">
    <complexType>
      <sequence>
        <element name="Username" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByUsernameAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonNumberAsync">
    <complexType>
      <sequence>
        <element name="PersonNumber" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="findUserDetailsByPersonNumberAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns0:UserDetailsResult" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHints">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTime">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityList">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getEntityListAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getEntityListAsyncResponse">
    <complexType>
      <sequence>
        <element minOccurs="0" maxOccurs="unbounded" name="result" type="ns1:ServiceViewInfo" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsync">
    <complexType>
      <sequence>
        <element name="viewName" type="string" />
        <element name="localeName" type="string" />
      </sequence>
    </complexType>
  </element>
  <element name="getDfltObjAttrHintsAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:ObjAttrHints" />
      </sequence>
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsync">
    <complexType>
      <sequence />
    </complexType>
  </element>
  <element name="getServiceLastUpdateTimeAsyncResponse">
    <complexType>
      <sequence>
        <element name="result" type="ns1:dateTime-Timestamp" />
      </sequence>
    </complexType>
  </element>
</schema>